@import '../../../../css/general_styling';

.img-success {
  height: 50px;
}
.success-wrapper {
  flex-direction: column;
  display: flex;
  height: 70vh;
  .success-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    h1 {
      @include secondary-text($h2, #00d793);
      margin-top: 0.3em;
    }
    p {
      @include primary-text($body, $dark-grey);
      margin: 0.3em 0 1em 0;
    }
    button {
      width: 200px;
    }
    h1,
    p {
      width: 100%;
      text-align: center;
    }
  }
}
