@import '../../../css/general_styling';

.BulkImportStepsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .ContentHeader {
    display: block !important;
    h3 {
      @include primary-text($h3, $dark-grey);
      font-weight: bold;
    }
    p {
      @include primary-text($body, #7f92a6);
    }
  }
  .BulkImportContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;

    .StepCard {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 307px;
      cursor: pointer;
      margin: 0 1em;
    }

    .ant-col {
      margin: 7px;
    }
  }

  .FooterButton {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 960px) {
  .BulkImportContainer {
    .BulkImportContent {
      flex-direction: column;
      .StepCard {
        margin: 1em;
      }
    }
  }
}
