@import '../../css/general_styling.scss';

.mainSiteBtn {
  display: none;
}

@media only screen and (max-width: 500px) {
  .mainSiteBtn {
    display: flex;
  }
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
  background-color: transparent!important;
}