@import "../../../../css/general_styling";

.TypeCard {
  border-radius: 6px;
  padding: 0.5em 2.5em 0.5em 1em;
  width: 269px;
  height: 67px;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.TypeCard2 {
  border-radius: 6px;
  padding: 0.5em 1em;
  width: 269px;
  height: 67px;
  margin: 0.5em;
}
.TypeCard2:first-child {
  margin-left: 0;
}

.header-name {
  display: flex;
  align-items: center;
  @include primary-text($button, $black);
  font-variant: normal;
}

.img-logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
