@import "../../../../css/general_styling";

.TypeCard {
  border-radius: 6px;
  padding: 25px;
  width: 260px;
  height: 260px;
}

.TypeCard2 {
  border-radius: 6px;
  padding: 0.5em 1em;
  height: 50px;
  width: 260px;
  margin: 0.5em;
}
.TypeCard2:first-child {
  margin-left: 0;
}

.header-name {
  display: flex;
  align-items: center;
  @include primary-text($button, $black);
  font-variant: normal;
}

.img-logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.line {
  width: 100%;
  border: 0.5px solid #e0e0e0;
  margin: 15px 0;
}
