@import '../../../../css/general_styling';

.GroupTableContainer {
  .PaginatedTable {
    .ant-table-body {
      height: 60vh;
      overflow-x: auto !important;
      overflow-y: auto !important;
    }
  }
}
