@import '../../../../css/general_styling';

.modalTitle {
  margin: 0;
  font-weight: bold;
  font-variant: normal;
  @include primary-text($h2, $black);
}

.modalContainer {
  border: 1px solid #eaecf0;
  border-radius: 5px;
  margin: 1em 0;
  .titleContainer {
    display: flex;
    justify-content: flex-start;
    @include primary-text($body, $grey);
    background: #f8f9f9;
    border-radius: 5px 5px 0 0;
    padding: 1em;
    margin-bottom: 1em;
    .col {
      width: 50%;
    }
    .col:nth-child(2) {
      margin-left: 2.5em;
    }
  }
  .input {
    .col {
      width: 45%;
    }
    .ant-input,
    .ant-select-selection {
      border: 1px solid $grey;
    }
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    .ant-input {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.modalSubtitle {
    @include primary-text($body, $black);
  }

.boxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .detailBox {
    width: 100%;
      height: auto;
      max-height: 300px;
      overflow-y: auto;
      .infoRow {
        .RowInfo {
          .contactsTitle {
            .contactsContainer {
              display: flex;
              flex-direction: column-reverse;
              line-height: normal;
              p {
                color: $secondary-color!important;
              }
              span {
                line-height: auto;
                text-transform: none;
              }
            }
            img {
              display: none;
            }
          }
        }
      }
  }
  button  {
      width: 100px;
  }
}
