@import '../../../../css/general_styling';

.CredentialActionModalContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2em;

  .ModalSubtitle {
    text-align: center;
  }

  img {
    width: 180px;
    margin-bottom: 1.5em;
  }

  h3 {
    @include secondary-text($h3, $primary-color);
    word-spacing: -4px;
  }

  p {
    @include primary-text($body, $secondary-color);
    margin-bottom: 1em;
    word-spacing: -4px;
    text-align: center;
  }
}

.FooterActionButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  button {
    width: 150px;
    margin: 0 0.5em;
  }
}
