@import '../../../../css/_general_styling';

.AlertInfo {
  background: #ffeaeb;
  border-radius: 2px;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-top: 2em;

  p {
    @include primary-text($body, $primary-color);
  }
}
