@import '../../../../css/general_styling';

.StepsInfo {
  background-color: $light-grey;
  padding: 3em 3em 0 3em;
  .NewCredentialTitle {
    h1 {
      @include secondary-text($h1, $black);
    }

    p {
      @include body-text($h3, $dark-grey, 400);
    }
  }

  .NewCredentialSteps {
    padding: 2em 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .StepLine {
      margin-bottom: 0.75em;
      &:last-child {
        margin-bottom: 0;
      }
      .StepLineContentActive {
        padding: 0.5em;
        background: #fff;
        border-radius: 60px;
        display: flex;
        align-items: center;
        width: 280px;
        box-shadow: $shadow;
        label {
          @include body-text($label, $secondary-color, 400);
          margin-left: 1em;
        }
      }

      .StepLineContent {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 280px;
        label {
          @include body-text($label, $secondary-color, 400);
          margin-left: 1em;
        }
      }
    }
  }
}
