version: "3"
services:

  cvp-envoy:
    build:
      context: cvp-envoy
    ports:
      - 127.0.0.1:8080:8080

  bitcoind:
    image: ruimarinho/bitcoin-core
    command:
      -printtoconsole
      -regtest=1
      -rpcallowip=0.0.0.0/0
      -rpcuser=bitcoin
      -rpcpassword=bitcoin
      -rpcbind=bitcoind:18333
    ports:
      - 127.0.0.1:18333:18333

  postgres:
    build:
      context: cvp-postgres
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_PASSWORD: postgres

  connector:
    build:
      context: ../../out/connector/docker-build/dest
      dockerfile: ../../../../connector/Dockerfile
    ports:
      - 127.0.0.1:50051:50051
      - 127.0.0.1:9095:9095
    depends_on:
      - postgres
    environment:
      CONNECTOR_PSQL_HOST: postgres
      CONNECTOR_PSQL_DATABASE: connector
      CONNECTOR_PSQL_USERNAME: connector
      CONNECTOR_PSQL_PASSWORD: connector

  node:
    build:
      context: ../../out/node/docker-build/dest
      dockerfile: ../../../../node/Dockerfile
    ports:
      - 127.0.0.1:50053:50053
      - 127.0.0.1:9096:9095
    depends_on:
      - postgres
      - bitcoind
    environment:
      NODE_PSQL_HOST: postgres
      NODE_PSQL_DATABASE: node
      NODE_PSQL_USERNAME: node
      NODE_PSQL_PASSWORD: node
      NODE_BITCOIND_HOST: bitcoind
      NODE_BITCOIND_PORT: 18333
      NODE_BITCOIND_USERNAME: bitcoin
      NODE_BITCOIND_PASSWORD: bitcoin

  management-console:
    build:
      context: ../../out/management-console/docker-build/dest
      dockerfile: ../../../../management-console/Dockerfile
    ports:
      - 127.0.0.1:50054:50054
      - 127.0.0.1:9097:9095
    depends_on:
      - postgres
    environment:
      MANAGEMENT_CONSOLE_PSQL_HOST: postgres
      MANAGEMENT_CONSOLE_PSQL_DATABASE: management_console
      MANAGEMENT_CONSOLE_PSQL_USERNAME: management_console
      MANAGEMENT_CONSOLE_PSQL_PASSWORD: management_console
