@import '../../css/general_styling';

.RegistrationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  //background-image: url('../../images/atala-white-bg.png');
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;

  .bgSquare {
    height: 1616px;
    width: 808px;
    background: #dee1e6;
    position: absolute;
    transform: rotate(-45deg);
    right:-10%;
    top:-100%;
    border-radius: 20px;
    z-index: -3;
  }

  .LangSelector {
    align-self: flex-end;
    margin: 1em;
  }

  .RegistrationContent {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background: $white;
    margin: 0 auto;
    box-shadow: $shadow;

    .AcceptTerms {
      height: 76%;
      padding: 2em;
      @include letter-spacing();

      h2 {
        @include secondary-text($h2, $secondary-color);
      }
      span {
        @include primary-text($body, $grey);
      }
    }

    .RegisterStep {
      height: 85%;
      width: 65%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 4em 0;

      .ant-form {
        align-self: flex-start;
        width: 40%;
        height: 40%;
        padding: 0 2em;
      }
    }
  }
}


@media only screen and (max-width: 1187px) {
  .RegistrationContainer {  
    .bgSquare {
      right:-30%;
    }
  }
}

@media only screen and (max-width: 890px) {
  .RegistrationContainer {  
    .bgSquare {
      right:-50%;
    }
  }
}

@media only screen and (max-width: 502px) {
  .RegistrationContainer {  
    .bgSquare {
      right:-100%;
    }
  }
}