@import '../../../../css/general_styling';

.PasswordSetup {
  height: 85%;
  width: 65%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .ant-form {
    align-self: flex-start;
    width: 40%;
    height: 40%;
    padding: 0 2em;
  }
}
