@import '../../../../css/general_styling';

.DownloadButtons {
  margin: 1em 0;
  display: flex;

  img {
    width: 120px;
  }
}

@media only screen and (max-width: 768px) {
  .DownloadButtons {
    img {
      width: 140px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .DownloadButtons {
    img {
      width: 125px;
    }
  }
}
