@import '../../css/general_styling.scss';

.headerBlog {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .backBtnContainer {
    margin: 1em 0;
    .backBtn {
      color: $primary-color;
      font-size: 12px;
      margin: 0;
    }
    img {
      margin: 0 0.5em 0 0;
      height: 12px;
    }
  }
  .headerLogo {
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
    z-index: 100;
  }
}
