@import '../../../../css/general_styling';

.TrustSection {
  background: $primary-color;
  width: 100%;

  .MobilePhones {
    margin-top: -200px;
    width: 1000px;

    @include breakpoint(md) {
      width: 100%;
      margin-top: 0;
    }

    @include breakpoint(sm) {
      display: none;
    }
  }

  .DownloadContainer {
    height: 100px;
    display: flex;
    float: right;
    width: 50%;
    flex-direction: column;
    padding-top: 7em;

    @include breakpoint(md) {
      align-items: flex-start;
      padding-right: 0;
      padding-left: 350px;
    }

    @include breakpoint(sm) {
      padding: 4em 2em;
      width: 100%;
      height: auto;
      align-items: center;
    }

    .MiniDetailText {
      color: $white;
    }

    h1 {
      @include secondary-text($h1, $white);
      line-height: 32px;
      width: 360px;
      margin-top: 0.5em;
    }
  }
}
