@import "../../../../css/general_styling";

.ActionsHeader {
  .SelectBtn {
    .ant-btn:first-child {
      display: none !important;
    }
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      color: white;
      border-color: transparent;
      background-color: $secondary-color;
    }
  }
}
.ActionsHeader div {
  margin: 0 0.5em;
}
