@import '../../css/general_styling';

.WrapperGroupCreation {
  padding: 2em 2em 0 2em;
  .Header {
    margin-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    .Title {
      h1 {
        @include primary-text($h1, $black);
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      h3 {
        @include primary-text($h3, $grey);
      }
    }
  }
  .flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    .SearchBar {
      display: flex;
      align-items: center;
      margin: 0 1em 0 0;
      .FilterControls {
        margin: 0 !important;
        .ContactFilters {
          width: 100%;
        }
      }
    }
    .groupsButtonContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.GroupCreationContent {
  width: 100%;
  padding-top: 0.5em;
  height: calc(100vh - 200px);
  overflow-y: auto;

  .box {
    .ai-center {
      margin: 0;
      display: flex;
      .anticon svg {
        margin-left: 0.5em;
        width: 14px;
        height: 14px;
      }
    }
  }

  .ant {
    &-form {
      &-item {
        margin-bottom: 0em;
      }
    }
  }

  .UtilsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    .SelectAll {
      margin-right: 1em;
    }
    .SearchBar {
      margin-top: 0.5em;
    }
  }
  .groupsCheckbox {
    display: flex;
    align-items: flex-end;
    margin: 0 20px 20px 0;
    span {
      @include body-text($body, $secondary-color, 400);
    }
  }
  .searchInput {
    .ant-input:focus {
      border-color: $primary-color !important;
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
    }
    .ant-input:hover {
      border-color: $primary-color !important;
    }
  }
  h3 {
    @include secondary-text($h3, $secondary-color);
    font-variant: normal;
    font-feature-settings: normal;
    margin-bottom: 1em;
    position: relative;
  }
}

.groupsSubtitle {
  @include primary-text($h3, #728099);
}
.addContactsContainer {
  .ConnectionsTable {
    height: calc(100% - 10px);
  }
  .textContactData {
    margin-right: 40px;
    h4 {
      @include primary-text($body, #728099);
    }
    span {
      @include primary-text($body, $secondary-color);
    }
  }
  .imgContactData {
    margin-right: 30px;
  }
  .contactsDataGroups {
    display: flex;
    align-items: center;
    background-color: #f8f9f9;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
  }
}
