@import '../../css/general_styling';

.AppContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-color: $secondary-color;

  .MainContent {
    display: flex;
    height: calc(100vh - #{$navbar-height});
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    .MainContainer {
      width: calc(100vw - #{$sidebar-width});
      background: $white;
      height: 100%;
      padding: 0 2%;
      @include breakpoint(sm) {
        width: 100vw;
        overflow-y: auto;
      }
      .ContentHeader {
        display: flex;
        justify-content: space-between;
        h1 {
          @include secondary-text($h1, $secondary-color);
        }
        h3 {
          @include secondary-text($body, $dark-grey);
        }
      }

      .FilterControls {
        display: flex;
        margin: 0.5em 0 1em;

        .ant-select {
          width: 100%;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: $dark-grey;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $dark-grey;
  border-radius: 20px;
}

.ant-table-body {
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $dark-grey;
    border-radius: 20px;
  }
}
