@import '../../../../css/general_styling';

.IntroItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  .HeaderItem {
    min-height: 145px;
    img {
      margin-bottom: 1.5em;
    }

    h2 {
      @include secondary-text($h3, $black);
    }

    p {
      @include primary-text($label, $black);
    }
  }

  .BulletItems {
    margin-top: 1.5em;

    li {
      margin-bottom: 1.25em;
      list-style: none;
      border-left: 1px solid $primary-color;
      padding-left: 1em;
      p {
        @include primary-text($label, $black);
      }
    }
  }
}
