@import '../../../../../css/general_styling';

.DeleteGroupModal {
  .ant-modal-body {
    padding-top: 3rem;
    .ant-row {
      justify-content: center;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }
    }
    .title {
      @include highlighted-text();
    }
    .FooterContainer {
      justify-content: space-evenly;
      button {
        padding: 0 3rem;
      }
    }
  }
}
