{% if node_key is defined %}
node-key = "{{node_key}}"
{% else %}
node-name = "{{node_name}}"
{% endif %}

server-host = "{{ip_addr}}"
server-port = 3000

gateway-host = localhost
gateway-port = 8000

akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "DEBUG"
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
}

telemetery {
  nodeTag = "test_node_{{node_name}}"
}

discovery {
  enabled = true
  interface = "{{disc_addr}}"
  port = 3001
  bootstrapNodes = [
    {% if bootstrap_peer_udp is defined %}
    {
      discoveryUri = "{{bootstrap_peer_udp}}"
      p2pUri = "{{bootstrap_peer_rlpx}}"
      capabilities = "01"
    }
    {% endif %}
    ]
  discoveredNodesLimit = 10
  scanNodesLimit = 10
  concurrencyDegree = 20
  scanInitialDelay = 2500
  scanInterval = 2500
  messageExpiration = 100000
  maxSeekResults = 10
  multipleConnectionsPerAddress = true
  blacklistDefaultDuration = 30000
}

db {
  default {
    driver = "org.h2.Driver"
    url = "jdbc:h2:file:/tmp/db/default"
    user="sa"
    password=""
    poolInitialSize=5
    poolMaxSize=7
    poolConnectionTimeoutMillis=1000
    poolValidationQuery="select 1 as one"
    poolFactoryName="commons-dbcp2"
  }
}
