@import '../../css/general_styling.scss';

.Tabs {
  max-width: 630px;
  margin: 0 auto;
  display: flex;
  .column {
    flex-direction: column;
  }
  .comments {
    display: flex;
    width: 100%;
    margin: 2em 0 0 0;
    .user {
      img {
        margin-right: 1em;
      }
      p {
        margin:0;
        @include primary-text(12px, $dark-grey);
        font-weight: bold;
      }
      display: flex;
      align-items: center;
    }
    .commentBox {
      @include primary-text(12px, $black);
      margin-left: 30px;
      padding-left: 1em;
    }
    textarea {
      width: 100%;
    }
    button {
      margin-left: 1em;
    }
  }

  .controlers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btnSection {
      display: flex;
      width: 33%;
      align-items: center;
      p {
        margin: 0 0.5em 0 0;
        @include primary-text(12px, $dark-grey);
        font-weight: bold;
        text-transform: uppercase;
      }
      .img {
        margin: 0 0.5em;
      }
      .likeCount {
        background-color: $dark-grey;
        border-radius: 4px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          @include primary-text(12px, white);
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    @include primary-text(14px, $primary-color);
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $primary-color;
  }
  .ant-tabs-ink-bar {
    background-color: $primary-color;
  }
  .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
  .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
    display: flex;
    flex-wrap: wrap;
  }
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ffe6e6;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ffe6e6;
}

.ant-select-selection:hover {
  border-color: $primary-color;
  border-right-width: 1px !important;
}

.ant-select-open .ant-select-selection {
  border-color: $primary-color;
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
}

@media only screen and (max-width: 681px) {
  .Tabs {
    margin-top: 2em;
    .controlers {
      justify-content: flex-start;
      .btnSection {
        height: 50px;
        .likeCount {
          p {
            display: flex;
          }
        }
        p {
          display: none;
        }
      }
    }
    .comments {
      flex-wrap: wrap;
      .user {
        width: 100%;
        margin: 0 0 1em 0;
      }
      button {
        width: 100%;
        margin: 1.5em 0 0 0;
      }
    }
  }
}
