<div class="row">
  <div class="col-12 col-md-3">
    <h2>Identities</h2>
  </div>

  <div class="w-100"></div>
  <ul class="list-group col-12 col-md-3">
    <li *ngFor="let item of identityRepository.getUnconfirmedIdentities()" type="button" class="list-group-item list-group-item-action">
      {{item.identity}} - unconfirmed
    </li>
    <li *ngFor="let item of identityRepository.getConfirmedIdentities()" (click)="select(item)" [ngClass]="{ 'confirmed': isConfirmed(item.identity), 'active': isSelected(item) }"
        type="button" class="list-group-item list-group-item-action">
      {{item.identity}}
    </li>

    <form [formGroup]="form" (ngSubmit)="claim()" class="form row" novalidate>
      <div class="col-12">
        <input type="text" class="form-control" formControlName="data.identity" placeholder="New identity">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Claim</button>
      </div>
      <div class="col" [hidden]="!errorService.hasWrongValue(form, 'data.identity')">
        {{errorService.getFieldError(form, 'data.identity')}}
      </div>
    </form>
  </ul>

  <div *ngIf="selectedIdentity != null" class="col">
    <app-identity-details [identity]="selectedIdentity"></app-identity-details>
  </div>
</div>
