@import '../../css/general_styling';

.LandingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #fffafc;
  background-image: url('../../images/img-login.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  .LangSelector {
    align-self: flex-end;
    margin: 1em;
  }

  .LandingCard {
    background: $white;
    padding: 2em 5em;
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    .imgLogo {
      text-align: center;
      img {
        width: 150px;
      }
    }
    .loginImg {
      text-align: center;
      margin:0 auto;
      img {
        width: 150px;
      }
    }

    .WelcomeText {
      h3 {
        @include secondary-text($title, $secondary-color);
        @include letter-spacing();
        border-top: 1px solid $light-grey;
        padding: 0.5em 0 0.3em 0;
        text-align: center;
      }
      h2 {
        @include primary-text($h2, #728099);
        text-align: center;
      }
    }

    .LandingOptions {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        width: 300px;
        align-items: center;
        margin-top: 20px;
        @include breakpoint(md) {
          width: 100%;
        }
      }
    }
  }
}

.browserWalletOption {
  border-top: 1px solid #d6dbe2;
  padding: 20px 0 0 0;
  p {
    @include primary-text($body, #728099);
    text-align: center;
  }
  a {
    @include primary-text($body, $primary-color);
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .LandingContainer {
    .LandingCard {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 425px) {
  .LandingContainer {
    .LandingCard {
      margin: 0 auto;
      padding: 2em;
      width: 350px;
      height: 450px;
    }
  }
}
