@import '../../../../../css/_general_styling';

.PersonalInformation {
  padding: 0 3em;

  h1 {
    @include secondary-text($h1, $secondary-color);
    margin-bottom: 0.25em;
  }
}

.contactInformation {
  a {
    color: $primary-color;
    font-weight: 600;
    text-decoration: underline;
  }

  .DisableContainer {
    background-color: $primary-color-lighter;
    padding: 0.5em 1em;
    border-radius: 4px;
    p.Disable {
      @include primary-text($label, $primary-color);
      font-style: italic;

      .anticon {
        margin-right: 0.5em;
      }
    }
  }
}
