@import '../../../css/general_styling.scss';

.ant-menu-submenu-arrow {
  color: $primary-color !important;
}

.tutorialContainer {
  position: absolute;
  right: 2em;
  bottom: 0;

  .ant-menu-vertical .ant-menu-item.ant-menu-item-selected::after,
  .ant-menu-vertical-left .ant-menu-item.ant-menu-item-selected::after,
  .ant-menu-vertical-right .ant-menu-item.ant-menu-item-selected::after,
  .ant-menu-inline .ant-menu-item.ant-menu-item-selected::after {
    border: 3px solid transparent;
  }
  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: $primary-color;
  }
  .ant-menu-item {
    @include primary-text($body, $primary-color);
    font-variant: normal;
  }
  .ant-menu-submenu-open {
    box-shadow: $shadow;
    border-radius: 6px 6px 0 0;
  }
  .ant-menu-sub.ant-menu-inline {
    padding: 0.5em 0;
  }
  .ant-menu-submenu-title {
    border-bottom: 1px solid lightgray;
    @include primary-text($body, $black);
    .ant-menu-submenu-arrow:hover {
      color: $black;
    }
  }
  .progressChecklist {
    position: relative;
    width: 100%;
    background-color: transparent;
    p {
      position: absolute;
      z-index: 10;
      top: 20px;
      left: 30px;
      margin: 0;
      @include primary-text($label, $primary-color);
      font-variant: normal;
    }
  }
  .ant-progress-show-info .ant-progress-outer {
    margin: 0;
    padding: 0 1.5em;
    width: 100%;
  }
  .ant-menu-sub .ant-menu-inline {
    padding: 0 1em;
  }
  .ant-progress-inner {
    height: 25px;
    margin: 0.5em 0;
    background: #ffeaeb;
  }
  .ant-progress-bg {
    height: 25px !important;
  }
  .ant-progress-success-bg,
  .ant-progress-bg {
    background: #ffb6b9;
  }
  .ant-progress-text {
    display: none;
  }
  button {
    border: none;
    padding: 0;
    color: $primary-color;
  }
  button:hover {
    opacity: 0.5;
    color: $primary-color;
  }
  .ant-menu-item-only-child {
    margin-bottom: 0 !important;
  }
}

.tutorialSuccessModal {
  text-align: center;
  .ant-modal-footer {
    display: none;
  }
  .modalText {
    margin-bottom: 2em;
    h2 {
      @include primary-text($h2, $black);
      margin-top: 1em;
      font-variant: normal;
    }
    p {
      @include primary-text($body, $dark-grey);
      font-variant: normal;
    }
  }
  .buttonModal {
    display: flex;
    justify-content: center;
    button {
      width: 150px;
      margin: 0 1em;
    }
  }
}

.step1 {
  display: flex;
  width: 30%;
  .DashboardContactCardContainer {
    width: 100%;
  }
}

.TutorialPopover .ant-popover-content {
  width: 300px;
  padding: 1em;
  .popOverStep1 {
    display: flex;
    flex-direction: column;
    .steps {
      @include primary-text($label, $grey);
      font-variant: normal;
    }
    .popoverText {
      .subtitle {
        @include primary-text($body, $black);
        font-variant: normal;
      }
      h2 {
        @include primary-text($h2, $primary-color);
        font-variant: normal;
        font-weight: bold;
        margin-bottom: 1em;
      }
      p {
        @include primary-text($body, $dark-grey);
        font-variant: normal;
      }
    }
  }
  .popoverButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    .theme-outline {
      border: none;
      padding-left: 0;
    }
  }
}
