@import "../../../../css/general_styling";

.IconPickerModal {
  .ant-radio-wrapper {
    height: 60px;
    margin: 0.5em;
  }
  .ant-modal-header {
    .ant-modal-title {
      font-variant: normal;
    }
  }
  .ant-form-item-control-input-content {
    text-align: center;
    margin: 0;
  }
  .ant-form-item-required::before {
    display: none !important;
  }
  .ant-row {
    margin: 0;
  }
  .ant-upload {
    display: flex;
    width: 100%;
  }

  .verticalFlex {
    width: 100%;
    .iconSample {
      margin: 1em auto;
    }
    h3 {
      @include primary-text($h3, $black);
      font-variant: normal;
      font-weight: bold;
    }
    p {
      @include primary-text($body, grey);
      font-variant: normal;
    }
    button {
      margin: 0 auto;
      max-width: 12em;
    }
  }

  .buttonSection {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 260px;
      margin: 1em 0;
    }
  }

  span.ant-radio + * {
    padding: 0;
  }

  .TemplateIconSelector {
    .IconSelectorContainer {
      .ModalTitle {
        margin-top: 1em;
      }
      .UploaderContainer {
        width: 100%;
      }

      .UploaderContent {
        margin-top: 1em;
        width: 100%;
        .GalleryLabel {
          width: 100%;
          display: flex;
          margin: 1em 0 0 0;
          text-align: center;
        }
      }

      .DefaultGalleryContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }

    .ant-radio-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .IconPreview {
      height: 100px;
      width: 100px;
      text-align: center;
    }

    .IconPreviewPlaceholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .ant-radio {
      display: none;
    }

    .ant-upload-list {
      display: flex;
      flex-wrap: wrap;
    }

    .ant-upload-list-picture {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .IconOption {
        width: 60px;
        height: 60px;
      }
      .IconOptionPlaceholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
