@import '../../../../css/general_styling';

.CredentialIDTemplate {
  box-shadow: $shadow;
  height: max-content;
  border-radius: 6px;

  span {
    @include primary-text($explain, $grey);
  }
  p {
    @include primary-text($body, $black);
  }

  .HeaderTemplate {
    background: $light-grey;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;

    .FlagIcon {
      width: 40px;
    }
  }
  .ContentTemplate {
    padding: 1em;
    background: $white;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    .AvatarId {
      border-radius: 4px;
    }

    .InfoTemplate {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .TemplateItem {
        width: 50%;
        margin-bottom: 0.5em;
      }
    }

    .DegreeDate {
      display: flex;
      justify-content: space-between;
    }
  }
}
