<div class="row">
  <div class="col-12 col-md-3">
    <h2>Data Items</h2>
  </div>

  <div class="w-100"></div>
  <ul class="list-group col-12 col-md-3">
    <li *ngFor="let item of schema" (click)="select(item)"
      [class.active]="isSelected(item)" type="button"
      class="list-group-item list-group-item-action">
      {{item.name}}
    </li>
  </ul>

  <div *ngIf="selectedItem != null" class="col">
    <app-data-item-details [dataItem]="selectedItem"></app-data-item-details>
  </div>
</div>
