@import '../../../../css/general_styling';

.Header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25em 8em;
  align-items: center;
  background: $white;
  position: fixed;
  z-index: 500;

  box-shadow: $shadow-header;

  .Logo {
    img {
      height: 35px;
    }
  }
  .NavBar {
    justify-content: flex-end;
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .Header {
    padding: 1.25em 4em;
  }
}

@media only screen and (max-width: 768px) {
  .Header {
    padding: 1.25em 4em;
  }
}

@media only screen and (max-width: 450px) {
  .Header {
    padding: 1.25em 2em;
  }
}
