@import '../../../../css/general_styling';

.GroupsPageTableOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  .LeftOptions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .TableOptionButton {
      margin: .5em .5em .5em 0;
      padding: 0;
      color: $black;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      background-color: $light-grey;
    }
  }

  .no-border {
    border: none;
  }
}
