.DS_Store
.bazelrc.local
.bazel-*
.circleci/.process-v2.yml
.dazel_run
.idea/
.ijwb/
bazel-*
cef/network/db/
local.sbt
result
target/
*.iml
*.log
out/
.docker-volumes
.metals
**/.vscode
**/.ammonite/
**/.bloop/
*.worksheet.sc
**/metals.sbt
prism-interactive-demo-web/src/protos/intdemo
*.aux 
*.toc
*.pdf
.gradle/
node-cli/app/build/
