.DS_Store
.bazelrc.local
.bazel-*
.circleci/.process-v2.yml
.dazel_run
.idea/
.ijwb/
bazel-*
cef/network/db/
local.sbt
result
target/
*.iml
*.log
out/
.docker-volumes
.metals
**/.vscode
**/.ammonite/
**/.bloop/
*.worksheet.sc
**/metals.sbt
*.aux
*.toc
*.pdf
.idea_modules
.cvpwallet
.node
.terraform/
*.tfstate*
*.tfstate.backup
*.tfvars
mill
client-storage.txt
.bsp
*.sc
megalinter-reports
