@import '../../../src/css/general_styling';

.CredentialMainContent {
  display: flex;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  .WizardContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    max-height: 75vh;
    overflow-y: auto;
  }
  .CredentialContainerSide {
    width: 10%;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: $grey;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $grey;
      border-radius: 20px;
    }
  }

  .StepsFooter {
    height: 5em;
  }

  .GroupsNewCredential {
    .Wrapper {
      margin: 2em 0;
    }
  }
}
