@import '../../../../css/general_styling';

.TypeCard {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
  border-radius: 6px;
  padding: 25px;
  width: 24%;
  height: 15em;
}

.header-name {
  display: flex;
  align-items: center;
  @include primary-text($button, $black);
}

.img-logo {
  margin-right: 10px;
}

.line {
  width: 100%;
  border: 0.5px solid #e0e0e0;
  margin: 15px 0;
}

.img-credential {
  height: 8em;
}

.SelectedTypeCard {
  border: 1.5px solid #f83633;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
  border-radius: 6px;
  padding: 25px;
  width: 24%;
  height: 15em;
}
