@import '../../../../css/general_styling';

.FindCredential {
  padding: 8em 8em 1em 8em;
  background: $light-grey;
  margin-top: -30px;
  display: flex;
  width: 100%;

  @include breakpoint(lg) {
    padding: 8em 4em 1em 4em;
  }

  .MapContainer {
    width: 40%;
    margin-top: -2.5em;
    padding-left: 5em;
    .AtalaLogo,
    .CardanoLogo {
      display: none;
    }
  }

  .TextContainer {
    width: 60%;
    z-index: 100;
    @include breakpoint(sm) {
      width: 100%;
    }

    .MiniDetailText {
      color: $black;
    }

    .InteractiveDemoText {
      margin-left: 200px;
      h1 {
        @include secondary-text($h1, $black);
      }

      h3 {
        @include secondary-text($body, $primary-color);
        margin-top: 2em;
      }

      .StepTextItem {
        width: 300px;
        p {
          @include primary-text($body, $black);

          &.NumberText {
            font-weight: 700;
            margin-right: 0.5em;
          }
        }
      }

      .DisclaimerText {
        display: flex;
        width: 300px;
        p {
          @include primary-text($label, $primary-color);
          font-weight: 600;
        }
      }

      .theme-primary {
        margin: 2em 0;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .FindCredential {
    .TextContainer {
      .InteractiveDemoText {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .FindCredential {
    position: relative;

    .MapContainer {
      width: 100%;
      padding-left: 0;
    }
    .TextContainer {
      width: 65%;
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      padding: 1.5em;
    }
  }
}

@media only screen and (max-width: 450px) {
  .FindCredential {
    .TextContainer {
      width: 78%;
      .InteractiveDemoText {
        h1 {
          @include secondary-text($h2, $black);
        }
        .StepTextItem {
          width: 100%;
        }
        .DisclaimerText {
          width: 280px;
        }
      }
    }
  }
}
