@import '../../../../css/general_styling';

.FindCredential {
  padding: 4em 8em 1em 8em;
  background: $light-grey;
  margin-top: -30px;
  display: flex;
  width: 100%;

  @include breakpoint(md) {
    width: 100%;
  }

  .MapContainer {
    width: 45%;
    padding-top: 2em;
    .AtalaLogo,
    .CardanoLogo {
      display: none;
    }
  }

  .TextContainer {
    width: 55%;
    z-index: 100;
    @include breakpoint(sm) {
      width: 100%;
    }

    .MiniDetailText {
      color: $black;
    }

    .InteractiveDemoText {
      margin-left: 200px;
      h1 {
        @include secondary-text($h1, $black);
      }

      h3 {
        @include secondary-text($body, $primary-color);
        margin-top: 2em;
      }

      .StepTextItem {
        display: flex;
        width: 350px;
        p {
          @include primary-text($body, $black);
          margin-top: 0.5em;

          &.NumberText{
            font-weight: 700;
            margin-right: 0.5em;
          }
        }
      }

      button {
        margin-top: 2em;
      }
    }
  }
}
