@import "../../css/general_styling";

$cell-padding: 1.5rem;
$radius: 5px;
$last-col-width: 200px;

.ant-form-item-explain.ant-form-item-explain-error {
  @include primary-text(10px, $primary-color);
  margin-top: 0.5em;
}

.ContactsImport {
  .DynamicForm {
    width: 100%;
    border: 1px solid $medium-grey;
  }
}
.CredentialsImport {
  .DynamicForm {
    overflow: unset !important;
  }
}

.DynamicFormContainer {
  min-width: 100%;
  .DynamicFormHeader {
    margin: 0 0 1.5rem !important;
    .ant-col {
      margin-left: 0 !important;
      margin-right: 0 !important;
      .ant-btn {
        position: fixed;
        top: 128px;
        right: 30px;
      }
    }
  }
  .DynamicForm {
    border-radius: $radius;
    @include horizontal-scroll();
    .HeaderRow {
      display: inline-block;
      min-width: 100%;
      width: fit-content;
      background-color: $light-grey;
      color: $dark-grey;
      border-radius: $radius 0;
      border-bottom: 1px solid $medium-grey;
      .HeaderCol {
        display: inline-block;
        padding: 1rem $cell-padding;
        margin: 0 !important;
        &:last-child {
          width: fit-content;
          min-width: $last-col-width;
        }
      }
    }
    .IndividualFormRow {
      .ant-input,
      .ant-select-selection {
        border: 1px solid $grey;
      }
      .ant-input:focus {
        border-color: #f83633;
        box-shadow: 0 0 0 2px rgba(99, 99, 99, 0.2);
      }
      .ant-form-item-explain.ant-form-item-explain-error {
        @include primary-text(10px, $primary-color);
        margin-top: 0.5em;
      }
      .IndividualFormCol {
        padding: $cell-padding;
        &:last-child {
          min-width: $last-col-width;
        }
      }
    }
  }
}

.ContactsImport {
  .DynamicForm {
    .HeaderRow {
      .HeaderCol {
        &:last-child {
          float: right;
          display: flex;
          justify-content: center;
        }
      }
    }
    .IndividualFormRow {
      .IndividualFormCol {
        &:last-child {
          float: right;
          display: flex;
          justify-content: center;
          button {
            margin: 7px;
          }
        }
      }
    }
  }
}
