# keep in sync with docs/cardano/docker/docker-compose.yml
version: "3.5"

services:
  cardano-node:
    image: inputoutput/cardano-node:1.30.0
    environment:
      - NETWORK=${cardano_network}
    volumes:
      - node-db:/data/db
      - node-ipc:/ipc

  cardano-db-sync:
    image: inputoutput/cardano-db-sync:11.0.2
    environment:
      - NETWORK=${cardano_network}
      - POSTGRES_HOST=${postgres_host}
      - POSTGRES_PORT=${postgres_port}
    depends_on:
      - cardano-node
    secrets:
      - postgres_password
      - postgres_user
      - postgres_db
    volumes:
      - db-sync-data:/var/lib/cdbsync
      - node-ipc:/node-ipc

  cardano-wallet:
    image: inputoutput/cardano-wallet:2021.9.9
    depends_on:
      - cardano-node
    command: |
      serve
      --listen-address 0.0.0.0
      --node-socket /node-ipc/node.socket
      --testnet /node-config/mainnet-ci/testnet-genesis.json
      --database /wallet-db
    volumes:
      - node-config:/node-config
      - node-ipc:/node-ipc
      - wallet-db:/wallet-db
    ports:
      - "8090:8090"

secrets:
  postgres_db:
    file: ./secrets/postgres_db
  postgres_password:
    file: ./secrets/postgres_password
  postgres_user:
    file: ./secrets/postgres_user

volumes:
  node-config:
    driver: local
    driver_opts:
      type: none
      device: /cardano/cardano-node/configuration
      o: bind
  node-db:
    driver: local
    driver_opts:
      type: none
      device: /data/cardano-data/node-db
      o: bind
  node-ipc:
    driver: local
    driver_opts:
      type: none
      device: /data/cardano-data/node-ipc
      o: bind
  wallet-db:
    driver: local
    driver_opts:
      type: none
      device: /data/cardano-data/wallet-db
      o: bind
  db-sync-data:
    driver: local
    driver_opts:
      type: none
      device: /data/cardano-data/db-sync-data
      o: bind
