@import '../../../../css/general_styling';

.TrustItem {
  display: flex;
  width: 40%;
  align-items: flex-start;
  margin-bottom: 2em;

  @include breakpoint(md) {
    width: 80%;
  }

  @include breakpoint(sm) {
    width: 100%;
  }

  .TrustText {
    margin-left: 1em;
    h2 {
      @include secondary-text($h2, $secondary-color);
    }

    p {
      @include primary-text($body, $secondary-color);
    }
  }
}
