@import '../../../../css/general_styling';

$border: 1px solid rgb(217, 217, 217);

.InputContainer {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-right: 0px;
  height: 32px;
  .InputPrefix {
    padding: 0 8px;
  }
  &:focus-within {
    border-color: $primary-color;
    box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
  }
  .ChildrenContainer {
    border: none;
    width: 100%;
    * {
      border: none !important;
      box-shadow: none !important;
    }
    & > * {
      width: 100%;
    }
  }
  .ant-input,
  .ant-select,
  .ant-select-selection {
    height: 100%;
  }
}
