@import "../../css/general_styling";

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: rgb(255, 221, 221);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(255, 221, 221);
}

.ConnectionsContainer {
  .EmptyState {
    height: 55vh;
  }
  .ContentHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    padding: 0 0 1em 0;
    .title {
      width: 50%;
    }
    .ConnectionFilterWrapper {
      display: flex;
      align-items: center;
      margin: 1.5em 0 1em 0;
      div {
        margin: 0 0.5em;
      }
    }
  }

  .ConnectionsTable {
    margin-top: 1em;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .FilterControls {
    .ContactFilters {
      display: flex;
      .searchBox {
        margin:0 0.5em;
      }
      .ControlButtons {
        margin:0 0.5em;
      }
      .ant-badge {
        margin: 0 0 0 0.5em;
      }
      .InputContainer {
        margin-left: 1em;
        .ChildrenContainer {
          width: 150px;
          .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background-color: transparent;
          }
          .ant-select {
            border-color: lightgray;
          }
        }
      }
      .ant-input-affix-wrapper {
        margin-right: 1em;
      }
    }
  }
}

.RecipientsHeader {
  display: flex;
  justify-content: space-between;
  h1 {
    @include primary-text($h1, $secondary-color);
  }
}

.ButtonControls {
  display: flex;
  justify-content: center;

  button {
    margin-left: 1em;
  }
}

.ant-input-affix-wrapper:focus {
  border-color: red!important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
  box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
}

.ant-input-affix-wrapper:hover {
  border-color: red!important;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
  box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: red!important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
  box-shadow: 0 0 0 2px rgba(255, 152, 152, 0.452)!important;
}