@import '../../css/general_styling';

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: rgb(255, 221, 221);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(255, 221, 221);
}

.ConnectionsContainer {
  .EmptyState {
    height: 55vh;
  }
  .ContentHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $light-grey;
    .title {
      width: 100%;
    }
  }
  .ConnectionsTable {
    margin-top: 1em;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .FilterControls {
    .ContactFilters {
      display: flex;
      .InputContainer {
        margin-left: 1em;
        .ChildrenContainer {
          width: 150px;
          .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background-color: transparent;
          }
          .ant-select {
            border-color: lightgray;
          }
        }
      }
      .ant-input-affix-wrapper {
        margin-right: 1em;
      }
    }
  }
}

.RecipientsHeader {
  display: flex;
  justify-content: space-between;
  h1 {
    @include primary-text($h1, $secondary-color);
  }
}

.ButtonControls {
  display: flex;
  justify-content: center;

  button {
    margin-left: 1em;
  }
}
