@import '../../css/general_styling';

.ConnectionsContainer {
  .ConnectionsTable {
    .InfiniteScrollTableContainer {
      height: auto;
    }
  }
}

.RecipientsHeader {
  display: flex;
  justify-content: space-between;
  h1 {
    @include primary-text($h1, $secondary-color);
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.ButtonControls {

  display: flex;
  justify-content: center;

  button {
    margin-left: 1em;
  }
}
