@import '../../css/general_styling';

.RecipientsHeader {
  display: flex;
  justify-content: space-between;
  h1 {
    @include primary-text($h1, $secondary-color);
    font-feature-settings: normal !important;
    font-variant: normal;
  }
}

.ButtonControls {
  display: flex;

  button {
    margin-left: 1em;
  }
}
