@import '../../css/general_styling';

.RecipientsHeader {
  display: flex;
  justify-content: space-between;
  h1 {
    @include primary-text($h1, $secondary-color);
    font-feature-settings: normal !important;
    font-variant: normal;
  }
}

.ButtonControls {
  display: flex;

  button {
    margin-left: 1em;
  }
}

.GroupsContainer {
  .GroupContentContainer {
    height: calc(100vh - 220px);
    margin-top: 1em;
    overflow-y: auto;
  }
  .EmptyState {
    height: 55vh;
  }
}

.ContentHeader {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid $light-grey;
  padding: 0 0 1em 0;
  .title {
    width: 50%;
    h1 {
      @include primary-text($h1, $black);
      font-weight: bold;
      margin-top: 1em;
    }
    h3 {
      @include primary-text($h3, $grey);
    }
  }
}
