@import '../../../../css/general_styling';

.errorLogSection {
  padding: 2em 3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .title {
    height: 13vh;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 1em;
    h1 {
      @include primary-text($h1, $black);
      font-weight: bold;
      margin-top: 1em;
    }
    h3 {
      @include primary-text($h3, $grey);
    }
  }
  .buttonSection {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .table {
    margin: 1em 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    .ant-table-body {
      padding-bottom: 0px;
      overflow-y: visible;
    }
    .ant-table-body a {
      color: $primary-color;
    }
    .ant-tag-volcano {
      border-radius: 5em;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      color: white;
      font-size: 8px;
      font-weight: bold;
    }
    .ant-tag-green {
      border-radius: 5em;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00d793;
      color: white;
      font-size: 8px;
      font-weight: bold;
    }
    .ant-table-thead > tr > th {
      width: 300px;
      color: #a0aabb;
      font-weight: bold;
    }
    .ant-table-thead > tr > th:first-child {
      border-radius: 5px 0 0 0;
      width: 100px;
    }
    .ant-table-thead > tr > th:last-child {
      border-radius: 0 5px 0 0;
      width: 50px;
    }
    .ant-table-header {
      overflow: hidden !important;
      height: 70px;
    }
  }
  .ant-pagination {
    display: none;
  }
  .result {
    display: flex;
    justify-content: space-between;
    height: 41px;
    align-items: center;
    padding: 0 1.5em;
    background: #f8f9f9;
    .leftResults {
      width: 50%;
    }
    .rightResults {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    .usersFile {
      display: flex;
      p {
        @include primary-text($body, #4a2dff);
        margin: 0 0 0 1em;
      }
    }
    .processedRows {
      p {
        margin: 0;
        @include primary-text($body, #728099);
      }
    }
    .okRows {
      display: flex;
      p {
        @include primary-text(body, #00d793);
        margin: 0 0 0 1em;
      }
    }
    .xRows {
      display: flex;
      p {
        @include primary-text(body, $primary-color);
        margin: 0 0 0 1em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .errorLogSection {
    .table {
      .result {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .usersFile {
          width: 50%;
          display: flex;
          p {
            @include primary-text($body, #4a2dff);
            margin: 0 0 0 1em;
          }
        }
        .processedRows {
          width: 50%;
          p {
            margin: 0;
            @include primary-text($body, #728099);
          }
        }
        .okRows {
          width: 50%;
          display: flex;
          p {
            @include primary-text(body, #00d793);
            margin: 0 0 0 1em;
          }
        }
        .xRows {
          width: 50%;
          display: flex;
          p {
            @include primary-text(body, $primary-color);
            margin: 0 0 0 1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .errorLogSection {
    .table {
      .result {
        height: 200px;
        .usersFile {
          width: 100%;
          display: flex;
          p {
            @include primary-text($body, #4a2dff);
            margin: 0 0 0 1em;
          }
        }
        .processedRows {
          width: 100%;
          p {
            margin: 0;
            @include primary-text($body, #728099);
          }
        }
        .okRows {
          width: 100%;
          display: flex;
          p {
            @include primary-text(body, #00d793);
            margin: 0 0 0 1em;
          }
        }
        .xRows {
          width: 100%;
          display: flex;
          p {
            @include primary-text(body, $primary-color);
            margin: 0 0 0 1em;
          }
        }
      }
    }
  }
}
