@import "../../../../css/general_styling";

.TypeSelectionWrapper {
  width: 100%;
  .TypeSelectionContainer {
    margin: 1em 0;
    .titleContainer {
      h1 {
        font-variant: normal;
      }
    }
    .TypeSelection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-weight: 600;
      }
      .CredentialTemplatesContainer {
        padding: 1em 0;
      }
    }
  }
}
