@import "../../../../css/general_styling";

.TypeSelectionWrapper {
  width: 100%;
  .HeaderTextContainer {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    .StepTitle {
      @include secondary-text($h3, $black);
    }
    .StepInfo {
      @include secondary-text($h3, $dark-grey);
      font-weight: 450;
    }
  }
  .TypeSelectionContainer {
    .titleContainer {
      h1 {
        font-variant: normal;
      }
    }
    .TypeSelection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .CategoryTitle {
        @include secondary-text($body, $black);
        margin-bottom: 1em ;
      }
      .CredentialTemplatesContainer {
        padding: 1em 0;
      }
    }
  }
}
