@import '../../../../../css/general_styling';

.CopyGroupModal {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2em 3em 0;

  h1 {
    @include secondary-text($subtitle, $primary-color);
    font-feature-settings: normal !important;
    font-variant: normal;
  }

  h3 {
    @include primary-text($body, $secondary-color);
    font-feature-settings: normal !important;
    font-variant: normal;
    text-align: center;
  }

  .NewNameContainer {
    margin: 0.5em 0;
    width: 100%;
    p {
      @include primary-text($body, $secondary-color);
      margin-top: 1em;
      font-variant: normal;
    }
  }

  .ButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;

    button {
      width: 40%;
      margin: 1em;
    }
  }
}
