@import '../../../../css/_general_styling';

.credentialCard {
  @include container();
  width: 100%;
  display: flex;
  margin-bottom: 1.5em;
  padding: 1em;
  align-items: flex-start;

  img {
    margin-left: 0.5em;
  }

  .credentialCardContent {
    margin-left: 1.5em;
    span {
      @include primary-text($explain, $grey);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    h3 {
      @include secondary-text($body, $black);
    }
    p {
      @include primary-text($body, $black);
      margin-bottom: 1em;
    }
  }
}
