@import '../../../../css/general_styling';

.GenericStepsButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding: 1em 0;
  .stepsContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: lightgray !important;
    }
    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: $success-color;
    }
    .ant-steps-item-container {
      width: 100px;
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
      background-color: $success-color;
    }
    .ant-steps-item-process .ant-steps-item-icon {
      border-color: $success-color;
    }
    .ant-steps-item-finish .ant-steps-item-icon {
      border-color: rgb(235, 235, 235);
      background-color: lightgray;
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
      color: grey;
    }
  }
  .ControlButtons {
    .ant-btn {
      border-color: transparent;
      color: $primary-color;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .ant-btn[disabled] {
      background: transparent;
    }
  }
}
