@import '../../../../css/_general_styling';

.SplittedPageInsideContent {

  border-left: 1px solid $medium-grey;

  .RightSide {
    padding: 0;
    padding-left: 1em;
    background: transparent;
  }
}
