@import '../../../../css/_general_styling';

.IdentityVerifierModal {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 120px;
    margin-bottom: 1em;
  }

  h2 {
    @include primary-text($h2, $black);
  }

  p {
    @include primary-text($body, $dark-grey);
    margin-bottom: 1em;
  }

  span {
    @include primary-text($label, $primary-color);
  }
}

.ant-btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  &:hover,
  &:focus {
    background-color: $primary-color-darker;
    color: $white;
  }
}
