@import '../../css/general_styling';

.ImportStepPageContainer {
    padding: 1em 2em;
    .errorLogSection {
        max-height: 65vh;
        overflow-y: auto;
        .table {
            margin-top: 0;
            .ant-table-body {
                overflow-y: auto!important;
                max-height: 100vh!important;
            }
        }
    }
}