@import '../../css/general_styling';

.ImportStepPageContainer {
    padding: 1em 2em;
    .TitleContainer {
        .WizardTitle {
            .TypeSelectionContainer {
                padding: 1em 0;
                border-bottom: 1px solid $light-grey;
            }
        }
    }
    .errorLogSection {
        max-height: 65vh;
        overflow-y: auto;
        .table {
            margin-top: 0;
            .ant-table-body {
                overflow-y: auto!important;
                max-height: 100vh!important;
            }
        }
    }
}