@import '../../../../css/general_styling';

.UseCasesPanel {
  display: flex;
  flex-direction: column;
  padding: 8em 8em 4em 8em;
  background: $white;
  width: 100%;
  min-height: 650px;
  background-image: url('../../../../images/credentials-example-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;

  .MiniDetailText {
    color: $black;
  }

  .TextContainer {
    width: 60%;

    h1 {
      @include secondary-text($h1, $black);
      line-height: 30px;
    }

    h3 {
      @include primary-text($body, $black);
      margin-top: 1.5em;
    }
  }

  .UseCasesContainer {
    width: 90%;
    margin-top: 3em;

    .TabContent {
      display: flex;
      min-height: 350px;

      .TabText {
        width: 30%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          @include primary-text($body, $black);
          margin: 0.5em 0;
          &::before {
            content: '|';
            color: $primary-color;
            font-weight: bold;
            margin-right: 1em;
          }
        }
      }
      .TabImage {
        width: 55%;
        padding: 2em 0;
        align-items: center;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
        }
      }
    }

    .ant-tabs-nav .ant-tabs-tab {
      font-family: 'Poppins', sans-serif;
      color: $black;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      color: $primary-color;
      font-weight: 600;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $primary-color;
    }

    .ant-tabs-ink-bar {
      background-color: $primary-color;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .UseCasesPanel {
    padding: 8em 4em 4em 4em;

    .TextContainer {
      width: 75%;
    }

    .UseCasesContainer {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .UseCasesPanel {
    .TextContainer {
      margin-left: 0;
      width: 95%;
    }

    .UseCasesContainer {
      margin-left: 0;
      width: 100%;

      .TabContent {
        .TabText {
          width: 40%;
        }
        .TabImage {
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .UseCasesPanel {
    padding: 8em 2em 4em 2em;

    .TextContainer {
      width: 100%;
    }
    .UseCasesContainer {
      margin-left: 0;
      width: 100%;

      .TabContent {
        flex-direction: column;

        .TabText {
          width: 100%;
        }
        .TabImage {
          width: 100%;
        }
      }
    }
  }
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  background-color: transparent;
}
