@import '../../css/general_styling';

.GroupCreationContent {
  width: 25%;
  border-left: 1px solid $medium-grey;
  margin-left: 1em;
  padding-top: 0.5em;
  margin-top: 1em;

  .box {
    margin: 1.15em;
    padding-bottom: 1em;

    .ant-form {
      margin-bottom: 2em;
    }
  }

  h3 {
    @include secondary-text($h3, $secondary-color);
    font-variant: normal;
    font-feature-settings: normal;
    margin-bottom: 1em;
    position: relative;
    &::before {
      content: '';
      width: 10px;
      display: block;
      height: 10px;
      border-radius: 50px;
      top: 0.3em;
      position: absolute;
      left: -1.4em;
      background: white;
      border: 1px solid $medium-grey;
    }
  }
}
