@import '../../css/general_styling';

.GroupCreationContent {
  width: 100%;
  padding-top: 0.5em;

  .box {
    padding-bottom: 1em;
    h3 {
      margin-top: 0.75em;
      margin-bottom: 0.5em;
    }
  }

  .ant {
    &-form {
      &-item {
        margin-bottom: 0em;
      }
    }
  }

  .groupsCheckboxContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  .groupsCheckbox {
    margin-right: 20px;
    span {
      @include body-text($body, $secondary-color, 400);
    }
  }
  .searchInput {
    .ant-input:focus {
      border-color: $primary-color !important;
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
    }
    .ant-input:hover {
      border-color: $primary-color !important;
    }
  }
  .groupsButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  h3 {
    @include secondary-text($h3, $secondary-color);
    font-variant: normal;
    font-feature-settings: normal;
    margin-bottom: 1em;
    position: relative;
  }
}

.groupsSubtitle {
  @include primary-text($h3, #728099);
}
.addContactsContainer {
  overflow-y: auto;
  .textContactData {
    margin-right: 40px;
    h4 {
      @include primary-text($body, #728099);
    }
    span {
      @include primary-text($body, $secondary-color);
    }
  }
  .imgContactData {
    margin-right: 30px;
  }
  .contactsDataGroups {
    display: flex;
    align-items: center;
    background-color: #f8f9f9;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 10px;
  }
}
