<div class="col">
  <div class="col-6">
    <h2>Create {{dataItem.name}}</h2>
    <form [formGroup]="form" (ngSubmit)="create()" class="form row" novalidate>
      <div class="col-12" *ngFor="let item of dataItem.fields">
        <div>
          <input type="{{getHtmlType(item)}}" class="form-control" formControlName="{{item.id}}"
            placeholder="{{item.name}}">
        </div>
        <div class="col" [hidden]="!errorService.hasWrongValue(form, item.id)">
          {{errorService.getFieldError(form, item.id)}}
        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create</button>
      </div>
    </form>
  </div>
</div>
