@import "../../../../css/general_styling";

.BulkActionsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  .ControlButtons {
    .BulkActionButton {
      margin-right: 1em;
    }
    .SelectBtn {
      .ant-btn:first-child {
        display: none !important;
      }
      .ant-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: 1px solid $secondary-color;
      }
      .ant-btn:hover,
      .ant-btn:focus,
      .ant-btn:active {
        img {
          opacity: 0.8;
          transition: 0.5s;
        }
      }
    }
  }
}

.CredentialsOptions {
  display: flex;
  align-items: center;

  .MainOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em 0;
  }

  .RefreshButton {
    font-size: 12px;
    background-color: transparent;
    border-color: transparent;
  }

  .BulkOptions {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .BulkActionButton {
      min-width: 10em;
      margin-right: 0.5em;
    }
  }
}

.FiltersMenuContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .FiltersMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    .InputContainer {
      width: 212px;
      margin-top: 0.5em;
    }
    .ant-select {
      width: 15em;
      margin: 0.5em 0;
    }
    .ant-select:focus {
      border-color: $primary-color;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgb(255, 197, 197) !important;
      box-shadow: 0 0 0 2px rgb(255, 197, 197) !important;
    }
    .InputPrefix {
      color: lightgray;
    }
  }
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary-color;
}

.ant-select:not(.ant-select-disabled):focus .ant-select-selector {
  border-color: $primary-color;
}

.ant-select-open:visited {
  border-color: $primary-color;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgb(255, 197, 197) !important;
  box-shadow: 0 0 0 2px rgb(255, 197, 197) !important;
}
