@import '../../../../css/general_styling';

.BulkActionsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  .ControlButtons {
    .BulkActionButton {
      margin-right: 1em;
    }
    .SelectBtn {
      .ant-btn:first-child {
        display: none !important;
      }
      .ant-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: 1px solid $secondary-color;
      }
      .ant-btn:hover,
      .ant-btn:focus,
      .ant-btn:active {
        img {
          opacity: 0.8;
          transition: 0.5s;
        }
      }
    }
  }
}

.CredentialsOptions {
  display: flex;
  align-items: center;

  .MainOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em 0;
  }

  .RefreshButton {
    font-size: 12px;
    background-color: transparent;
    border-color: transparent;
  }

  .BulkOptions {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .BulkActionButton {
      min-width: 10em;
      margin-right: 0.5em;
    }
  }
}

.FiltersMenuContainer {
  width: calc(100vw - 8em);
  height: 4em;
  display: flex;
  align-items: center;
  .FiltersMenu {
    display: flex;
    align-items: center;
    padding: 1em;
    .ant-select {
      width: 15em;
      margin-right: 1em;
    }
    .InputPrefix {
      color: lightgray;
    }
  }
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary-color;
}

.ant-select:not(.ant-select-disabled):focus .ant-select-selector {
  border-color: $primary-color;
}
