@import '../../../../css/general_styling';

.EmptyState {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 400px;

  img{
      margin-bottom: 1em;
  }

  .ActionButton {
    margin-top: 1em;

    button {
      background-color: $white;
      border-color: $secondary-color;
      color: $secondary-color;
      width: 100%;
      &:hover,
      &:focus {
        border-color: $black;
        color: $black;
      }
    }
  }

  h3 {
    @include primary-text($h3, $primary-color);
  }

  p {
    @include secondary-text($body, $dark-grey);
  }
}
