@import '../../css/general_styling.scss';

.searchbar {
  margin-bottom: 1em;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(255, 211, 211);
}

.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border-color: $primary-color;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(255, 211, 211);
}

.ant-input:focus {
  border-color: $primary-color;
}
