client {
  enabled = true
  # when consul runs in the same machine as nomad, it allows nomad to discover the servers
  # while this is handy, it has caused occassional issues in the initial discovery, adding
  # the servers explicitly should prevent that issue.
  servers = [ {{ nomad_servers_ip_addresses }} ]

  # TODO: Use variable
  host_volume "postgres_node" {
    # TODO: Use variable
    path      = "/opt/postgres/node"
    read_only = false
  }

  # In theory, this shouldn't be necessary while using the latest nomad version
  # but, for some reason, an unsupported envoy instance was being used instead.
  meta {
    connect.sidecar_image = "envoyproxy/envoy:v1.14.5"
  }
}

# necessary to pull from aws ecr
plugin "docker" {
  config {
    auth {
      # Nomad will prepend "docker-credential-" to the helper value and call that script name.
      # Then, docker-credential-ecr-login must be available in the system's $PATH
      helper = "ecr-login"
    }
  }
}

# uncomment this to enable raw_exec jobs
# plugin "raw_exec" {
#   config {
#     enabled = true
#   }
# }
