@import '../../../../../css/general_styling';

.AlertInfo {
  background: #ffeaeb;
  border-radius: 2px;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-top: 1em;

  p {
    @include primary-text($label, $primary-color);
  }
}
