server = false

# The address to which Consul will bind client interfaces,
# including the HTTP and DNS servers. By default, this is "127.0.0.1",
# allowing only loopback connections. In Consul 1.0 and later this can
# be set to a space-separated list of addresses to bind to,
# or a go-sockaddr template that can potentially resolve to multiple addresses.
client_addr = "0.0.0.0"
ui_config = {
  enabled = true
}

{% if consul_tls_enabled == true %}
# Disables http port and enable https only
ports = {
  https = 8501
  http = -1
}
{% endif %}

# The address that should be bound to for internal cluster communications.
# This is an IP address that should be reachable by all other nodes in the cluster.
bind_addr = "{{ host_public_ipv4_address }}"
