datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_directory }}"

retry_join = [ {{ consul_servers_ip_addresses }} ]

performance {
  raft_multiplier = 1
}

ports {
  grpc = 8502
}

connect {
  enabled = true
}

# acl = {
#  enabled = true
#  default_policy = "allow"
#  enable_token_persistence = true
# }

{% if consul_tls_enabled == true %}
# TLS Encryption
ca_file = "{{ consul_config_directory }}/consul-ca.pem"
cert_file = "{{ consul_config_directory }}/consul-{{ nomad_mode }}.pem"
key_file = "{{ consul_config_directory }}/consul-{{ nomad_mode }}-key.pem"
verify_server_hostname = true
verify_incoming = true
verify_outgoing = true
{% endif %}

{% if consul_gossip_encryption_enabled == true %}
# Encrypt gossip communication
encrypt = "{{ encryption.stdout }}"
encrypt_verify_incoming = true
encrypt_verify_outgoing = true
{% endif %}
