@import '../../../../css/general_styling';

.ant-select {
  background: transparent;
  border:transparent;
}


.LanguajeOption {
  @include primary-text(11px, $secondary-color);
  img {
    width: 35px;
    margin-right: 0.75em;
  }
  margin-right: 1em;
}
