@import '../css/general_styling';

.fade {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.BlogContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  margin-top: 70px;
  padding: 0 2em;
  flex-direction: column;
  justify-content: flex-start;
  .container-middle-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em !important;
    .SectionContainerAuthor {
      width: 850px;
      display: flex;
      flex-wrap: wrap;
      .containerHeader {
        width: 100%;
        margin-top: 4em;
        .h2 {
          @include primary-text(30px, $black);
          font-weight: bold;
          margin-bottom: 1.5em;
        }
      }
      .containerAuthor {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .SectionContainer {
      width: 600px;
      margin: 4em 2em 1em 0;
      .containerEntry {
        .mainSectionContainer:last-child {
          border-bottom: 1px solid transparent;
        }
        .mainSectionContainer {
          padding-bottom: 1.5em;
          margin: 2em 0;
          border-bottom: 1px dashed lightgray;
          .articlesContainer {
            .post-list-item {
              .entryHeader:hover {
                opacity: 0.8;
                transition: all 0.5s;
              }
              .entryHeader {
                transition: all 0.5s;
                opacity: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 2em;
                .h2 {
                  @include primary-text(30px, $black);
                  font-weight: bold;
                }
              }
            }
            .blog-post-container {
              .blog-post {
                .copete {
                  @include primary-text(14px, $black);
                  margin-bottom: 2em;
                  font-weight: 600;
                }
                .postInfoContainer {
                  display: flex;
                  align-items: center;
                  .postInfo {
                    display: flex;
                    align-items: center;
                    margin: 0 1em 1em 0;
                    img {
                      margin-right: 0.5em;
                    }
                    p {
                      margin: 0;
                      @include primary-text(12px, rgb(110, 110, 110));
                    }
                  }
                }
                .imgBlogPost {
                  width: 100%;
                }
                .post-article {
                  margin: 1em 0;
                  height: 45px;
                  overflow: hidden;
                  p,
                  h2 {
                    background: -webkit-linear-gradient($dark-grey, #eee);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
                  p {
                    font-weight: 200;
                  }
                }
                .viewMore {
                  @include primary-text(12px, $primary-color);
                  margin-top: 1em;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .BlogContainer {
    .container-middle-section {
      flex-direction: column;
      .SectionContainer {
        width: 100%;
        margin: 1em 0 0 0;
        .containerEntry .mainSectionContainer .articlesContainer .post-list-item .entryHeader {
          .h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .BlogContainer {
    .headerBlog {
      padding: 1em 2em;
      .mainBtn {
        display: none;
      }
    }
    .container-middle-section {
      margin: 1em 0 5em 0 !important;
      .SectionContainer .containerEntry .mainSectionContainer:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid lightgray;
      }
      .SectionContainer .containerEntry .mainSectionContainer {
        margin: 0;
        .articlesContainer {
          margin-bottom: 2em;
          .blog-post-container .blog-post {
            .post-article {
              margin: 1em 0;
              h2 {
                font-size: 16px;
              }
            }
            .viewMore {
              @include primary-text(14px, white);
              margin-top: 2em;
              background: #ff2d3b;
              font-weight: 400;
              height: 35px;
              border-radius: 2em;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .viewMore:hover {
              background: #bf222c;
              transition: all 1s;
            }
            .postInfoContainer {
              .postInfo:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.Highlighted {
  background-color: yellow;
}
