@import '../css/general_styling';

.ContainerPioneers {
  display: flex;
  width: 100vw;
  flex-direction: column;
  .Pioneers {
    background: #273245;
    padding: 2em 5em;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      img {
        width: 100px;
        margin-bottom: 1em;
      }
      .link {
        @include primary-text($label, $primary-color);
        word-break: normal;
        font-weight: bold;
      }
    }
    .FormContainer {
      display: flex;
      justify-content: flex-start;
      max-width: 1200px;
      margin: 2em auto 0 auto;
      .Description {
        display: flex;
        justify-content: center;
        width: 50vw;
        .Container {
          word-break: break-all;
          width: 553px;
          h3 {
            @include primary-text($title, $white);
            word-break: normal;
            line-height: 52px;
          }
          h2 {
            @include primary-text(115px, $white);
            word-break: normal;
            font-weight: bold;
            line-height: 119px;
            margin-bottom: 0.5em;
          }
          .subtitle {
            @include primary-text($h2, $white);
            word-break: normal;
            line-height: 32px;
            font-weight: bold;
            margin-bottom: 1em;
          }
          .bigger {
            font-size: $h2;
            line-height: 30px;
            word-break: normal;
          }
          p {
            @include primary-text($body, $white);
            line-height: 24px;
            word-break: normal;
          }
        }
      }
      .Form {
        width: 50vw;
        display: flex;
        justify-content: center;
        .WhiteBox {
          width: 553px;
          max-height: 500px;
          padding: 3em 5em;
          background: white;
          box-shadow: 0px 9px 30px 10px rgba(0, 0, 0, 0.32);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .Container {
            padding: 0 2em 0 0;
            h2 {
              @include primary-text($h1, $secondary-color);
              font-weight: bold;
              margin-bottom: 1em;
              word-break: normal;
            }
            p {
              @include primary-text(14px, $secondary-color);
              margin-bottom: 1em;
              word-break: normal;
            }
            button {
              margin-top: 1em;
            }
          }
        }
      }
    }
    .VideoContainer {
      margin-top: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        @include primary-text($h1, $white);
        font-weight: bold;
        margin-bottom: 1em;
        word-break: normal;
      }
      video {
        width: 765px;
        margin-bottom: 2em;
      }
    }
  }
  .center {
    width: 100%;
    text-align: center;
    margin-top: -2px;
  }
  .FAQs {
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      @include primary-text($title, $secondary-color);
      word-break: normal;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .banner {
    background: #273245;
    background-image: url('../images/bgDark.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0 5em 2em 5em;
    text-align: center;
    position: relative;
    .whiteTriangle {
      margin: -2px 2em 0 2em;
    }
    .logo {
      margin-top: 2em;
    }
    h2 {
      @include primary-text($large-title, white);
      word-break: normal;
      font-weight: bold;
      margin: 0.5em 0 1em 0;
    }
    button {
      height: 46px;
      width: 226px;
      margin: 0 auto 2em auto;
    }
  }
}

@media only screen and (max-width: 1292px) {
  .ContainerPioneers {
    .Pioneers {
      .FormContainer {
        .Description {
          width: 60vw;
          justify-content: flex-start;
          .Container {
            width: 90%;
            h3 {
              font-size: $subtitle;
            }
            h2 {
              font-size: 90px;
              line-height: 90px;
            }
          }
        }
        img {
          width: 100%;
        }
        .Form {
          width: 40vw;
          .WhiteBox {
            width: 100%;
            height: auto;
            padding: 2em;
            .Container {
              padding: 0 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .ContainerPioneers {
    .Pioneers {
      .FormContainer {
        .Description {
          width: 60vw;
          justify-content: flex-start;
          .Container {
            width: 90%;
            h3 {
              margin-bottom: 1em;
            }
            h2 {
              font-size: 40px;
              line-height: 40px;
            }
            .subtitle {
              font-size: $h2;
            }
            p {
              font-size: $h3;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 826px) {
  .ContainerPioneers {
    .Pioneers {
      background: #273245;
      padding: 2em 5em;
      .header {
        flex-direction: column-reverse;
        img {
          margin: 1em 0;
        }
        .link {
          font-size: $subtitle;
        }
      }
      .FormContainer {
        margin-top: 2em;
        flex-direction: column;
        .Description {
          justify-content: center;
          width: 100%;
          .Container {
            word-break: break-all;
            width: 100%;
            h3 {
              @include primary-text($title, $white);
              line-height: 52px;
            }
            h2 {
              @include primary-text(3rem, $white);
              font-weight: bold;
              line-height: 3 rem;
              margin-bottom: 0.5em;
            }
            .subtitle {
              @include primary-text($h1, $white);
              line-height: 32px;
              font-weight: bold;
              margin-bottom: 1em;
            }
          }
        }
        .Form {
          width: 100%;
          margin-top: 2em;
          .WhiteBox {
            margin-top: 2em;
            width: 553px;
            height: auto;
            .Container {
              padding: 2em;
            }
          }
        }
      }
      .VideoContainer {
        img {
          width: 100%;
          margin-bottom: 2em;
        }
        video {
          width: 100% !important;
        }
      }
    }
    .FAQs {
      padding: 3em;
      .ant-collapse-header {
        font-size: $body;
        padding-right: 5em;
      }
      .ant-collapse-content-box {
        width: 100%;
      }
    }
    .banner {
      button {
        width: 300px;
      }
    }
    .footer {
      .footerLinks {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
    }
    .footer .footerLinks div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .footer .footerLinks a {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .ContainerPioneers {
    .Pioneers {
      padding: 2em;
      .header {
        img {
          height: 50px;
        }
        .link {
          font-size: $body;
        }
      }
      .FormContainer {
        margin-top: 1em;
        flex-direction: column;
        .Description {
          justify-content: center;
          width: 100%;
          .Container {
            word-break: break-all;
            width: 100%;
            h3 {
              @include primary-text($h2, $white);
              margin-bottom: 0em;
            }
            h2 {
              @include primary-text(4rem, $white);
              font-weight: bold;
              line-height: 4rem;
              margin-bottom: 0.5em;
            }
            .subtitle,
            p {
              font-size: $body;
            }
            .bigger {
              font-size: 14px;
            }
          }
        }
      }
      .Form {
        margin-top: 0;
        .WhiteBox {
          .Container {
            h2 {
              font-size: $subtitle !important;
            }
            button {
              width: 100%;
              font-size: $body !important;
            }
          }
        }
      }
      .VideoContainer {
        h3 {
          text-align: center;
          font-size: $subtitle;
        }
        img {
          width: 100%;
          margin-bottom: 2em;
        }
      }
    }
    .FAQs {
      padding: 2em;
      h3 {
        margin-bottom: 0;
        font-size: $subtitle;
      }
      .Collapsable {
        padding: 0;
        .ant-collapse-header {
          font-size: $body;
          padding-right: 2em;
        }
        p {
          font-size: $body;
        }
      }
    }
    .banner {
      padding: 0;
      display: flex;
      flex-direction: column;
      .whiteTriangle {
        width: 20px;
        margin: -2px auto;
      }
      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        img {
          text-align: center;
          margin: 0 auto;
        }
      }
      h2 {
        font-size: $subtitle;
        margin-top: 1em;
      }
      button {
        width: 200px;
        height: 40px;
        font-size: $body;
        margin-bottom: 4em;
      }
    }
    .footer .footerLinks div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .footer .footerLinks a {
      font-size: $body;
      margin: 0;
    }
  }
  .ant-collapse {
    margin: 2em 0 !important;
  }
}
