@import '../css/general_styling';

.ResourcesContainer {
  display: inline-block;

  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  word-break: break-all;

  .container-middle-section {
    display: flex;
    flex-flow: column;
    padding: 8em;
    margin: 0 auto;
    max-width: 1200px;

    .videos-section {
      width: 100%;

      .title {
        @include primary-text(48px, $black);
        font-weight: bold;
        margin-bottom: 1em;
        word-break: normal;
      }

      .featured-video-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        .thumbnail {
          width: 48%;
          height: 300px;
          overflow: hidden;
          img {
            height: 100%;
          }
        }

        .video-info-container {
          width: 48%;
          height: 100%;
          h2 {
            @include primary-text(24px, $black);
            font-weight: bold;
            line-height: 32px;
            margin-bottom: 0.5em;
            word-break: normal;
          }

          p {
            @include primary-text($body, $black);
            line-height: 24px;
            margin-bottom: 1.5em;
            word-break: normal;
          }

          .video-info {
            display: flex;
            justify-content: space-between;

            a p {
              @include primary-text($body, $primary-color);
              font-weight: bold;
              word-break: normal;
            }

            .watch-now,
            .watch-time {
              display: flex;
              align-items: center;
              img {
                width: fit-content;
                height: 100%;
                margin-right: 0.5em;
              }

              .data {
                @include primary-text($label, $grey);
                margin: 0;
                word-break: normal;
              }
            }
          }
        }
      }
      .videos-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h2 {
          @include primary-text($h2, $black);
          font-weight: bold;
          margin: 1em 0;
          line-height: 24px;
          word-break: normal;
        }

        p {
          @include primary-text($label, $black);
          line-height: 18px;
          margin-bottom: 1em;
          word-break: normal;
        }

        .video-container {
          width: 30%;

          .thumbnail {
            width: 100%;
          }

          .video-info-container {
            margin-bottom: 2em;
            min-height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .video-info {
              display: flex;
              justify-content: space-between;

              a p {
                color: $primary-color;
                font-weight: bold;
                word-break: normal;
              }

              .watch-now,
              .watch-time {
                display: flex;
                align-items: center;
                img {
                  width: fit-content;
                  height: 100%;
                  margin-right: 0.5em;
                }
                .data {
                  @include primary-text($label, $grey);
                  margin: 0;
                }
                p {
                  margin: 0;
                  word-break: normal;
                }
              }
            }
          }
        }
      }
    }

    .brochures-section {
      width: 100%;
      margin-top: 2em;
      .title {
        @include primary-text(48px, $black);
        word-break: normal;
        font-weight: bold;
      }

      h2 {
        @include primary-text(24px, $black);
        word-break: normal;
        font-weight: bold;
        line-height: 32px;
        margin: 0.5em 0;
      }
      p {
        @include primary-text($body, $black);
        word-break: normal;
        line-height: 24px;
        margin-bottom: 1.5em;
      }

      .featured-brochure-container {
        display: flex;
        justify-content: space-between;
        margin: 0 0 2em 0;

        .thumbnail {
          width: 45%;
          img {
            width: 100%;
          }
        }

        .brochure-info-container {
          width: 45%;
          .brochure-info {
            display: flex;
            justify-content: space-between;

            a p {
              color: $primary-color;
              font-weight: bold;
              word-break: normal;
            }

            .read {
              display: flex;

              img {
                width: fit-content;
                height: 100%;
                margin-right: 0.5em;
              }

              p {
                margin: 0;
              }
            }
          }
        }
      }
      .brochures-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h2 {
          @include primary-text($h2, $black);
          word-break: normal;
          font-weight: bold;
          line-height: 24px;
          margin: 1em 0;
        }

        p {
          @include primary-text($label, $black);
          word-break: normal;
          line-height: 18px;
          margin-bottom: 1em;
        }

        .brochure-container {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 300px;
          .thumbnail {
            width: 100%;
          }
          .brochure-info {
            display: flex;
            justify-content: space-between;

            a p {
              color: $primary-color;
              word-break: normal;
              font-weight: bold;
            }

            .read {
              display: flex;

              img {
                width: fit-content;
                height: 100%;
                margin-right: 0.5em;
              }

              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .blog-section-container {
    width: 100%;
    background-color: #eeeeee;
    padding: 4em 8em;
    margin-bottom: 4em;
    h1 {
      font-weight: bold;
      max-width: 1200px;
      margin: 1em auto;
    }

    .latest-post-container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin:0 auto;

      .latest-post-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
          h3 {
            @include primary-text($h3, $black);
            font-weight: bold;
            word-break: normal;
          }
          h2 {
            @include primary-text(24px, $black);
            margin-bottom: 1em;
            font-weight: bold;
            word-break: normal;
          }
          p {
            @include primary-text($body, $black);
            margin-bottom: 2em;
            word-break: normal;
          }
    
          .buttn {
            display: flex;
            width: 140px;
            height: 39px;
            color: white;
            border-radius: 19.5px;
            background-color: $primary-color;
            justify-content: center;
            align-items: center;
            @include primary-text($body, $white);
            font-weight: bold;
          }
      }
      .blog-preview {
        width: 45%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1032px) {
  .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info {
    flex-direction: column;
  }
  .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-now img, .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-time img {
    margin-right: 0.5em;
    margin-left: 0!important;
  }

  .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-now img, .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-time {
    align-items: center;
    margin:0.5em 0;
  }

  .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-now img, .ResourcesContainer .container-middle-section .videos-section .videos-container .video-container .video-info-container .video-info .watch-now p {
    margin-left: 0.5em;
  }
  
}

@media only screen and (max-width: 768px) {
  .ResourcesContainer .container-middle-section .brochures-section .featured-brochure-container .thumbnail {
    width: 100%;
  }
  .container-middle-section {
    padding: 8em 2em !important;
    .videos-section {
      h1 {
        font-size: $title !important;
        margin-bottom: 1em;
      }
      .featured-video-container {
        flex-direction: column;
        .thumbnail {
          width: 100% !important;
          height: auto!important;
          img {
            width: 100%;
          }
        }
        .video-info-container {
          width: 100% !important;
          margin-top: 1em;
        }
      }
      .videos-container {
        .video-container {
          .video-info-container {
            .video-info {
              flex-direction: column;
              .watch-now {
                margin-bottom: 1em;
              }
            }
          }
        }
      }
    }
    .brochures-section {
      .title {
        font-size: $title !important;
      }
      .featured-brochure-container {
        flex-direction: column-reverse;
        .brochure-info-container {
          width: 100% !important;
          .brochure-info {
            width: 100% !important;
            .read {
              word-break: normal;
            }
          }
        }
        img {
          width: 100% !important;
        }
      }
    }
  }
  .blog-section-container {
    padding: 2em !important;
    .latest-post-container {
      flex-direction: column;
      .blog-preview {
        width: 100% !important;
        height: 200px;
        overflow-y: hidden;
        margin-bottom: 1em;
        img {
          width: 100% !important;
        }
      }
      .latest-post-info {
        width: 100% !important;
      }
    }
  }
  .FaqPanelContent {
    padding: 2em;
  }
}

@media only screen and (max-width: 660px) {
  .ResourcesContainer .container-middle-section .brochures-section .featured-brochure-container .thumbnail {
    width: 100%;
  }
  .ResourcesContainer {
    .container-middle-section {
      .videos-section .videos-container {
        flex-direction: column;
        .video-container {
          width: 100% !important;
        }
      }
      .brochures-section .brochures-container {
        flex-direction: column;
        .brochure-container {
          width: 100% !important;
        }
        .brochure-info {
          margin: 1em 0;
        }
      }
    }
  }
}
