@import '../../css/general_styling';

.instructionsHeader {
  height: 10vh;
  display: flex;
  img {
    margin-left: 50px;
  }
}

.instructionsText {
  padding: 50px;
  margin: auto;
  h4 {
    @include primary-text($body, $secondary-color);
    text-transform: uppercase;
  }
  h1 {
    @include primary-text($title, $secondary-color);
    font-weight: 600;
  }
  p {
    @include primary-text($body, #4f4f4f);
    margin: 25px 0;
    max-width: 522px;
  }
  span {
    @include primary-text($body, #4f4f4f);
    font-weight: 600;
  }
}

.theme-outline{
  width: 63%;
}

.instructionsImg {
  background-image: url('../../images/shape-instructions.svg');
  background-position: right;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  img {
    top: 0;
    margin: auto;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 80%;
  }
}

.instructionsWrapper {
  border-radius: 6px 6px 0 0;
  background-color: white;
  margin: 0;
  height: 90vh;
  display: inline-grid;
  grid-template-columns: 50% 50%;
}

.AppContainer {
  background-color: #011727 !important;
}

.italic{
  @include primary-text($body, #4f4f4f);
  font-style: italic;
  text-transform: none;
  margin: 20px 0 20px 22px;
}

.register-text{
  @include primary-text($body, #728099);
  font-style: italic;
  text-transform: none;
  border-top: 1px solid #D6DBE2;
  padding-top: 10px;
  margin-top: 61px;

  span{
    @include primary-text($body, $primary-color);
  font-style: italic;
  text-transform: none;
  }
}