@import '../../../../css/general_styling';

.RecipientsTable {
  margin-top: 10px;

  table {
    @include primary-text($body, $black);

    img {
      border-radius: 4px;
    }

    .ant-table-thead {
      display: none;
    }
    .ant-table-tbody > tr > td {
      background: $light-grey;
      border-bottom: 6px solid $white;
    }

    .ControlButtons {
      display: flex;
      align-items: center;

      button {
        margin: 0 0.5em;
      }

      a {
        color: $primary-color;
        min-width: 100px;
        text-align: center;
        margin: 0 0.5em;
      }
    }
  }
}

.ConnectionsTable {
  .PaginatedTable {
    .ant-table {
      height: 100%;
      overflow-x: auto !important;
    }
  }
}
