@import '../../../../css/general_styling';

.IntroSection {
  padding: 8em;

  h1 {
    @include secondary-text($h1, $black);
  }

  p {
    @include primary-text($label, $black);

    &.SectionName {
      color: $primary-color;
    }
  }

  .IntroItemContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;

    .ItemVision {
      width: 30%;
    }

    .lineSeparatorSide {
      display: none;
    }

    @include breakpoint(sm) {
      width: 100%;
      flex-direction: column;
    }
  }

  .ReadMoreContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  .IntroSection {
    padding: 8em 4em;

    h1 {
      @include secondary-text($h1, $black);
    }
    .ReadMoreContainer {
      .ant-collapse-item {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .IntroSection {
    h1 {
      @include secondary-text($h1, $black);
      margin-left: 0;
    }

    .IntroItemContainer {
      margin-left: 0;
      flex-direction: column;
      .ItemVision {
        width: 80%;
        .IntroItem {
          .HeaderItem {
            min-height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .IntroSection {
    padding: 8em 2em 2em 2em;

    .IntroItemContainer {
      .ItemVision {
        width: 100%;
      }
    }
  }
}
