@import '../../../../css/general_styling';

.SupportButton {
  position: fixed;
  bottom: 30px;
  right: 30px;

  .theme-primary {
    height: 65px;
    width: 65px;
    box-shadow: $shadow-bubble;
    padding: 0 10px;
  }
}
