@import '../../../../../css/general_styling';

.CredentialTemplate {
  box-shadow: $shadow;
  height: max-content;
  .TableLabel {
    color: $white;
    opacity: 0.5;
  }
  .TableText {
    color: $white;
    font-weight: 600;
  }

  .CredentialHeader {
    padding: 1.5em 1em;
    display: flex;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    // University Credential Styles

    background: #262324;
    justify-content: space-between;

    .IconUniversity {
      width: 40px;
      height: 40px;
      border-radius: 3px;
    }

    // Proof of Employment Credential Styles

    &.EmploymentTheme {
      background: #51246c;
      flex-direction: row-reverse;
      width: 300px;

      .IconUniversity {
        width: 40px;
        height: 40px;
        margin-right: 1em;
      }
    }

    // Insurance Credential Styles

    &.InsuranceTheme {
      background: #4a2dff;
      width: 300px;

      .IconUniversity {
        height: 35px;
      }
    }
  }

  .CredentialContent {
    padding: 1em;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    // University Credential Styles

    background: #3c393a;

    .CellRenderer {
      padding: 0.5em 0;
    }

    .DegreeDate {
      display: flex;
      justify-content: space-between;
    }

    hr {
      border: none;
      border-bottom: 1px solid #333333;

      &:last-child {
        display: none;
      }
    }

    // Proof of Employment Credential Styles

    &.EmploymentTheme {
      background: #66268d;
      width: 300px;

      .CellRenderer {
        padding: 0.5em 0;
      }

      .DegreeDate {
        display: flex;
        justify-content: space-between;
      }

      hr {
        border: none;
        border-bottom: 1px solid $white;
        opacity: 0.2;
      }
    }

    // Insurance Credential Styles

    &.InsuranceTheme {
      background: $white;
      width: 300px;

      .CellRenderer {
        padding: 0.5em 0;

        .TableLabel {
          color: $dark-grey;
          opacity: 1;
        }
        .TableText {
          color: $black;
        }
      }

      .DegreeDate {
        display: flex;
        justify-content: space-between;
      }

      hr {
        border: none;
        border-bottom: 1px solid $dark-grey;
        opacity: 0.2;
      }
    }
  }
}
