// Generated using xcconfig-extractor 0.6.1 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
MARKETING_VERSION = 0.1.8
ENABLE_BITCODE = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_IDENTITY = Apple Development
INFOPLIST_FILE = prism-ios-wallet/Info.plist
PRODUCT_NAME = Atala PRISM
SWIFT_OBJC_BRIDGING_HEADER = prism-ios-wallet/prism-ios-wallet-Bridging-Header.h
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER = 
TARGETED_DEVICE_FAMILY = 1
CURRENT_PROJECT_VERSION = 181
PRODUCT_BUNDLE_IDENTIFIER = io.iohk.cvp

