@import "../../css/general_styling";

.ContactsImportWrapper {
  max-height: calc(100vh - 20em);
  overflow-y: auto;
  .ManualImportContent {
    overflow-y: auto;
  }
}

.CredentialsImportWrapper {
  max-height: calc(100vh - 20em);
  border: 1px solid #c5d0de;
  border-radius: 6px;
  margin: 0 1em;
  .ManualImportContent {
    overflow: auto;
  }
}

.ManualImportWrapper {
  display: flex;
  flex-direction: column;
  .ContentHeader {
    display: block !important;
    .Options {
      margin: 0 0 1em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .MultiSelectContainer {
        width: 230px;
      }
    }
    h3 {
      @include primary-text($h3, $dark-grey);
    }
    p {
      @include primary-text($body, #7f92a6);
    }
  }
  .ManualImportContent {
    display: flex;
    .ant-col {
      margin: 7px;
    }
    .ant-table-container {
      width: 100%;
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td:last-child {
      width: 200px !important;
    }
    .ant-table-wrapper {
      height: 100%;
      width: 100%;
    }
  }
}
