@import "../../../css/general_styling";

.BulkImportStepsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .ContentHeader {
    border-bottom: 1px solid $light-grey;
    padding: 2em;
    display: block!important;
    h3 {
      @include primary-text($h3, $black);
      font-weight: bold;
    }
    p {
      @include primary-text($body, #7F92A6);
    }
  }
  .BulkImportContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .StepCard {
      width: 540px;
      height: 255px;
      cursor: pointer;
      margin: 0 1em;
    }

    .ant-col {
      margin: 7px;
    }
  }

  .FooterButton {
    display: flex;
    justify-content: flex-end;
  }

  .StepsFooter {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .BulkImportContainer {
    .BulkImportContent {
      flex-direction: column;
      .StepCard {
        margin: 1em;
      }
    }
  }
}
