@import '../../../../css/general_styling';

.ModalContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4em 2em 1em;

  img{
    width: 180px;
    margin-bottom: 1.5em;
  }

  h3 {
    @include secondary-text($h2, $primary-color);
    word-spacing: -4px;
  }

  p {
    @include primary-text($body, $secondary-color);
    margin-bottom: 1em;
    word-spacing: -4px;
  }
}

.FooterButtons {
  display: flex;
  justify-content: center;

  button {
    width: 150px;
    margin: 0 0.5em;
  }
}
