@import '../../../../css/_general_styling';

.IntroductionInformation {
  padding-left: 1em;

  .MiniDetailText {
    color: $primary-color;
  }

  h1 {
    @include secondary-text($subtitle, $black);
    margin-bottom: 0.25em;
  }

  h2 {
    @include primary-text($h3, $dark-grey);
    margin-bottom: 1.5em;
  }

  .CredentialItemContainer {
    margin: 2.5em 0;
  }
}
