@import '../../../../css/_general_styling';

.IntroductionInformation {
  padding-left: 4em;
  padding-right: 5em;
  padding-bottom: 1em;
  border-left: 1px solid $medium-grey;

  .MiniDetailText {
    color: $primary-color;
  }

  h1 {
    @include secondary-text($h1, $black);
    margin-bottom: 0.25em;
    margin-top: 0.5em;
  }

  h2 {
    @include primary-text($h3, $dark-grey);
    margin-bottom: 1.5em;
  }

  .CredentialItemContainer {
    margin: 2.5em 0;
  }
}
