<div class="row">
  <div class="col-6">
    <div>
      <h3>Endorsers</h3>
    </div>
    <div class="list-group col">
      <button *ngFor="let item of endorsers$ | async" type="button" class="list-group-item list-group-item-action">
        {{item}}
      </button>
    </div>
  </div>

  <div class="col-6">
    <div>
      <h3>Endorsements</h3>
    </div>
    <div class="list-group col">
      <button *ngFor="let item of endorsements$ | async" type="button" class="list-group-item list-group-item-action">
        {{item}}
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="endorse()" class="form row" novalidate>
      <div class="col-12">
        <input type="text" class="form-control" formControlName="{{endorsedIdentityField}}" placeholder="Endorse identity">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Endorse</button>
      </div>
      <div class="col" [hidden]="!errorService.hasWrongValue(form, endorseIdentityField)">
        {{errorService.getFieldError(form, endorsedIdentityField)}}
      </div>
    </form>
  </div>
</div>

