@import '../../../../css/general_styling';

.CredentialSummaryDetail {
  .CredentialSummaryHeader {
    display: flex;
    margin-bottom: 1em;
    img {
      width: 45px;
      height: 45px;
      border-radius: 4px;
      margin-right: 1em;
    }
    .CredentialSummaryUser {
      h3 {
        @include secondary-text($h3, $secondary-color);
      }
      p {
        @include primary-text($body, $secondary-color);
      }
    }
  }

  .TransactionsDetail {
    margin-bottom: 1em;
    border-radius: 0;
    background: transparent;
    border: none;
  }

  .CredentialSummaryLine {
    p {
      @include primary-text($body, $grey);
      margin-bottom: 0.5em;
    }
  }

  .ControlButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    button {
      width: 48%;
    }
  }
}

.DrawerCredentialData {
  .CredentialTemplate {
    margin-bottom: 1em;
  }
  .Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
    padding: 1em 0;
  }
}
.ant-collapse-header {
  padding: 12px 0;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0;
  @include primary-text($body, $black);
}

.CredentialDetailContainer {
  display: flex;
  flex-direction: column;

  .CredentialDetailButtons {
    display: flex;
    justify-content: space-between;
    .ant-btn {
      width: 48%;
    }
  }

  .CredentialTemplate {
    width: 100%;
    margin-bottom: 1em;
  }

  .BlockchainLog {
    border-top: 1px solid #e8e8e8;
    margin-top: 2em;
    padding-top: 2em;
    h3 {
      @include secondary-text($h3, $primary-color);
    }
    span {
      @include primary-text(11px, $grey);
    }
    p {
      @include body-text($body, $black, 400);
      margin-bottom: 1em;
      &.TxHash {
        text-decoration: underline;
      }
    }
  }
}

.credentialDetailDrawer {
  .ant-tabs-nav .ant-tabs-tab {
    @include primary-text($h3, #a0aabb);
    font-weight: 800;
    margin: 0 1em;
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      @include primary-text($h3, $black);
      font-weight: 800;
    }
  }
  .ant-input {
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.0523656);
    }
    &:hover {
      border-color: $primary-color;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $primary-color;
  }
  .ant-tabs-nav .ant-tabs-tab:active {
    color: $primary-color;
  }
  .ant-tabs-tab:hover {
    color: $primary-color;
  }
  .credentialContainer {
    padding: 1em;
  }

  .actionsContainer {
    width: 100%;
    padding: 1em;
    .verifyButton {
      width: 100%;
    }
  }
}

.CredentialStatusCard {
  margin-top: 20px;
  .CardanoExplorerHeader {
    display: flex;
    align-items: center;
  }
  .CardanoLogo {
    margin: 0 1em 0 0;
  }
  .ant-card-bordered {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }
  .ant-card-head {
    background-color: #f2f2f2;
  }
  .ant-card-head-title {
    @include primary-text($h2, $secondary-color);
    font-weight: 700;
  }
  .ValidButton {
    border: 1px solid #40eaea;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    img {
      margin-right: 5px;
    }
    span {
      @include body-text($label, #40eaea, bold);
      margin-right: 3px;
    }
    p {
      @include body-text($label, #40eaea, 400);
    }
  }
  .PendingButton {
    border: 1px solid #ffd100;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    img {
      margin-right: 5px;
    }
    span {
      @include body-text($label, #ffd100, bold);
      margin-right: 3px;
    }
    p {
      @include body-text($label, #ffd100, 400);
    }
  }
  .InvalidButton {
    border: 1px solid $primary-color;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    img {
      margin-right: 5px;
    }
    span {
      @include body-text($label, $primary-color, bold);
      margin-right: 3px;
    }
    p {
      @include body-text($label, $primary-color, 400);
    }
  }

  .credentialStatusContent {
    display: flex;
    h5 {
      @include body-text($label, $secondary-color, 400);
    }
    span {
      @include body-text($label, $secondary-color, bold);
      margin-right: 3px;
    }
    p {
      @include body-text($label, $secondary-color, 400);
    }
  }
  .credentialStatusContent:first-child {
    margin-bottom: 5px;
  }
  .hashedFileContainerText {
    margin-left: 15px;
    width: 80%;
    span {
      @include body-text($label, #728099, 400);
    }
    p {
      @include body-text($label, $secondary-color, 600);
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .hashedFileContainer {
    display: flex;
    background-color: #f8f9f9;
    border-radius: 6px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
  }
  .FilesContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f9f9;
    border-radius: 6px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .dataFilesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

.mt {
  margin-top: 20px;
}

.GoToCardanoBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 35px;
  align-items: center;
  border-radius: 6px;
  font-feature-settings: normal !important;
  font-variant: normal;
}

.moreButton {
  margin: 0 auto;
  background-color: white;
  border: 0.2em solid $grey;
  border-radius: 5px;
  width: 15px;
  color: grey;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    @include body-text($label, grey, 400);
    padding-bottom: 7px;
    font-weight: bold;
  }
  &:hover {
    border: 0.2em solid $grey !important;
  }
}
.revokedAlertContainer {
  .ant-alert-message {
    color: #ff2d3b;
    margin: 0;
    padding: 0 1em;
    font-size: 14px;
  }
  .ant-alert-error {
    border: none;
  }
  .revokedIcon {
    margin: 1em;
  }
}
