<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body
  style="margin:auto;padding:1em;width:90vw;overflow-x:hidden;font-variant:normal;font-family:Arial, Helvetica, sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale">
  <div
    style="max-width:400px;border-radius:10px;display:flex;flex-wrap:wrap;box-shadow:0px 0px 20.3681px rgba(0, 0, 0, 0.0523656)">
    <div 
    style="display:flex;width:100%; position:relative; position: relative; border-radius:6px 6px 0 0;height:81px;justify-content:space-between;align-items:center;"
    >

    <img
          style="position:absolute; background: white; border-radius: 10.184px; padding:0.3em; box-shadow: 0px 0px 20.3681px rgba(0, 0, 0, 0.0523656); height: 80px; right: 30px; bottom: -30px;"
          src="./photo.png" />
      <div style="position: absolute; margin-left: 2em;">
        <p
          style="font-size: 9px; margin:0; line-height: 11px; letter-spacing: 1px; text-transform: uppercase; color: #FFFFFF; z-index: 1">
          Atala Prism</p>
        <p style="font-style: normal; font-weight: bold; font-size: 14px; line-height: 17px;color:white;margin:0">
          Verified Identity</p>
      </div>
      <img style="width: 400px;" src="header.png" alt="header" />
      <div>
      </div>
    </div>
    <div style="display:flex;width:100%;flex-wrap:wrap">
      <div style="width:100%;padding:0 1.5em 0 1.5em;display:flex;flex-wrap:wrap">
        <div style="border-bottom:1px solid #e5e5e5;display:flex;justify-content:space-between;width:100%">
          <div style="width:100%;padding:2em 0 1em 0;flex-direction:column">
            <p
              style="font-style: normal; font-weight: normal; font-size: 8px; line-height: 10px; letter-spacing: 1px; color: #828282;">
              Full Name</p>
            <h3 style="color:#3c393a;margin:-0.5em 0 0 0;font-size:13px;font-weight:600"> Miguel Ángel Machado Hernandez
            </h3>
          </div>
        </div>
        <div style="border-bottom:1px solid #e5e5e5;display:flex;justify-content:space-between;width:100%">
          <div style="width:100%;padding:1em 0;flex-direction:column;">
            <p
              style="font-style: normal; font-weight: normal; font-size: 8px; line-height: 10px; letter-spacing: 1px; color: #828282;">
              Date of Birth </p>
            <h3 style="color:#3c393a;margin:-0.5em 0 0 0;font-size:13px;font-weight:600"> 3/05/1988 </h3>
          </div>
        </div>
        <div style="border-bottom:1px solid #e5e5e5;display:flex;justify-content:space-between;width:100%">
          <div style="width:100%;padding:1em 0;flex-direction:column">
            <p
              style="font-style: normal; font-weight: normal; font-size: 8px; line-height: 10px; letter-spacing: 1px; color: #828282;">
              Gender </p>
            <h3 style="color:#3c393a;margin:-0.5em 0 0 0;font-size:13px;font-weight:600"> Male </h3>
          </div>
        </div>
        <div style="display:flex;justify-content:space-between;width:100%">
          <div style="width:100%;padding:1em 0;flex-direction:column">
            <p
              style="font-style: normal; font-weight: normal; font-size: 8px; line-height: 10px;  letter-spacing: 1px; color: #828282;">
              Expiry Date </p>
            <h3 style="color:#3c393a;margin:-0.5em 0 0 0;font-size:13px;font-weight:600"> 05/05/2022 </h3>
          </div>
        </div>
      </div>
    </div>
    <div
      style="height: 44px; width: 100%;background: linear-gradient(180deg, #EFEFEF 0%, #E2E2E2 100%);
    box-shadow: 0px 0px 20.3681px rgba(0, 0, 0, 0.0523656); border-radius: 0px 0px 10.184px 10.184px; display: flex; justify-content: center; align-items:center;">
      <p style="font-size: 9px; line-height: 11px; text-align: center; letter-spacing: 1px; color: #7B7B7B;">Verified
        by</p>
        <img style="width: 35px; margin-left: 0.3em;" src="acuant.png" />
    </div>
  </div>
</body>