@import '../../../../css/general_styling';

.StepCard {
  width: 100%;
  background-color: white;
  position: relative;
  justify-content: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: $shadow;
  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
  }
  .ant-select-selection--multiple .ant-select-selection__choice {
    background: rgba(255, 45, 59, 0.1);
    border-radius: 20px;
    border: none;
    color: $primary-color;
  }
  .ant-select-selection--multiple {
    padding: 7px;
  }
  .anticon {
    margin-top: 3px;
    color: $primary-color;
  }
  &:focus {
    outline: none;
  }
  .ant-select-selection,
  .ant-select-selection:active,
  .ant-select-selection:focus,
  .ant-select-selection:hover {
    border-color: $primary-color;
    box-shadow: 0px 1px 6px rgba(0, 1, 1, 0.2);
  }

  .CardText {
    width: 100%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  .MultiSelectContainer {
    width: 22em;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 4px;
    display: flex;
    padding-right: 0px;
    align-items: baseline;
    .ant-checkbox-wrapper {
      color: grey;
      font-size: $label;
    }
    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid $primary-color;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid $primary-color;
    }
    .ant-select-selection-item {
      background: #fed7d6;
      color: $primary-color;
      border: 1px solid transparent;
      border-radius: 50px;
    }
    .ant-input,
    .ant-select,
    .ant-select-selection {
      height: 100%;
      max-height: 8em;
      margin-bottom: 1em;
    }
  }
}

.BulkImportStepsWrapper {
  .Selected {
    opacity: 1;
    border: 2px solid $primary-color;
    border-radius: 10px;
    box-shadow: $red-shadow;
    transition: 0.5s;
    h1 {
      @include secondary-text($h2, $secondary-color);
      @include letter-spacing();
    }
  
    p {
      @include primary-text($body, $dark-grey);
      @include letter-spacing();
    }
  }
  
  .NotSelected {
    border: 2px solid transparent;
    transition: 0.5s;
    opacity: 0.5;
    h1 {
      @include secondary-text($h2, $secondary-color);
      @include letter-spacing();
    }
  
    p {
      @include primary-text($body, $dark-grey);
      @include letter-spacing();
    }
  }
}

.DisabledCard {
  cursor: not-allowed !important;
}

.Step2Actions {
  margin: 1em 0;
}

.ActionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2em;
  .fileActionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;
    color: $primary-color;
    .Icon {
      font-size: 1.5em;
    }
  }

  .ant-upload-list {
    position: absolute !important;
    width: 10em;
    margin-top: 0.5em;
    .ant-upload-list-item-error * {
      color: $primary-color;
      background-color: pink;
      border-radius: 4px;
      vertical-align: text-top;
    }
    .ant-upload-list-item-done * {
      @include primary-text($body, #4a2dff);
      vertical-align: text-top;
    }
  }
}

.EmbeddedStepCard {
  min-height: 255px;
  min-width: 500px;
}
