@import "../../../../../src/css/general_styling";

.SortControlContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .ant-select-selection-placeholder, .ant-select-arrow {
    color: $secondary-color;
  }
  .ant-select-selection-item, .ant-select-clear {
    color: $primary-color;
  }
}
