@import "../../../../src/css/general_styling";

.TemplatesTableContainer {
  overflow-y: auto;
  height: calc(100vh - 12em);
  margin-top: 1em;
}

.templateDetailDrawer {
  .templateContainer {
    margin-top: 2em;
  }
}
