global:
  # How frequently to scrape targets by default.
  scrape_interval: 1m

  # How long until a scrape request times out.
  scrape_timeout: 20s

  # How frequently to evaluate rules.
  evaluation_interval: 1m

  # File to which PromQL queries are logged.
  # Reloading the configuration will reopen the file.
  query_log_file: "/data/queries-log"

scrape_configs:
- job_name: 'node'
  ec2_sd_configs:
  - port: 9100
    filters:
      # limit instances to ones with Prometheus node reporter running
      - name: "tag:Prometheus"
        values: ["true"]
      # limit instances to ones accessible within the same VPC
      - name: "vpc-id"
        values: ["${vpc_id}"]
  relabel_configs:
  - source_labels: ['__meta_ec2_tag_Name']
    target_label: 'instance'
  - source_labels: ['__meta_ec2_tag_Environment']
    target_label: 'environment'
- job_name: 'ecs'
  file_sd_configs:
  # currently all ECS instances are setup for 15s-interval in ECS discovery script configuration
  # if other values are preferred, similar sections for other intervals should be added here
  - files:
    - /data/ecs_sd/15s-tasks.json
  relabel_configs:
  - source_labels: [metrics_path]
    action: replace
    target_label: __metrics_path__
    regex: (.+)
  scrape_interval: 15s
  scrape_timeout: 15s
