#!/bin/bash
set -e

# Add team SSH keys
cat << EOF >> /home/ubuntu/.ssh/authorized_keys
${authorized_keys}
EOF

chown ubuntu /home/ubuntu/.ssh/authorized_keys
chmod 600 /home/ubuntu/.ssh/authorized_keys


# Install docker

apt update
apt -y install apt-transport-https ca-certificates curl software-properties-common

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
add-apt-repository 'deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable'
apt update

apt -y install docker-ce

# wait until block device is attached
until ls /dev/xvdh; do sleep 5; done

mkdir /data
mount /dev/xvdh /data || (mkfs.xfs /dev/xvdh && mount /dev/xvdh /data)
# todo: check what permissions to use to let docker container use directory without making it 777
chmod 777 /data

# Prometheus configuration
cat << EOF >> /data/prometheus.yml
${prometheus_yml}
EOF

# Start prometheus and Grafana

docker run -d -p 9090:9090 --name=prometheus -v /data/prometheus.yml:/etc/prometheus/prometheus.yml -v /data:/data prom/prometheus
docker run -d -p 3000:3000 --name=grafana grafana/grafana

# Prometheus node exporter

useradd --no-create-home --shell /bin/false node_exporter

wget https://github.com/prometheus/node_exporter/releases/download/v0.17.0/node_exporter-0.17.0.linux-amd64.tar.gz
tar -xf node_exporter-0.17.0.linux-amd64.tar.gz
cp node_exporter-0.17.0.linux-amd64/node_exporter /usr/local/bin
chown node_exporter:node_exporter /usr/local/bin/node_exporter
rm -rf node_exporter-0.17.0.linux-amd64*

cat << EOF >> /etc/systemd/system/node_exporter.service
[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable node_exporter
systemctl start node_exporter

# ECS Service discovery

apt-get install -y python3-boto3
useradd --shell /bin/false ecsdiscovery
mkdir /home/ecsdiscovery

curl -o /home/ecsdiscovery/discoverecs.py https://raw.githubusercontent.com/signal-ai/prometheus-ecs-sd/9721450bdde35881d79f87f8f87968656b81b955/discoverecs.py
chown ecsdiscovery.ecsdiscovery -R /home/ecsdiscovery
mkdir /data/ecs_sd
chmod 777 /data/ecs_sd

cat << EOF >> /etc/systemd/system/ecsdiscovery.service
[Unit]
Description=ECS Service Discovery for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=ecsdiscovery
Group=ecsdiscovery
Type=simple
Environment="AWS_DEFAULT_REGION=${aws_region}"
ExecStart=/usr/bin/python3 /home/ecsdiscovery/discoverecs.py --directory /data/ecs_sd

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable ecsdiscovery
systemctl start ecsdiscovery
