@import '../../../../css/_general_styling';

.QRCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid $medium-grey;

  .DownloadButtons {
    margin-bottom: 0;
  }

  .QRcode {
    width: 250px !important;
    height: 250px !important;
  }

  .QRCardText {
    margin-top: 3em;
    text-align: center;
    h3 {
      @include primary-text($h3, $secondary-color);

      &.strong {
        @include secondary-text($h3, $secondary-color);
      }
    }
  }
}
