@import '../../../../css/_general_styling';

.ScanQRSteps {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;

  .secondStep {
    display: flex;
    align-items: end;
    img {
      margin: 0 0.5em;
    }
  }
  p {
    @include primary-text($h2, $secondary-color);
    margin-bottom: 0.25em;
    &.NumberText {
      color: $primary-color;
      margin-right: 0.5em;
    }
  }
}
