@import '../../../../css/general_styling';

.CredentialsPreview {
  display: flex;
  height: 50vh;

  .Divider {
    margin: 2em 0;
    border: 1px solid $light-grey;
  }

  .RecipientsContainer {
    padding: 3em;
    width: 65%;
    display: flex;
    flex-flow: column;
    h3 {
      @include primary-text($h3, #26385b);
      font-weight: bold;
    }
    h4 {
      @include primary-text($h3, $dark-grey);
      margin-bottom: 25px;
    }
  }
}
