@import '../../../../css/general_styling';

.CreatedCredential {
  display: flex;
  flex-direction: column;
  background: $surface;
  border-radius: 4px;
  padding: 1.25em 1em;
  margin-top: 1.5em;

  h3 {
    @include secondary-text($label, $black);
    width: 250px;
    margin-bottom: 2em;
    border-left: 1px solid red;
    padding-left: 1.5em;
  }

  .ContainerCredential {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 6px;

    .CredentialIDTemplate {
      transform: scale(0.8);
      margin-right: -20px;
      margin-top: -20px;
      margin-left: -20px;
    }

    .CredentialTemplate {
      transform: scale(0.85);
      margin-right: -20px;
      margin-top: -20px;
      margin-left: -20px;
    }
  }
}

.centeredButton{
  display: flex;
  justify-content: center;
  margin: 2em 0;
}