@import '../../css/general_styling.scss';

.sideBarContainer {
  margin-top: 4em;
  width: 300px;
  padding: 0 2em;
  border-radius: 10px;

  .ant-input {
    background: transparent;
  }

  .group .ant-input:hover {
    border-color: $primary-color;
  }

  ::placeholder {
    @include primary-text(12px, rgb(255, 202, 202));
  }

  .ant-input-search-icon {
    color: $primary-color;
  }

  .ant-input:focus {
    border-color: $primary-color;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px #ffe8e8ce;
  }
  .group {
    border-bottom: 1px solid #ffe7e7;
  }
  .group:last-child {
    border-bottom: 1px solid transparent;
  }
  ul {
    margin: 0;
  }
  li {
    margin: 0.5em 0;
  }
  ul.plus > li:before {
    content: '+';
    text-indent: -5px;
  }
  ul li {
    list-style-type: none;
  }
  ul.dashed > li > a:before {
    content: '-';
    text-indent: -5px;
  }
  .red {
    @include primary-text(12px, #606060);
    line-height: 2em;
    font-weight: 400;
  }
  .inner {
    text-indent: 1em;
  }
  h3 {
    @include primary-text(12px, $black);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 1em 0;
  }
  a {
    @include primary-text(12px, #606060);
    display: flex;
    flex-wrap: wrap;
  }
  h4 {
    @include primary-text(13px, $primary-color);
    margin: 0;
    font-weight: 500;
  }
  p {
    @include primary-text(13px, #606060);
    margin: 0 5px;
    font-weight: 500;
  }
  .sublist {
    li {
      display: flex;
    }
  }
  .date {
    @include primary-text(12px, rgb(189, 189, 189));
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .sideBarContainer {
    width: 100% !important;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .sideBarContainer {
    margin-top: 0;
  }
}
