@import '../../../../css/general_styling';

.TableLabel {
  @include body-text($label, $dark-grey, 400);
  line-height: 13px;
}
.TableTextBold {
  @include body-text($body, $black, 600);
}

.TableText {
  @include primary-text($body, $black);
  font-weight: bold;
  margin-top: 5px;
  &.light {
    @include primary-text($body, $dark-grey);
  }
}
