@import '../../../../css/general_styling';

.HeaderContainer {
  padding: 1em;

  &.IssuerUser {
    background-color: $secondary-color;
  }

  &.VerifierUser {
    background-color: $primary-color-darker;
  }

  .LogoContainer {
    display: flex;
    align-items: center;
    .HeaderLogo {
      height: 32px;
      margin-left: 1em;
    }
    .PortalName {
      border-left: 1px solid $white;
      margin-left: 1.5em;
      padding-left: 1.5em;
      p {
        @include secondary-text($body, $white);
      }
    }
  }

  .RightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline:none;
    .ant-select-selection {
      background: transparent;
      border: transparent;
      .ant-select-arrow {
        color: $white;
        margin-left: 1em;
      }
    }
    .LanguajeOption {
      color: $white;
    }
  }

  .IconUniversity {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 1em;
  }
}



@media only screen and (max-width: 996px) {
  .HeaderContainer.IssuerUser {
    display: flex;
    justify-content: space-between;
  }
}