@import '../../../../css/general_styling';

.HeaderContainer {
  height: 9%;
  padding: 1em;
  background-color: $secondary-color;

  .HeaderLogo {
    height: 32px;
  }

  .RightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .IconUniversity {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 1em;
  }
}
