@import "../../../../../src/css/general_styling";

.templatesContent {
  height: 100%;
  .TemplatesTableOptions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    .LeftOptions {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 0.5em;
      .TableOptionButton {
        margin: 0.5em;
        padding: 0;
        color: $black;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        span {
          margin-right: 0.5em;
        }
      }
    }

    .no-border {
      border: none;
    }
  }

  .TemplatesTableContainer {
    overflow-y: auto;
    height: calc(100vh - 17em);
    .template-icon {
      height: 2.5em;
    }
  }
}
