@import '../../css/general_styling';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: $dark-grey $light-grey;
  scrollbar-width: thin;
}

body {
  margin: auto;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-variant: normal;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.CredentialContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  background: $light-background;

  .LogoContent {
    width: 100%;
    padding: 2em;
    img {
      width: 150px;
    }
  }
}

// Mini Text

.MiniDetailText {
  @include primary-text(12px, $secondary-color);
  em {
    letter-spacing: -1px;
  }
}

// Lines

.lineSeparatorSide {
  border: none;
  border-right: 1px solid $medium-grey;
  height: auto;
}

.lineSeparator {
  border: none;
  border-top: 1px solid $medium-grey;
  height: auto;
}

.theme-credential-1 {
  @include border-theme($primary-color);
}

.theme-credential-2 {
  @include border-theme($primary-accent);
}

.theme-credential-3 {
  @include border-theme($secondary-accent);
}

.theme-credential-4 {
  @include border-theme($ternary-accent);
}
