@import '../../../css/general_styling';

.ManualImportWrapper {
  .TitleContainer {
    h3 {
      @include primary-text($h3, $secondary-color);
      font-variant: normal;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    p {
      @include primary-text($body, $grey);
      font-variant: normal;
      margin-bottom: 1em;
    }
  }
  .ManualImportContent {
      display: flex;
      flex-direction: column;
      margin:1em 0;
      h3 {
        @include primary-text($h3, $secondary-color);
        font-variant: normal;
        font-weight: bold;
        margin-bottom: 1em;
      }
    .ant-input-number,
    .ant-picker {
      width: 100%;
      border: 1px solid $light-grey;
    }
  }
}