@import '../../../../css/general_styling';

.UnderConstructionMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  .ButtonContainer {
    display: flex;
    justify-content: center;
  }
}

