@import '../../../../css/general_styling';

.StepCard {
  width: 100%;
  background-color: white;
  position: relative;
  justify-content: center;
  padding: 3em;
  border-radius: 10px;
  box-shadow: $shadow;
  .ant-select-selection--multiple .ant-select-selection__choice {
    background: rgba(255, 45, 59, 0.1);
    border-radius: 20px;
    border: none;
    color: $primary-color;
  }
  .ant-select-selection--multiple {
    padding: 7px;
  }
  .anticon {
    color: $primary-color;
  }
  &:focus {
    outline: none;
  }
  .ant-select-selection, .ant-select-selection:active ,.ant-select-selection:focus, .ant-select-selection:hover {
    border-color: $primary-color;
    box-shadow: 0px 1px 6px rgba(0, 1, 1, 0.2);
  }

  .CardText {
    margin-top: 2em;
    width: 100%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  .InputContainer {
    width: 22em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.Selected {
  opacity: 1;
  border: 2px solid $primary-color;
  border-radius: 10px;
  box-shadow: $red-shadow;

  .ant-avatar-circle {
    color: #ff2d3b;
    background-color: white;
    border-color: #ff2d3b;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;

    span {
      font-size: 18px;
      line-height: 28px;
    }
  }

  h1 {
    @include secondary-text($h1, $secondary-color);
    @include letter-spacing();
  }

  p {
    @include primary-text($body, $secondary-color);
    @include letter-spacing();
  }
}

.NotSelected {
  opacity: 0.7;

  .ant-avatar-circle {
    visibility: hidden;
  }

  h1 {
    @include secondary-text($h1, $secondary-color-disabled);
    @include letter-spacing();
  }

  p {
    @include primary-text($body, $secondary-color-disabled);
    @include letter-spacing();
  }

  .ant-select-selection, .ant-select-selection:active ,.ant-select-selection:focus, .ant-select-selection:hover { 
    opacity: 0.7;
  }

  .fileActionButton { 
    opacity: 0.7 !important;
  }
}

.DisabledCard {
  cursor: not-allowed !important;
}

.ActionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  .fileActionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;
    color: $primary-color;
    .Icon {
      font-size: 1.5em;
    }
  }

  .ant-upload-list {
    position: absolute !important;
    width: 10em;
    margin-top: 0.5em;
    .ant-upload-list-item-error * {
      color: $primary-color;
      background-color: pink;
      border-radius: 4px;
    }
    .ant-upload-list-item-done * {
      @include primary-text($body, #4a2dff);
    }
  }
}
