@import '../../../css/general_styling';

html {
  scroll-behavior: smooth;
}

.LandingContainer {
  .LandingHeader {
    background: $secondary-color;
    width: 100%;

    .LadingHeaderContent {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 4em;
      position: relative;
      background-image: url('/images/atala-header-background.png');
      background-repeat: no-repeat;
      background-size: cover;

      .HeaderText {
        max-width: 80%;
        margin: 4em 0;
        text-align: center;

        h1 {
          @include secondary-text(82px, $white);
          line-height: 82px;
          margin: 0.5em 0;
        }

        h3 {
          @include primary-text($body, $white);
          max-width: 500px;
          margin: 0 auto;
          margin-bottom: 1em;
        }

        h4 {
          @include secondary-text($body, $primary-color);
          margin-bottom: 1em;
        }

        p {
          @include primary-text($label, $white);
          max-width: 500px;
          margin: 0 auto;
        }
        img {
          width: 40px;
          margin: 1em auto;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140px;
          height: 39px;
          border: 1px solid $primary-color;
          margin: 2em auto;
          border-radius: 20em;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .LandingContainer .LandingHeader .LadingHeaderContent .HeaderText h1 {
    font-size: $large-title;
    line-height: $large-title;
  }
}
