@import '../../../../css/general_styling';

.BulletItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bullet {
  width: 9px;
  height: 9px;
  border-radius: 20px;
  margin-right: 10px;
}

.textTitleContainer{
    display: flex;
    align-items: center;
    .icon{
      margin-right: 10px;
    }
}
.titleContainer {
  @include primary-text($label, #a0aabb);
}

.valueContainer {
  @include primary-text($h1, #26385b);
}
