@import '../../../../css/general_styling';

.Title {
  @include body-text($label, $dark-grey, 400);
  line-height: 13px;
}

.Label {
  border-radius: 4px;
  text-align: center;
  padding: 3px 6px;
  width: max-content;
  word-spacing: -0.3em;

  p {
    @include secondary-text($label, $white);
  }

  &.statusInvitationMissing,
  &.statusConnectionMissing,
  &.statusConnectionRevoked {
    background: #feaa91;
  }

  &.statusConnectionAccepted {
    background: #00d793;
  }
  &.credentialDraft {
    background: #A0AABB;

  }

  &.credentialSigned {
    background: #D2A2EF;
  }
  &.credentialSent {
    background: #2D9CDB;
  }
  &.credentialRevoked {
    background: $primary-color-darker;
  }
}
