@import '../../../../css/_general_styling';

.CongratsStep {
  padding: 0 2em;

  .LeftSideCongrats {
    padding: 1em 3em 1em 4em;
    border-left: 1px solid $medium-grey;
    min-height: 450px;

    h1 {
      @include primary-text($h1, $black);
    }

    .ContactFormButtonContainer {
      margin-top: 4em;
    }

    .ContactFormButtonContainer::before {
      content: '';
      background: #fed7d6;
      position: absolute;
      bottom: 205px;
      width: 72%;
      height: 40px;
      border-radius: 8px;
      left: 80px;
    }
  }
  .RightSideCongrats {
    background-color: transparent;
    img {
      width: 100%;
    }
  }
}
