@import '../../../../css/_general_styling';

.FinishInfo {
  padding-left: 4em;
  padding-right: 5em;
  padding-bottom: 1em;
  border-left: 1px solid $medium-grey;

  h1 {
    @include primary-text($h1, $black);

    strong {
      @include secondary-text($h1, $black);
    }
  }

  h3 {
    @include primary-text($h3, $dark-grey);
    margin-bottom: 1.5em;
  }

  .FinishContent {
    margin: 1em 0;
    .IntroTutorial {
      display: flex;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        margin-bottom: 2em;
      }
    }

    .StepTextItem {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      img {
        width: 24px;
        margin: 0 0.5em;
      }
      p {
        @include primary-text(16px, $black);
        margin-bottom: 0.25em;

        strong {
          @include secondary-text(16px, $black);
          margin: 0 0.25em;
        }

        &.NumberText {
          color: $primary-color;
          margin-right: 0.5em;
        }
      }
    }

    .centeredButton {
      margin-top: 2em;
      display: flex;
      justify-content: center;
    }
  }
}
