<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.iohk.cvp">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <application
        android:name="io.iohk.atala.prism.app.core.PrismApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:name="io.iohk.atala.prism.app.neo.ui.launch.LaunchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:name="io.iohk.atala.prism.app.neo.ui.onboarding.OnBoardingNavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.iohk.atala.prism.app.views.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="io.iohk.atala.prism.app.views.activities.UnlockActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="io.iohk.atala.prism.app.views.activities.WebTermsAndConditionsActivity"
            android:theme="@style/mytransparent.windowNoTitle" />
        <activity
            android:name="io.iohk.atala.prism.app.views.activities.AccountCreatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.iohk.atala.prism.app.views.activities.QrCodeScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.iohk.atala.prism.app.views.activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.iohk.cvp.fileprovider"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="io.iohk.atala.prism.app.neo.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:authorities="io.iohk.atala.prism.app.neo.sync"
            android:name="io.iohk.atala.prism.app.neo.sync.StubProvider"
            android:exported="false"
            android:syncable="true" />
        <service
            android:name="io.iohk.atala.prism.app.neo.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>