<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.iohk.cvp">

  <application
    android:name="io.iohk.cvp.core.CvpApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="Credentials Verification"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name="io.iohk.cvp.views.activities.MainActivity" />
    <activity android:name="io.iohk.cvp.views.activities.WelcomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="io.iohk.cvp.views.activities.TermsAndConditionsActivity" />
    <activity android:name="io.iohk.cvp.views.activities.QrCodeScanner" />
  </application>

  <uses-permission
    android:name="android.permission.CAMERA"
    tools:ignore="ManifestOrder" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>