@import '../../../../css/general_styling';

.WizardTitle {
  margin: 1em 0;
  .TypeSelection {
    display: flex;
    justify-content: space-around;
  }
  .titleContainer {
    h1 {
      @include secondary-text($h1, $black);
    }
    h3 {
      @include secondary-text($h3, $dark-grey);
      font-variant: normal;
    }
    p {
      @include secondary-text($body, $primary-color);
      font-weight: bold;
      margin: 0;
    }
  }
}
