@import '../../../../css/general_styling';

.WizardTitle {
  border-bottom: 1px solid #f8f9f9;
  .TypeSelection {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
  }
  .titleContainer {
    h1 {
      @include secondary-text($h1, $black);
    }
    h3 {
      @include secondary-text($h3, $dark-grey);
    }
    p {
      @include secondary-text($body, $primary-color);
      font-weight: bold;
      margin: 0;
    }
  }
}
