@import '../../../../css/general_styling';

.FindCredential {
  padding: 8em 8em 1em 8em;
  background: $light-grey;
  margin-top: -30px;
  display: flex;
  width: 100%;

  .MapContainer {
    width: 50%;
    margin-top: -2.5em;
    &:focus {
      outline: none;
    }
    .AtalaLogo,
    .CardanoLogo {
      display: none;
    }
  }

  .TextContainer {
    width: 50%;
    z-index: 100;
    @include breakpoint(sm) {
      width: 100%;
    }

    .MiniDetailText {
      color: $black;
    }

    .InteractiveDemoText {
      h1 {
        @include secondary-text($h1, $black);
      }

      .DescriptionText {
        width: 400px;
        margin-top: 1em;
        h3 {
          @include secondary-text($body, $primary-color);
          margin-top: 1.5em;
        }
        p {
          @include primary-text($body, $black);
        }
      }

      .StepTextItem {
        width: 330px;
        p {
          @include primary-text($label, $black);

          &.NumberText {
            font-weight: 700;
            margin-right: 0.5em;
          }
        }
      }

      .theme-primary {
        margin: 2em 0;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .FindCredential {
    padding: 8em 4em 1em 4em;
    .MapContainer {
      width: 40%;
      padding-left: 5em;
      margin-top: -5em;
    }
    .TextContainer {
      width: 60%;
      .InteractiveDemoText {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .FindCredential {
    position: relative;
    min-height: 800px;

    .MapContainer {
      width: 100%;
      padding-left: 0;
      padding-top: 3em;
    }
    .TextContainer {
      width: 80%;
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      padding: 1.5em;

      .InteractiveDemoText {
        h1 {
          @include secondary-text($h2, $black);
        }
        .DescriptionText {
          width: 100%;
        }
        .StepTextItem {
          width: 450px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .FindCredential {
    padding: 8em 2em 1em 2em;
    .TextContainer {
      width: 85%;
      .InteractiveDemoText {
        h1 {
          @include secondary-text($body, $black);
        }
        .DescriptionText {
          p {
            @include primary-text($label, $black);
          }
        }
        .StepTextItem {
          width: 100%;
        }
        .theme-primary {
          width: 100%;
          font-size: $label;
        }
      }
    }
  }
}
