@import '../../../../css/general_styling';

.GroupTableContainer {
  .PaginatedTable {
    .ant-table-body {
      overflow-x: auto !important;
      overflow-y: auto !important;
    }
  }
}

.Groups {
  .TableLabel {
    text-align: left!important;
  }
  .light {
    color: $secondary-color;
    text-align: left;
    margin-top: 0.3em;
  }
}