@import '../../css/general_styling';

.DashboardContainer {
  margin: 2em;
  .DashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
      @include secondary-text($h1, $secondary-color);
    }
    p {
      @include primary-text($body, $grey);
    }
  }

  .DashboardContent {
    display: flex;
    justify-content: space-between;
  }

  .dateInputsContainer {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
      border-color: $primary-color;
    }
  }
  .dateSpanContainer {
    span {
      @include primary-text($label, $black);
      margin-right: 20px;
    }
  }
  .datePickerContainer {
    margin-right: 20px;
  }
  .applyButtonContainer {
    .theme-outline {
      width: 150px;
    }
  }
  .DashboardContentBottom {
    display: flex;
    flex-flow: column;
    margin-top: 2em;
    h3 {
      @include primary-text($h3, #728099);
    }
    & > h1 {
      margin-bottom: 1em;
    }
    .TransactionSummary,
    .ConnectionSummary {
      display: flex;
      flex-flow: column;

      .SummaryContent {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        @include breakpoint(sm) {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.dashboardCardContainer {
  display: flex;
  justify-content: space-between;
}
