@import '../../../css/_general_styling';

.InteractiveDemoContainer {
  display: flex;
  justify-content: space-between;

  .MapContainer {
    width: 55%;

    &:focus {
      outline: none;
    }
  }

  .CredentialContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    background: $light-background;

    @include breakpoint(lg) {
      width: 55%;
    }

    .CredentialStepContent {
      width: 100%;
      background: $white;
      padding: 1em 0;

      .ControlButtons {
        display: flex;
        justify-content: flex-end;
        padding: 1.5em 2em 1em 0;
        align-items: center;

        hr {
          border: none;
          border-right: 1px solid $medium-grey;
          height: 34px;
          margin: 0 1em 0 1.25em;
        }

        button {
          padding: 0;
          margin-left: 0;
          .anticon {
            font-size: 14px;
          }
          span {
            display: none;
          }

          &.ant-btn.theme-primary {
            width: 30px;
            height: 30px;
          }

          .ButtonReset {
            width: 33px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1380px) {
  .InteractiveDemoContainer {
    .MapContainer {
      width: 50%;
    }

    .CredentialContainer {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .InteractiveDemoContainer {
    .MapContainer {
      width: 42%;
    }

    .CredentialContainer {
      width: 58%;
      .CredentialStepContent {
        .SplittedPageContent {
          padding: 0 0.5em;

          .SplittedPageInsideContent {
            padding-right: 1em;
          }

          .CredentialListContainer {
            border-right: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .InteractiveDemoContainer {
    display: block;
    .MapContainer {
      width: 100%;
    }

    .CredentialContainer {
      width: 45%;
      position: absolute;
      top: 30px;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
      height: auto;

      .CredentialStepContent {
        background: transparent;
        .SplittedPageContent {
          padding: 0;

          .SplittedPageInsideContent {
            padding-right: 1.5em;

            .FinishInfo,
            .ScanQRInfo {
              padding: 1em 0 0 1.5em;
            }
            .IntroductionInformation {
              padding-top: 1.5em;
              .CredentialItemContainer {
                margin: 1.5em 0;
              }
            }
          }

          .CredentialListContainer {
            border-right: none;
            padding-left: 1.5em;
            padding-right: 1.5em;

            .theme-list {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .InteractiveDemoContainer {
    .CredentialContainer {
      width: 100%;
      top: 50px;
      .CredentialStepContent {
        background: transparent;
        .SplittedPageContent {
          padding: 0;
          padding-top: 3em;

          .SplittedPageInsideContent {
            padding-right: 1.5em;
            .IntroductionInformation {
              padding-top: 1.5em;
              .CredentialItemContainer {
                margin: 1.5em 0;
              }
            }
          }

          .CredentialListContainer {
            border-right: none;
            padding-left: 1.5em;
            padding-right: 1.5em;

            .theme-list {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
