@import '../../../../css/general_styling';

.OptionCard {
  width: 300px;
  height: 200px;
  cursor: pointer;
  text-align: center;
  margin: 0 1em;
  background-color: white;
  position: relative;
  justify-content: center;
  padding: 2em 2em 4em 2em;
  border-radius: 10px;
  box-shadow: $shadow;
  border: 2px solid transparent;
  &:focus {
    outline: none;
    border: 2px solid $primary-color;
  }
  .CheckBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .ContaierImageText {
    .img-container img {
      height: 45px;
    }
    .CardText {
      h1 {
        @include secondary-text($h2, $secondary-color);
        @include letter-spacing();
      }
      p {
        @include primary-text($body, $dark-grey);
        @include letter-spacing();
      }
    }
  }
}

.CheckBox {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  .ant-checkbox {
    border-radius: 50em;
  }
  .ant-checkbox .ant-checkbox-inner {
    border-radius: 50em!important;
    height: 20px;
    width: 20px;
  }
}

.CheckBox:hover {
  border: none;
}

.ant-checkbox-checked::after {
  border: none!important;
}
.ant-checkbox-checked:hover {
  border: none!important;
}

.NotSelected {
  opacity: 0.5;
  transition: 0.5s;
}

.Selected {
  opacity: 1;
  transition: 0.5s;
  border: 2px solid $primary-color;
  border-radius: 10px;
  box-shadow: $red-shadow;
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.NotSelected:hover {
  opacity: 1;
  border: 2px solid $primary-color;
  border-radius: 10px;
  box-shadow: $red-shadow;
  transition: 0.5s;
}
