@import '../../../../css/general_styling';

.ComponentsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  .CredentialSection {
    display: flex;
    background: $white;
    padding: 8em;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    background-image: url('../../../../images/credentials-example-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;

    .ImageContainer {
      width: 35%;
      display: flex;
      justify-content: center;
      padding: 2em 0;
      img {
        width: 320px;
      }
    }

    .TextContainer {
      width: 65%;
      padding: 0 0 2.5em 0;

      .MiniDetailText {
        color: $primary-color;
      }

      h1 {
        @include secondary-text($h1, $black);
        margin-bottom: 1.5em;
      }

      .ComponentsContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .ComponentItem {
          width: 47%;
          border-left: 1px solid $primary-color;
          padding: 0 1em;
          margin-bottom: 2em;

          h3 {
            @include primary-text($h3, $black);
            font-weight: 600;
          }

          p {
            @include primary-text($label, $black);

            &.ComingSoon {
              color: $dark-grey;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid $white;
  }
}

@media only screen and (max-width: 1024px) {
  .ComponentsPanel {
    .CredentialSection {
      padding: 8em 4em 4em 4em;

      .ImageContainer {
        display: none;
      }

      .TextContainer {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ComponentsPanel {
    .CredentialSection {
      .TextContainer {
        width: 100%;

        h1 {
          margin-left: 0;
        }
        .ComponentsContainer {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .ComponentsPanel {
    .CredentialSection {
      padding: 8em 2em 4em 2em;
      .TextContainer {
        .ComponentsContainer {
          .ComponentItem {
            width: 100%;
          }
        }
      }
    }
  }
}
