@import '../../../../css/general_styling';

.detailBox {
  margin: 0;
  width: 100%;
}

.infoRow {
  .contactsTitle {
    .contactsContainer {
      display: flex;
      flex-direction: column-reverse;
      line-height: auto;
      margin-left: 1em;
      p {
        @include primary-text($label, #011727);
      }
      span {
        text-transform: none!important;
        @include primary-text($label, #99a2a9);
      }
    }
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .detailBox {
    width: 300px;
  }
}
