@import '../../../../css/general_styling';

.detailBox {
  margin: 0;
  width: 100%;

  .infoRow {
    height: 250px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 400px) {
  .detailBox {
    width: 300px;
  }
}
