@import '../../../../css/_general_styling';

.IntroductionInformation {
  padding-left: 1.5em;

  .MiniDetailText {
    color: $primary-color;
  }

  h1 {
    @include primary-text($h2, $black);
    margin-bottom: 0.25em;
    font-weight: 600;
  }

  p {
    @include primary-text($label, $black);
    margin-bottom: 1em;

    strong{
      font-weight: 600;
    }
  }

  h2 {
    @include primary-text($h3, $dark-grey);
    margin-bottom: 1.5em;
  }

  .CredentialItemContainer {
    margin: 2em 0 2.5em 0;
  }
}
