@import '../../../../css/general_styling';

.RowInfo {
  margin: 1em 0;
  padding: 1em;
  background-color: #f8f9f9;
  border-radius: 6px;
  justify-content: space-between;
  p {
    @include primary-text($label, $dark-grey);
    margin: 0;
  }
  h3 {
    @include primary-text($h3, $secondary-color);
    margin: 0;
  }

  display: flex;
  .img {
    display: none;
  }
  .contactsContainer {
    line-height: normal;
    p {
      @include primary-text($label, #011727);
      font-weight: bold;
      margin-top: 5px;
    }
    span {
      @include primary-text($label, #99a2a9);
      text-transform: none!important;
      line-height: normal;
    }
  }
}
.groupNameContainer {
  display: flex;
}

.groupTitle {
  p {
    @include primary-text($label, $dark-grey);
    margin: 0;
  }
  span {
    @include primary-text($label, $secondary-color);
    font-weight: bold;
  }
}

.contactsTitle {
  display: flex;
  align-items: center;
}

.theme-row {
  background-color: $light-grey;
}
