.CredentialsOptions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;

  .MainOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em 0;
  }

  .RefreshButton {
    font-size: 12px;
    background-color: transparent;
    border-color: transparent;
  }

  .BulkOptions {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .BulkActionButton {
      min-width: 10em;
      margin-right: 0.5em;
    }
  }
}
