@import '../../../../css/general_styling';

.CollapseContainer {
  .ItemDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .ant-collapse-content-box {
      padding: 0;
      padding-left: 5px;
    }

    .BulletItems {
      li {
        margin-bottom: 1.25em;
        list-style: none;
        border-left: 1px solid $primary-color;
        padding-left: 1em;
        p {
          @include primary-text($label, $black);
        }
      }
    }
  }
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 0px;
  padding-left: 20px;

  @include primary-text($body, $primary-color);
  font-weight: 600;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  left: 0;
}

@media only screen and (max-width: 1024px) {
  .CollapseContainer {
    .ItemDetail {
      flex-direction: column;
    }
  }
}
