@import '../../../../css/_general_styling';

.PersonalInformation {
  padding-left: 3em;
  border-left: 1px solid #c5d0de;

  h1 {
    @include secondary-text($h1, $secondary-color);
    margin-bottom: 0.25em;
  }

  h2 {
    @include primary-text($body, $secondary-color);
    margin-bottom: 1.5em;
  }
}
