@import '../../../../css/general_styling';

.PhraseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 2em;

  .ant-badge {
    width: 22%;
    margin: 0.5em 0;

    .ant-badge-count {
      height: 30px;
      border-radius: 40px;
      line-height: 30px;
      font-family: 'Circular-book';
      font-size: 14px;
      text-align: left;
    }

    .ant-badge-multiple-words {
      padding: 0 14px;
    }
  }
}

.CheckboxContainer {
  width: 100%;
  display: flex;
  margin-left: 1em;
  align-items: baseline;
  p {
    @include primary-text($body, $secondary-color);
    @include letter-spacing();
    margin-left: 0.5em;
  }
}
