@import '../../../../../css/_general_styling';

.FinishInfo {
  padding-left: 1em;

  h1 {
    @include primary-text($subtitle, $black);

    strong {
      @include secondary-text($subtitle, $black);
    }
  }

  h3 {
    @include primary-text($label, $dark-grey);
    margin-bottom: 1.5em;
  }

  .FinishContent {
    margin-top: 1em;
    .IntroTutorial {
      display: flex;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        margin-bottom: 2em;
      }
    }

    .StepTextItem {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0.5em;

      img {
        width: 24px;
        margin: 0 0.5em;
      }
      p {
        @include primary-text($label, $black);
        margin-bottom: 0.25em;

        strong {
          font-weight: 600;
          margin: 0 0.25em;
        }

        &.NumberText {
          color: $primary-color;
          margin-right: 0.5em;
        }
      }
    }

    .centeredButton {
      margin-top: 2em;
      display: flex;
      justify-content: center;
    }
  }
}
