@import '../../../../../css/general_styling';

.ScanQRInfo {
  padding: 0 0 0 1em;

  h1 {
    @include secondary-text($subtitle, $secondary-color);
    margin-bottom: 0.25em;
  }

  h3 {
    @include primary-text($label, $dark-grey);
  }

  .StepsContainer {
    margin: 1.5em 0;
  }

  .centeredButton {
    display: flex;
    justify-content: center;
  }
}
