#!/bin/bash
set -e

# Add team SSH keys
cat << EOF >> /home/ubuntu/.ssh/authorized_keys
${authorized_keys}
EOF

chown ubuntu /home/ubuntu/.ssh/authorized_keys
chmod 600 /home/ubuntu/.ssh/authorized_keys

# Install docker and docker-compose

apt update
apt -y install apt-transport-https ca-certificates curl software-properties-common

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
add-apt-repository 'deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable'
apt update

apt -y install docker-ce docker-compose

# wait until block device is attached
until ls /dev/xvdh; do sleep 5; done

mkdir /data
mount /dev/xvdh /data || (mkfs.ext4 /dev/xvdh && mount /dev/xvdh /data)

# Docker compose
mkdir /cardano
cd /cardano

cat << EOF > docker-compose.yml
${docker_compose_yml}
EOF

mkdir -p secrets
echo '${postgres_db}' > secrets/postgres_db
echo '${postgres_user}' > secrets/postgres_user
echo '${postgres_password}' > secrets/postgres_password

git clone https://github.com/input-output-hk/cardano-node

mkdir -p /data/cardano-data/node-db /data/cardano-data/node-ipc /data/cardano-data/postgres /data/cardano-data/wallet-db

cat << EOF >> /etc/systemd/system/cardano.service
[Unit]
Description=docker-compose %i service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/cardano
Type=simple
TimeoutStartSec=15min
Restart=always

ExecStartPre=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStartPre=/usr/bin/docker-compose build --pull

ExecStart=/usr/bin/docker-compose up --remove-orphans

ExecStop=/usr/bin/docker-compose down --remove-orphans

ExecReload=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/bin/docker-compose build --pull

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl start cardano

# Prometheus node exporter

useradd --no-create-home --shell /bin/false node_exporter

wget https://github.com/prometheus/node_exporter/releases/download/v0.17.0/node_exporter-0.17.0.linux-amd64.tar.gz
tar -xf node_exporter-0.17.0.linux-amd64.tar.gz
cp node_exporter-0.17.0.linux-amd64/node_exporter /usr/local/bin
chown node_exporter:node_exporter /usr/local/bin/node_exporter
rm -rf node_exporter-0.17.0.linux-amd64*

cat << EOF >> /etc/systemd/system/node_exporter.service
[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl start node_exporter
