@import '../../../../css/general_styling';

.PreviewContainer {
  padding: 3em;
  width: 35%;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: scroll;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.arrowsContainer {
  margin-top: 20px;
}
