@import '../../../../css/general_styling';

.PreviewContainer {
  padding: 1em 2em;
  margin: 1em 2em;
  width: 50%;
  height: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $dark-grey;
  }
  .PreviewCredential {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    .credentialScroll {
      margin-right: 0.5em;
    }
  }
  .arrowsContainer {
    position: absolute;
    top:0em;
    background: white;
    border-radius: 20px;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    padding: 0.2em 1em;
    z-index: 1;
  }
}
