@import '../../../../../css/_general_styling';

.RequestedCredentialsContent {
  display: flex;
  flex-direction: column;
  background: $surface;
  border-radius: 4px;
  padding: 1.25em 1em;
  margin-top: 2.5em;

  .RequestedCredentialsTitle {
    border-left: 1px solid $primary-color;
    padding-left: 1em;
    margin-bottom: 1.5em;

    h3 {
      @include primary-text($body, $black);
      font-weight: 600;
      margin-bottom: 0.25em;
    }
  }
}
