@import '../../../../css/general_styling';

.FileUploader {
  padding-top: 1em;
  p {
    @include primary-text($body, $secondary-color);
    word-spacing: -4px;
    margin-bottom: 1.25em;
  }
  .theme-outline {
    height: 32px;
    word-spacing: -4px;
  }

  .ant-upload-list-item-info .anticon-paper-clip {
    color: $success-color;
  }

  .ant-upload-list-item-name {
    @include primary-text($body, $success-color);
    word-spacing: -4px;
  }
}
