@import '../../css/general_styling.scss';

.ant-btn {
  @include primary-text($button, $dark-grey);
  height: 40px;
  padding: 0 30px;
  box-shadow: none;
  border-radius: 50px;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;

  .anticon {
    font-size: 11px;
  }
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: transparent;
}

.theme-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  &:hover,
  &:focus {
    background-color: $primary-color-darker;
    color: $white;
  }
}

.theme-border {
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
  &:hover,
  &:focus {
    background-color: $primary-color-darker;
    color: $white;
  }
}

.theme-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: $white;
  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
  }
}

.theme-outline {
  background-color: $white;
  border-color: $secondary-color;
  color: $secondary-color;
  &:hover,
  &:focus {
    border-color: $black;
    color: $black;
  }
}

.theme-grey {
  background-color: $grey;
  border-color: $grey;
  color: $white;
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $white;
  }
}

.theme-link,
.theme-link:hover,
.theme-link:focus {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color;
}

.theme-filter {
  height: 32px;
  background-color: $grey;
  border-color: $grey;
  color: $white;
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $white;
  }
}

.theme-list {
  height: 52px;
  width: 95%;
  background: $white;
  border-color: $white;
  color: $black;
  border-radius: 8px;
  box-shadow: $shadow;
  border-width: 2px;
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1.25em;
  position: relative;

  span {
    @include primary-text($label, $black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .CredentialIcon {
    margin-right: 1em;
    width: 29px;
    height: 29px;
  }

  .VerifiedIcon {
    position: absolute;
    right: 1em;
  }

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $primary-color;
    color: $black;
    box-shadow: $shadow-primary;
  }
}
