@import '../../css/_general_styling';

.CredentialContainer {
  background: $primary-color;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url('../../images/fakeBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .CredentialContent {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    background: $white;
    box-shadow: $shadow;
    margin: 0 auto;
  }
}
