@import '../../../../css/general_styling';

.WelcomeContainer {
  width: 100%;
  display: flex;
  padding: 3em 2em;
  border-radius: 6px;
  position: relative;
  align-items: center;
  margin: 1.5em 0;
  height: 100px;
  background: #ffeaeb;

  @include breakpoint(sm) {
    width: 100%;
    padding: 1em;
  }
  .WelcomeText {
    h2 {
      @include letter-spacing;
      @include primary-text($h2, $primary-color);
      font-weight: 600;
    }
    p {
      @include primary-text($body, $secondary-color);
      @include letter-spacing;
      margin-top: 10px;
    }
  }
  .WelcomeImg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    @include breakpoint(sm) {
      right: 0;
      bottom: 60%;
    }
    img {
      @include breakpoint(sm) {
        width: 80px;
      }
    }
  }
}
