@import '../../../../css/general_styling';

.UserAvatar {
  display: flex;
  align-items: center;

  .UserData {
    display: flex;
    align-items: center;

    .UserLabel {
      @include primary-text($body, $white, 400);
      margin-left: 1em;
    }
  }

  .SettingsMenu {
    margin-left: 0.75em;
  }
}
