@import "../../../../../css/general_styling";

.UnconfirmedAccountErrorModal {
  width: 50% !important;
  .ModalInfo {
    width: 20em;
  }
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    padding: 3em;
    text-align: center;
    align-items: center;
    h2 {
      @include secondary-text($h2, $primary-color);
      font-feature-settings: normal;
      font-variant: normal;
    }
    p {
      @include secondary-text($body, $grey);
      font-variant: normal;
      margin-bottom: 2em;
      line-height: 1.2em;
    }
    img {
      height: 152px;
      margin-left: -10%;
    }
    canvas {
      border: 2px solid $light-grey;
      padding: 1em;
      border-radius: 10px;
      margin: 1em 0;
      width: 140px !important;
      height: 140px !important;
    }
  }

  .FooterButtons {
    button {
      margin: 2em 0 0 0;
      width: 150px;
    }
  }
}
