@import '../../css/general_styling';

.BulkImportContainer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
  .ContentHeader {
    border-bottom: 1px solid $light-grey;
    height: 15vh;
    padding: 2em;
    display: block!important;
    h1 {
      @include primary-text($h1, $black);
      font-weight: bold;
    }
    p {
      @include primary-text($body, $dark-grey);
    }
  }
}
