@import '../../../../css/general_styling';

.StepsInfo {
  background-color: $light-grey;
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .NewCredentialSteps {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    .StepLine {
      display: flex;
      justify-content: center;
      margin-bottom: 0.75em;
      &:last-child {
        margin-bottom: 0;
      }
      .StepLineContentActive {
        background: #fff;
        border: 1px solid rgb(30, 214, 158);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow;
        height: 30px;
        width: 30px;
        .ant-badge-count {
          background-color: transparent !important;
          font-weight: bold;
          color: rgb(30, 214, 158);
        }
        label {
          @include body-text($label, $secondary-color, 400);
          margin-left: 1em;
        }
      }

      .StepLineContent {
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        background: white;
        width: 30px;
        border-radius: 10em;
        label {
          @include body-text($label, $secondary-color, 400);
        }
      }
    }
  }
}
