@import "../../../../../css/general_styling";

.FiltersMenu {
  .selectLabel {
    p {
      margin: 0;
      @include primary-text(9px, $black);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .FilterDivider {
      border-color: #e1e1e16b;
    }
  }

  .ClearFiltersButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}
