@import '../../css/general_styling.scss';

.mainBtn {
  @include primary-text(14px, white);
  background-color: $primary-color;
  padding: 0 2em;
  height: 35px;
  border-radius: 2em;
  transition: all 1s;
  p {
    margin:0;
  }
}
.mainBtn:hover {
  background: #bf222c;
  transition: all 1s;
}