@import '../../../../css/general_styling';

.CreatedCredential {
  justify-content: center;
  display: flex;
  flex-direction: column;

  h3 {
    @include secondary-text($h3, $black);
    width: 250px;
    margin-bottom: 2em;
    border-left: 1px solid red;
    padding-left: 1.5em;
  }

  .ContainerCredential {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 6px;

    .CredentialTemplate {
      width: 100%;
    }
  }
}
