@import '../../../../css/general_styling';

.HeaderContainer {
  padding: 1em;
  background-color: $secondary-color;
  .LogoContainer {
    display: flex;
    align-items: center;
    .HeaderLogo {
      height: 28px;
      margin-left: 1em;
    }
    .PortalName {
      width: 100px;
      border-left: 1px solid $white;
      margin-left: 1.5em;
      padding: 0.5em 1.5em 0 1.5em;
      p {
        @include secondary-text($explain, $white);
      }
    }
  }

  .RightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline: none;
    .ant-select-selection {
      background: transparent;
      border: transparent;
      .ant-select-arrow {
        color: $white;
        margin-left: 1em;
      }
    }
    .LanguajeOption {
      color: $white;
    }
  }

  .IconUniversity {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 996px) {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
  }
}
