@import '../../../../css/general_styling';

.RegistrationContainer {
  .RegistrationContent {
    .RegisterStep {
      .OrganizationInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .ant-form {
          align-self: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;
          display: flex;
          width: 90%;
          padding: 0 2em;

          .organizationRole {
            width: 45%;

            .FileUploader {
              padding-top: 0;
              p {
                line-height: 20px;
                margin-bottom: 1em;
              }
            }
          }
        }
      }
    }
  }
}
