@import '../../../../../css/general_styling';

.PioneersBannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../../images/atla_header_background@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 8em;
  text-align: center;
  h1 {
    @include primary-text(72px, $white);
    font-weight: bold;
    max-width: 600px;
    margin:0 auto;
    line-height: 82px;
    margin-bottom: 0.5em;
  }
  p {
    @include primary-text($body, $white);
    max-width: 500px;
    margin: 0 auto;
  }
  .textContainer {
    text-align: center;
    margin-top: 2em;
    img {
      width: 40px;
      margin-bottom: 0.5em;
    }
    h3 {
      @include primary-text($body, $primary-color);
      font-weight: bold;
    }
    p {
      @include primary-text($body, $white);
      max-width: 500px;
      margin: 1em auto;
    }
    button {
      margin-top: 1em;
      color: $primary-color;
    }
    button:hover {
      color: white;
    }
  }
}
