@import '../../css/general_styling.scss';

.Collapsable {
    padding: 0 2em;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    display: flex;
    flex-direction: row-reverse;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    @include primary-text($h3, $secondary-color);
    font-weight: bold;
    padding: 1.5em 1em;
    .anticon-right {
        color: $primary-color;
    }
}

.ant-collapse {
    background: white;
    border: 1px solid transparent;
}

.ant-collapse-content-box {
    padding: 3em 1em!important;
    width: 70%;
    @include primary-text($body, $secondary-color);
}