@import '../../../../../css/general_styling';

.credentialsIssued {
  height: calc(100% - 4em);
}

.credentialsReceived {
  height: calc(100% - 4em);
}

.CredentialsTable {
  overflow: auto;
  margin-top: 10px;
  table {
    @include primary-text($body, $black);

    img {
      border-radius: 4px;
    }

    .ant-table-thead {
      display: none;
    }
    .ant-table-tbody > tr > td {
      background: $light-grey;
      border-bottom: 6px solid $white;
    }

    .ControlButtons {
      display: flex;
      align-items: center;

      button {
        margin-right: 1em;
        margin-left: 1em;
      }

      a {
        color: $primary-color;
      }
    }
  }

  .PaginatedTable {
    .ant-table-body {
      overflow-x: auto !important;
      overflow-y: auto !important;
    }
  }
}

.optionsPopoverButton {
  color: '#B3C0D9';
  border: none;
  padding: 0.5em;
  line-height: 4px;
  height: 2em;
}

.ant-popover {
  .ant-btn[disabled] {
    min-width: 5em;
    background-color: transparent;
    border: none;
  }
}


