@import '../../css/general_styling';

// Change Antd Menu Styles
.ant-menu-horizontal > .ant-menu-item::before,
.ant-menu-horizontal > .ant-menu-submenu::before,
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-item::before {
  content: none;
}

.ant-menu-item {
  list-style-type: none;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-submenu-open {
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected .ant-submenu-item:active,
.ant-menu-horizontal > .ant-menu-submenu-selected .ant-menu-item-active:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected .ant-menu-hidden.ant-menu-vertical:hover {
  color: $black;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
  color: #72809a;
}

@media only screen and (min-width: 1081px) {
  .ant-menu {
    background-color: transparent;
    color: $dark-grey;
    border-bottom: transparent;
    @include primary-text($body, $dark-grey);
    -webkit-transition: 500ms ease-out;
    -moz-transition: 500ms ease-out;
    -o-transition: 500ms ease-out;
    width: 100%;
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    padding: 0 15px;
  }

  .ant-menu-submenu-popup {
    background-color: transparent;
  }
}

@media only screen and (max-width: 1080px) {
  .ulMain {
    width: 24px;
    background-image: url(../../images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }

  .ant-menu-submenu > .ant-menu {
    padding-bottom: 1em;
  }

  .ant-menu-submenu {
    padding-bottom: 1em;
  }

  .ant-menu-submenu-title,
  .ant-menu-submenu-title:hover {
    color: transparent;
    span {
      color: transparent !important;
    }
  }

  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: transparent;
  }

  .ant-menu-submenu:hover {
    color: $light-grey;
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: $black;
    background: transparent;
  }

  .ant-menu-submenu .ant-menu .ant-menu-submenu-title:hover {
    color: transparent;
    background-color: $light-grey;
    .ant-menu-submenu-arrow {
      color: $background;
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
    color: $black;
  }

  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-submenu:hover,
  .ant-menu-horizontal > .ant-menu-item-active,
  .ant-menu-horizontal > .ant-menu-submenu-active,
  .ant-menu-horizontal > .ant-menu-item-open,
  .ant-menu-horizontal > .ant-menu-submenu-open,
  .ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: transparent;
    border-bottom: 1px solid transparent;
  }
}
