.div__btngroup {
    width: 80%;
    min-width: 240px;
    margin: 0 20px 10px auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.25);
}

.div__field_group {
    min-width: 240px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.25);
}

.div__header {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    color: #333;
    max-width: 300px;
}

.div__btn {
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
    display: block;
    padding: 18px 30px 15px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: #3cc77a;
    box-shadow: 0 2px 0 0 #2ea262;
    transition: none;
    position: relative;
}

#containerId.container {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.div__field {
    padding-bottom: 10px;
    padding-top: 10px;
}

._input {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    height: 30px;
    width: 190px;
    padding-left: 10px;
    padding-right: 38px;
    border-radius: 3px;
}

.input__container {
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
}

.logo__container {
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
}

.status_container {
    width: 80%;
    min-width: 240px;
    margin: 0 20px 5px 15px;
}

._label_update {
    color: red;
}
