@import '../../../../css/general_styling';

@each $sizeKey, $size in $height-sizes {
  .table-#{$sizeKey} {
    height: $size;
    overflow-y: auto;
  }
}

.PaginatedTable,
.PaginatedTableHeader {
  table {
    @include primary-text($body, $black);

    img {
      border-radius: 4px;
    }
    .ant-table-tbody > tr > td {
      background: $light-grey;
      border-bottom: 6px solid $white;
    }
    .ControlButtons {
      display: flex;
      align-items: center;

      button {
        margin: 0 0.75em;
      }

      a {
        color: $primary-color;
        min-width: 100px;
        text-align: center;
        margin: 0 0.75em;
      }
    }
  }
}

.PaginatedTable {
  .ant-table-thead {
    display: none;
  }
}

.PaginatedTableHeader {
  .ant-table-thead > tr > th {
    padding: 0.7em 0.5em 0;
    vertical-align: middle;
    background: $light-grey;
    border-bottom: 4px solid $white;
  }
}

.EditableTable {
  height: 100%;
  width: 100%;
  .ant-table-tbody {
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
  }
}
