@import '../../../../css/general_styling';

.FaqPanelContent {
  display: flex;
  flex-direction: column;
  padding: 8em;
  background: $surface;

  .MiniDetailText {
    color: $primary-color;
  }

  .TextContainer {
    width: 70%;
    margin-left: 200px;

    h1 {
      @include secondary-text($h1, $black);
      line-height: 30px;
    }

    .FaqContainer {
      width: 80%;

      .FaqItem {
        margin-top: 3em;
        padding-left: 1em;
        border-left: 1px solid $primary-color;
        h3 {
          @include primary-text($body, $black);
          font-weight: 600;
        }
        p {
          @include primary-text($label, $black);
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .FaqPanelContent {
    padding: 4em;

    .TextContainer {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .FaqPanelContent {
    .TextContainer {
      width: 100%;
      margin-left: 0;
      .FaqContainer {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .FaqPanelContent {
    .TextContainer {
      .FaqContainer {
        width: 100%;
      }
    }
  }
}
