@import '../../../../css/general_styling';

.SettingsMenu {
  width: 11em;
  color: white;
  .userInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .verticalAlign {
      align-items: center;
      .logo {
        margin-right: 0.5em;
      }
      .UserName {
        @include primary-text($body, white);
        width: 7em; 
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}