@import "../../../../css/general_styling";

.CategoriesDropDown {
  .AddCategoryButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.TemplateIconContainer {
  .TemplateIconWrapper {
    margin-right: 2em;
    .TemplateIcon {
      height: 100%;
      width: 98px;
    }
  }
  .verticalFlex {
    .TitleSmall {
      @include primary-text($body, $black);
      font-weight: bold;
      font-variant: normal;
    }
    .SubtitleGray {
      @include primary-text($body, $grey);
      font-variant: normal;
    }
    button {
      width: 10em;
      margin-top: 1em;
    }
  }
}

.TemplateNameIconCategoryStep {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2em 1.5em;
  .LeftPanel {
    width: 40%;
  }
  .RighPanel {
    width: 60%;
    .TemplateName {
      .TitleSmall {
        @include primary-text($body, $black);
        font-weight: bold;
        font-variant: normal;
      }
      .SubtitleGray {
        @include primary-text($body, $grey);
        font-variant: normal;
      }
      .ant-form-item-label {
        display: none;
      }
      .ant-row {
        height: 4em;
        width: 20em;
        .ant-col {
          line-height: 15px !important;
          label {
            margin: 0;
          }
          .ant-form-item-control-input-content {
            .ant-input,
            .ant-select-selection {
              border: 1px solid lightgray !important;
            }
            .ant-input:hover {
              border: 1px solid $primary-color !important;
            }
            .ant-input:focus {
              border: 1px solid $primary-color !important;
            }
          }
        }
      }
    }
    .TemplateCategorySection {
      .TitleSmall {
        @include primary-text($body, $black);
        font-weight: bold;
        font-variant: normal;
      }
      .SubtitleGray {
        @include primary-text($body, $grey);
        font-variant: normal;
        margin-bottom: 1em;
      }
      .ant-row {
        height: 4em;
        width: 20em;
      }
      .ant-form-item-label {
        display: none;
      }

      .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: 1px solid $primary-color;
        box-shadow: 0px 0px 2px 1px rgb(255, 164, 164) !important;
      }
    }
  }
}
