@import '../../../../../css/general_styling';

.LabelItem {
  padding: 0.75em 1.5em;
  background: $grey;
  border-radius: 4px;
  width: fit-content;
  margin-bottom: 1em;

  p.LabelText {
    @include primary-text($body, $dark-grey);
    margin: 0;
  }
}

.Primary-Label {
  background: #ffeaeb;
  p.LabelText {
    color: $primary-color;
  }
}

.Secondary-Label {
  background: #e8fbf5;
  p.LabelText {
    color: $success-color;
  }
}
