@import "../../../../../src/css/general_styling";

.RecipientsSelectionTableHeader {
  .FilterControls {
    margin: 0 1em 0 0 !important;
  }
}

.ContactFilters {
  .FiltersButton {
    .ant-btn:first-child {
      display: none !important;
    }
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      color: white;
      border-color: transparent;
      background-color: $secondary-color;
    }
  }
}
