@import "../../../../../src/css/general_styling";

.RecipientsSelectionTableHeader {
  .FilterControls {
    margin: 0 1em 0 0 !important;
  }
}

.ContactFilters {
  .FiltersButton {
    .ant-btn:first-child {
      display: none !important;
    }
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border:1.5px solid $secondary-color;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      img {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }
}

.SortControlContainer .ant-select-selection-item, .SortControlContainer .ant-select-clear {
  color: $secondary-color;
}

.anticon-close-circle {
  color: $primary-color;
}