@import '../../../../css/_general_styling';

.ant-form.ant-form-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .itemFormInfo,
  .DatePickerContainer {
    width: 32%;

    .ant-calendar-picker {
      width: 100%;
    }

    #custom_form_graduationDate,
    #custom_form_startDate {
      width: 100%;
    }
  }
}
