@import '../../../css/general_styling';

.SelectionCard {
  width: 25em;
  height: 20em;
  margin: 1em;
  padding: 2em;
  border: 1px solid $primary-color;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $shadow;
  .StepIcon {
    h1 {
      display: inline-block;
      border: 1px solid $primary-color;
      border-radius: 20px;
      box-shadow: $red-shadow;
      @include primary-text(20px, $primary-color);
      padding: 0 11.5px;
  }
  }  
  .CardText {
    h2 {
      @include primary-text($h1, $secondary-color);
      font-weight: bold;
    }
    p {
      @include primary-text($body, $grey);
      margin-top: 1em;
    }
  }  
  .SelectionWrapper {
    .ant-select-selection {
      border-color: transparent;
    }
    .ant-select-selection--single{
      width: 250px;
      background: transparent;
      border:1px solid $primary-color;
      height: 50px;
      .ant-select-selection--single, .ant-select-selection__placeholder {
        height: 3.5em;
        line-height: 3em ;     
        color: $primary-color;
        font-weight: bold;
      }
      .ant-select-arrow {
        color:$primary-color;
      }
    }
  }

  .ant-select-selection-selected-value{
    line-height: 3em ;     
    height: 3.5em;
    display: flex !important; 
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
      i {
        align-content: center;
        height: 2em;
        line-height: 3em;
        margin-right: 1em;
        width: auto;
        svg {
          height: 100%;
          width: auto;
        }
      }
  }

}

.DisabledCard {
  opacity: 0.4;  
  border:none;
}

.OptionContainer {
  line-height: 3em ;     
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  i {
    height: 2em;
    line-height: 3em;
    margin-right: 1em;
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }
}

.ContactsImportDropdown {
  width: 250px !important;
}
