@import "../../../../css/general_styling";

.templateModal {
  .ant-radio-wrapper {
    height: 60px;
    margin: 0.5em;
  }
  .ant-modal-header {
    .ant-modal-title {
      font-variant: normal;
    }
  }
  .ant-modal-body {
    padding-top: 0;
  }
  .ant-form-item-control-input-content {
    text-align: center;
    margin: 0;
  }
  .ant-form-item-required::before {
    display: none !important;
  }
  .inputContainer {
    padding: 0;
    margin-bottom: 1em;
    input {
      border: 1px solid $grey;
    }
    .ant-row {
      flex-direction: column;
      display: flex;
      .ant-form-item-label {
        text-align: left;
        @include primary-text($body, $black);
        font-variant: normal;
      }
    }
    .gallery {
      .ant-form-item-control-input-content {
        text-align: left;
        @include primary-text($body, $black);
        margin: 0;
      }
    }
  }
  .ant-row {
    margin: 0;
  }
  .ant-upload {
    display: flex;
    width: 100%;

    .galleryLabel {
      width: 100%;
      display: flex;
      margin: 1em 0 0 0;
    }
  }

  .verticalFlex {
    width: 100%;
    .iconSample {
      margin: 1em auto;
    }
    h3 {
      @include primary-text($h3, $black);
      font-variant: normal;
      font-weight: bold;
    }
    p {
      @include primary-text($body, grey);
      font-variant: normal;
      margin-bottom: 1em;
    }
    button {
      margin: 0 auto;
      max-width: 12em;
    }
  }
}

.imgGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  img {
    width: 60px;
    height: 60px;
  }
}

.buttonSection {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    width: 260px;
    margin: 1em 0;
  }
}

.ant-upload-list-picture {
  display: flex;
  align-items: center;
  .CategoryIconOption {
    width: 60px;
    height: 60px;
  }
}

span.ant-radio + * {
  padding: 0;
}
