@import '../../css/general_styling.scss';

form {
  display: flex;
  justify-content: flex-start;
  .ant-col-offset-8 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    button {
      width: 150px;
      @include primary-text($body, $white);
      height: 56px;
      font-weight: bold;
      margin: 0 auto;
    }
  }
  .ant-checkbox-wrapper {
    span {
      line-height: 15px;
      @include primary-text($label, $dark-grey);
      .link {
        color: $primary-color;
      }
    }
  }
}

.ant-form .ant-form-item {
  margin-bottom: 2em;
  width: 100%;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary-color;
  border-color: $primary-color;
}