// Colors
$background: #f1f3f8;
$surface: #fff;

$primary-color: #f83633;
$primary-color-darker: #ba2926;
$secondary-color: #011727;
$secondary-color-disabled: #0000004d;

$success-color: #1ed69e;

$black: #303034;
$white: #fff;
// $dark-grey: #728099;
$dark-grey: #99a2a9;
$grey: #b3bec5;
$medium-grey: #c5d0de;
$light-grey: #f3f3f3;

// Typographic Scale
$title: 32px;
$subtitle: 18px;
$h1: 23px;
$h2: 18px;
$h3: 16px;
$button: 14px;
$body: 14px;
$label: 12px;
$explain: 10px;
$navbar-height: 68px;
$sidebar-width: 65px;

// Shadow
$shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.16);
$red-shadow: 0 1px 6px rgba(255, 45, 60, 0.16), 0 2px 6px rgba(255, 45, 60, 0.16);

$height-sizes: (
  'xs': 20vh,
  'sm': 30vh,
  'md': 40vh,
  'lg': 50vh,
  'xl': 60vh
);

// Flex
.flex {
  display: flex;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}

.flexStart {
  justify-content: flex-start;
}

.spaceBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

.selected {
  border: 1.5px solid $primary-color;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
}

.full-width {
  width: 100%;
}

.InfiniteScrollTableContainer {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Circular-bold';
  src: url(../fonts/CircularStd-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
  font-feature-settings: normal !important;
  font-variant: normal;
}
@font-face {
  font-family: 'Circular-book';
  src: url(../fonts/CircularStd-Book.woff) format('woff');
  font-display: swap;
  font-feature-settings: normal !important;
  font-variant: normal;
}

// Fonts

@mixin primary-text($font-size, $font-color) {
  margin: 0;
  font-family: 'Circular-book', sans-serif;
  font-size: $font-size;
  @if $font-color {
    color: $font-color;
  }
}

@mixin secondary-text($font-size, $font-color) {
  margin: 0;
  font-family: 'Circular-bold', sans-serif;
  font-size: $font-size;
  @if $font-color {
    color: $font-color;
  }
}

@mixin body-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color {
    color: $font-color;
  }
}

@mixin letter-spacing() {
  font-feature-settings: normal;
  font-variant: normal;
}

@mixin horizontal-scroll() {
  white-space: nowrap;
  overflow: auto;
}

@mixin highlighted-text($font-color: $primary-color, $font-size: 18px) {
  font-family: 'Circular-bold', sans-serif;
  color: $primary-color;
  font-size: $font-size;
}

// PopOver

.ant-popover-content {
  .ant-popover-arrow {
    display: none !important;
  }
}

// Checkbox

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary-color;
  border-color: $primary-color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $primary-color;
}

.ant-checkbox-checked::after {
  border: 1px solid $primary-color;
}

.ant-checkbox-indeterminate {
  .ant-checkbox-inner::after {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

// Container

@mixin container() {
  background: #fff;
  box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.28);
  border-radius: 6px;
  padding: 1em;
}

// Theme Colors

@mixin input-style($border-color) {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $border-color;
}

@mixin tag-style($tag-bg, $font-size, $font-color, $font-weight) {
  background: $tag-bg;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  p {
    @include primary-text($font-size, $font-color, $font-weight);
    text-transform: uppercase;
  }
}

/* Remove controls from Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove controls from Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.ant-select-selection__placeholder {
  color: #989898;
}
.ant-input,
.ant-select-selection {
  border: 1px solid #3e3e3e;
}
.ant-input::placeholder {
  color: #989898;
}
.ant-input:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
}
.ant-select-selection:hover {
  border-color: $primary-color;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: $primary-color;
}
.ant-select-selection:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
}
// Responsive

$screen-sm-min: 425px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-min) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (max-width: $screen-sm-min) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (max-width: $screen-md-min) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (max-width: $screen-lg-min) {
      @content;
    }
  }
}

@mixin breakpointMin($media) {
  @if $media == xs {
    @media only screen and (min-width: $screen-xs-min) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: $screen-md-min) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}
