.w-100 {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
}

.ai-center {
  align-items: center;
}

.pt-1 {
  padding-top: 0.5em !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 2em !important;
}

.mr-2 {
  margin-bottom: 1em !important;
}

.px-2 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
