@import '../../../../css/general_styling';

.StepCard {
  width: 100%;
  background-color: white;
  position: relative;
  justify-content: center;
  padding: 3em;
  border-radius: 10px;
  box-shadow: $shadow;

  &:focus {
    outline: none;
  }

  .CardText {
    margin-top: 2em;
  }
}

.IsSelected {
  border: 2px solid $primary-color;
  border-radius: 10px;
  box-shadow: $red-shadow;

  .ant-avatar-circle {
    color: #ff2d3b;
    background-color: white;
    border-color: #ff2d3b;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;

    span {
      font-size: 18px;
      line-height: 28px;
    }
  }

  h1 {
    @include secondary-text($h1, $secondary-color);
    @include letter-spacing();
  }

  p {
    @include primary-text($body, $secondary-color);
    @include letter-spacing();
  }
}

.NotSelected {
  .ant-avatar-circle {
    visibility: hidden;
  }

  h1 {
    @include secondary-text($h1, $secondary-color-disabled);
    @include letter-spacing();
  }

  p {
    @include primary-text($body, $secondary-color-disabled);
    @include letter-spacing();
  }
}
