@import '../../../../../css/general_styling';

.WhatYouNeed {
  display: flex;
  flex-direction: column;
  background: $surface;
  border-radius: 4px;
  padding: 1.25em 1em;
  margin-top: 2.5em;

  .WhatYouNeedContainer {
    border-left: 1px solid $primary-color;
    padding-left: 1em;
    h3 {
      @include primary-text($body, $black);
      font-weight: 600;
      margin-bottom: 0.25em;
    }
    p {
      @include primary-text($label, $black);
    }
    .anticon-check {
      color: $primary-color;
    }
  }
}
