@import '../../../../../css/general_styling';
@import '../../../../../css/spacing';

.CredentialRawDetail {
  .Card {
    @extend .w-100;
    @extend .mb-3;
    background-color: $light-grey;
    border-radius: 6px;
    border: 0;
    & * {
      color: $dark-grey;
      font-family: 'Circular-book', sans-serif;
    }
    .ant-card-body {
      padding-top: 1.7em;
      padding-bottom: 1em;
    }
    .icon {
      font-size: 14px;
    }
    .title {
      font-size: 15px;
      font-weight: bold;
      margin: 0px 0 10px;
      .ant-divider-inner-text {
        padding-left: 0px;
      }
      &::before {
        width: 0%;
      }
    }
    .description {
      & * {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }
}
