@import "../../../css/general_styling";

.IndividualFormRow {
  display: table;
  box-sizing: border-box;
  border-bottom: 1px solid $medium-grey;
  min-width: 100%;
  &:last-child {
    border-bottom: none;
  }
  .ant-form-item {
    display: inline-block;
  }
  .IndividualFormCol {
    display: inline-block;
    margin: 0 !important;
    & > .ant-row {
      margin-bottom: 0;
    }
    .ant-col {
      margin: 0;
    }
    .ant-form-item-control-input {
      max-width: 280px;
    }
  }
}
