@import '../../../../css/_general_styling';

.ant-modal-content {
  background-color: transparent;
  box-shadow: none;
}

.PersonasModal {
  h1 {
    @include primary-text($h2, $black);
    font-weight: 600;
    margin-bottom: 1em;
    text-shadow: $shadow;
  }
  .PersonaCards {
    display: flex;
    justify-content: space-between;
  }
}
