@import '../../../../css/_general_styling';

.ant-modal-content {
  background-color: transparent;
  box-shadow: none;

  .ant-modal-body {
    padding: 20px 24px 0 24px !important;
  }
}

.PersonasModal {
  h1 {
    @include primary-text($h2, $black);
    font-weight: 600;
    margin-bottom: 1em;
    text-shadow: $shadow;
  }
  .PersonaCards {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1024px) {
  .ant-modal {
    width: 90% !important;
  }
}

@media only screen and (max-width: 425px) {
  .PersonasModal {
    .PersonaCards {
      flex-direction: column;
      .PersonaCardEnabled,
      .PersonaCardDisabled {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}
