@import '../../../../css/_general_styling';

.ContactFormButtonContainer {
  margin-top: 1.5em;

  .ContactFormButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: $primary-color-lighter;
    box-shadow: $shadow;
    box-shadow: $shadow-primary;
    border-radius: 8px;
    padding: 0.5em 1em 0.5em 0;
    width: 230px;
    z-index: 2;
    text-align: left;

    img {
      width: 35%;
      margin-top: -2em;
      padding-left: 1em;
    }

    .TitleContainer {
      width: 65%;
      padding-left: 1.5em;
      padding-top: 0.5em;
      h4 {
        @include primary-text($h3, $primary-color);
      }
    }

    .ContactFormButtonContent {
      padding: 1em 0 0.5em 1.5em;

      h4 {
        @include primary-text($label, $primary-color);
      }

      p {
        @include primary-text($label, $black);
      }
    }
  }
}
