@import '../../../../css/_general_styling';

.ContactFormButtonContainer {
  margin-top: 1.5em;

  &::before {
    content: '';
    background: #fed7d6;
    position: absolute;
    bottom: 10px;
    width: 82%;
    height: 40px;
    border-radius: 8px;
    left: 16px;
  }

  .ContactFormButton {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background: $primary-color-lighter;
    border-radius: 8px;
    padding: 0.5em 1em 0.5em 0;
    width: 100%;
    z-index: 2;

    img {
      position: absolute;
      bottom: 10px;
      width: 80px;
    }

    .ContactFormButtonContent {
      text-align: left;
      margin-left: 110px;

      h4 {
        @include primary-text($body, $primary-color);
      }

      p {
        @include primary-text($label, $black);
      }
    }

    .ContactFormButtonIcon {
      @include secondary-text($h2, $primary-color);
    }
  }
}
