@import '../../css/general_styling';

.tabContent {
  height: calc(100% - 4em);
  overflow-y: auto;
}

.CredentialsTableContainer {
  height: 100%;
  .InfiniteScrollTable {
    height: auto;
  }

  .buttonCredential {
    width: 100% !important;
  }
  .ant-tabs {
    height: 100%;
  }
  .ant-tabs-content {
    height: 100%;
    overflow-y: auto;
  }
  .ant-tabs-tabpane{ 
    overflow: hidden;
  }
  .ant-popover {
    z-index: auto;
  }

  .ant-popover-inner {
    border-radius: 8px;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .checkboxCredential {
    margin: 15px 0 5px 0;
    display: flex;
    align-items: center;
  }

  .ant-tabs-nav-wrap,
  .selectionGroups {
    margin: 1em 3em 1em 0;
  }
  .ant-tabs-nav .ant-tabs-tab {
    @include primary-text($body, #a0aabb);
    font-weight: 800;
    margin-right: 1em;
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      @include primary-text($body, $black);
      font-weight: 800;
    }
  }
  .selectionGroups {
    width: 20%;
    .ant-input:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.0523656);
    }
    .ant-input:hover {
      border-color: $primary-color;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $primary-color;
  }
  .ant-tabs-nav .ant-tabs-tab:active {
    color: $primary-color;
  }
  .ant-tabs-tab:hover {
    color: $primary-color;
  }
}
