// Colors
$background: #f1f3f8;
$surface: #eeeeee;
$light-background: #FAFAFA;

$primary-color: #ff2d3b;
$primary-color-darker: #bf222c;
$primary-color-lighter: #ffeaeb;
$secondary-color: #011727;

$primary-accent: #40eaea;
$secondary-accent: #af2dff;
$ternary-accent: #4a2dff;

$success-color: #1ed69e;

$black: #000000;
$white: #fff;
$dark-grey: #728099;
$grey: #8f97a4;
$medium-grey: #c5d0de;
$light-grey: #f8f9f9;

// Typographic Scale
$large-title: 44px;
$title: 32px;
$subtitle: 20px;
$h1: 24px;
$h2: 18px;
$h3: 16px;
$button: 14px;
$body: 14px;
$label: 12px;
$explain: 10px;

$theme-color: linear-gradient(to right, #f2316a, #ed1c24);

// Shadow
$shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.16);
$shadow-primary: 0 1px 6px rgba(255, 45, 59, 0.16), 0 2px 6px rgba(255, 45, 59, 0.16);
$shadow-header: 0 2px 8px rgba(52, 53, 62, 0.16);
$shadow-bubble: 0px 0px 10px 0px rgba(0,0,0,0.5);

// Container

@mixin container() {
  background: #fff;
  box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.28);
  border-radius: 6px;
  padding: 1em;
}

// Theme Colors

@mixin border-theme($theme-color) {
  border-left: solid;
  border-color: $theme-color;
  border-left-width: 6px;
  border-left-style: solid;
}

@font-face {
  font-family: 'Circular-bold';
  src: url(../fonts/CircularStd-Bold.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Circular-book';
  src: url(../fonts/CircularStd-Book.woff) format('woff');
}

// Fonts

@mixin primary-text($font-size, $font-color) {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size;
  font-weight: 400;
  @if $font-color {
    color: $font-color;
  }
}

@mixin secondary-text($font-size, $font-color) {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size;
  font-weight: 700;
  @if $font-color {
    color: $font-color;
  }
}

@mixin body-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color {
    color: $font-color;
  }
}

@mixin letter-spacing() {
  font-feature-settings: normal;
  font-variant: normal;
}

// Container

@mixin container() {
  background: #fff;
  box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.28);
  border-radius: 6px;
  padding: 1em;
}

// Theme Colors

@mixin input-style($border-color) {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $border-color;
}

@mixin tag-style($tag-bg, $font-size, $font-color, $font-weight) {
  background: $tag-bg;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  p {
    @include primary-text($font-size, $font-color, $font-weight);
    text-transform: uppercase;
  }
}

/* Remove controls from Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove controls from Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// Responsive

$screen-sm-min: 425px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-min) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (max-width: $screen-sm-min) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (max-width: $screen-md-min) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (max-width: $screen-lg-min) {
      @content;
    }
  }
}
