@import '../../css/general_styling';

.OptionCardsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.ImportWrapper {
  display: flex;
  flex-direction: column;
  .ContentHeader {
    padding: 3em 0;
    display: block !important;
    h2 {
      @include primary-text($h2, $black);
      font-weight: bold;
    }
    h3 {
      @include secondary-text($body, $dark-grey);
    }
    p {
      @include primary-text($h3, $dark-grey);
    }
  }
}

.EmbeddedImportWrapper {
  width: 100%;

  .EmbeddedHeader {
    padding: 1em 3em !important;
    h1 {
      @include secondary-text($h1, $black);
      .stepDetail {
        color: $primary-color;
      }
    }
  }
}
