@import "../../../../css/general_styling";

.TableOptions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 0.5em;
  .LeftOptions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .TableOptionButton {
      margin: 0.5em 0.5em 0.5em 0;
      padding: 0;
      color: $black;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      span {
        margin-right: 0.5em;
      }
    }
  }

  .no-border {
    border: none;
  }
}
