@import '../../../../css/general_styling';

.TableOptions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .LeftOptions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .TableOptionButton {
      margin: .5em .5em .5em 0;
      padding: 0;
      color: $black;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      span {
        margin-right: 1em;
      }
    }
  }

  .no-border {
    border: none;
  }
}
