@import '../../../../css/_general_styling';

.ant-form.ant-form-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;

  .PruebaClase,
  .DatePickerContainer {
    width: 48%;

    #custom_form_graduationDate,
    #custom_form_startDate {
      width: 100%;
    }
  }
}
