@import '../../../../css/general_styling';

.FaqPanelContent {
  display: flex;
  flex-direction: column;
  padding: 8em;
  background: $surface;

  .TextContainer {
    max-width: 1200px;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      @include secondary-text($h1, $black);
      line-height: 30px;
      word-break: normal;
    }

    .FaqContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .FaqItem {
        width: 48%;
        margin-top: 3em;
        padding-left: 1em;
        border-left: 1px solid $primary-color;
        h3 {
          @include primary-text($body, $black);
          font-weight: 600;
          word-break: normal;
        }
        p {
          @include primary-text($label, $black);
          word-break: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .FaqPanelContent {
    padding: 8em 4em 4em 4em;

    .TextContainer {
      width: 90%;
    }
  }
  .ant-collapse-header {
    padding-right: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .FaqPanelContent {
    .TextContainer {
      width: 100%;
      margin-left: 0;
      .FaqContainer {
        width: 90%;
        .FaqItem {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .FaqPanelContent {
    padding: 8em 2em 4em 2em;
    .TextContainer {
      .FaqContainer {
        width: 100%;
      }
    }
  }
}
