@import '../../../../css/general_styling';

.RecipientsSelection {
  height: 100%;
  .ant-tabs {
    height: 100%;
  }
  .ant-tabs-content {
    height: calc(100% - 6.5em);
  }
  .ConnectionsTable {
    height: 100%;
    padding: 0 3em;
  }
  .groupsTableContainer {
    height: 100%;
  }
  .GroupTableContainer {
    height: 100%;
  }
  .ant-tabs-nav-wrap,
  .selectionGroups {
    margin: 1em 3em;
  }
  .ant-tabs-nav .ant-tabs-tab {
    @include primary-text($h3, #a0aabb);
    font-weight: 800;
    margin: 0 1em;
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      @include primary-text($h3, $black);
      font-weight: 800;
    }
  }
  .selectionGroups {
    width: 20%;
  }
  .selectionGroups {
    .ant-input:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.0523656);
    }
    .ant-input:hover {
      border-color: $primary-color;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $primary-color;
  }
  .ant-tabs-nav .ant-tabs-tab:active {
    color: $primary-color;
  }
  .ant-tabs-tab:hover {
    color: $primary-color;
  }
  .selectGroupSubtitle {
    margin: 0 3em;
    span {
      @include body-text($h3, #728099, 400);
    }
  }
  .selectGroupCheckbox {
    margin-right: 3em;
    span {
      @include primary-text($body, $black);
    }
  }
  .selectionGroupsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .groupsTableContainer {
    margin: 0em 3em;
  }
}
