@import '../../../../css/general_styling';

.QuotesPanelContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .QuotesPanel {
    display: flex;
    padding: 4em 28em;
    background: $primary-color;
    text-align: center;

    h1 {
      @include secondary-text($h1, $white);
      font-weight: 600;
      line-height: 30px;
    }
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid $primary-color;
  }
}

@media only screen and (max-width: 1024px) {
  .QuotesPanelContent {
    .QuotesPanel {
      display: flex;
      padding: 4em 8em;

      h1 {
        @include secondary-text($h2, $white);
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .QuotesPanelContent {
    .QuotesPanel {
      padding: 4em;
    }
  }
}
