    deps = [
      "@ch_qos_logback_logback_classic//jar",
      "@ch_qos_logback_logback_core//jar",
      "@com_alexitc_playsonify_akka_http_2_12//jar",
      "@com_alexitc_playsonify_core_2_12//jar",
      "@com_beachape_enumeratum_macros_2_12//jar",
      "@com_beachape_enumeratum_2_12//jar",
      "@com_chuusai_shapeless_2_12//jar",
      "@com_fasterxml_jackson_core_jackson_annotations//jar",
      "@com_fasterxml_jackson_core_jackson_core//jar",
      "@com_fasterxml_jackson_core_jackson_databind//jar",
      "@com_fasterxml_jackson_dataformat_jackson_dataformat_yaml//jar",
      "@com_fasterxml_jackson_datatype_jackson_datatype_jdk8//jar",
      "@com_fasterxml_jackson_datatype_jackson_datatype_jsr310//jar",
      "@com_fasterxml_jackson_module_jackson_module_paranamer//jar",
      "@com_fasterxml_jackson_module_jackson_module_scala_2_12//jar",
      "@com_github_sbtourist_journalio//jar",
      "@com_github_swagger_akka_http_swagger_akka_http_2_12//jar",
      "@com_google_guava_guava//jar",
      "@com_h2database_h2//jar",
      "@com_netflix_spectator_spectator_api//jar",
      "@com_softwaremill_quicklens_quicklens_2_12//jar",
      "@com_thoughtworks_paranamer_paranamer//jar",
      "@com_typesafe_config//jar",
      "@com_typesafe_ssl_config_core_2_12//jar",
      "@com_typesafe_akka_akka_actor_typed_2_12//jar",
      "@com_typesafe_akka_akka_actor_2_12//jar",
      "@com_typesafe_akka_akka_http_core_2_12//jar",
      "@com_typesafe_akka_akka_http_spray_json_2_12//jar",
      "@com_typesafe_akka_akka_http_testkit_2_12//jar",
      "@com_typesafe_akka_akka_http_2_12//jar",
      "@com_typesafe_akka_akka_parsing_2_12//jar",
      "@com_typesafe_akka_akka_protobuf_2_12//jar",
      "@com_typesafe_akka_akka_slf4j_2_12//jar",
      "@com_typesafe_akka_akka_stream_testkit_2_12//jar",
      "@com_typesafe_akka_akka_stream_2_12//jar",
      "@com_typesafe_akka_akka_testkit_typed_2_12//jar",
      "@com_typesafe_akka_akka_testkit_2_12//jar",
      "@com_typesafe_play_play_functional_2_12//jar",
      "@com_typesafe_play_play_json_2_12//jar",
      "@com_zaxxer_HikariCP//jar",
      "@commons_io_commons_io//jar",
      "@commons_logging_commons_logging//jar",
      "@de_heikoseeberger_akka_http_play_json_2_12//jar",
      "@io_iohk_cef_network_2_12//jar",
      "@io_micrometer_micrometer_core//jar",
      "@io_micrometer_micrometer_registry_datadog//jar",
      "@io_monix_monix_eval_2_12//jar",
      "@io_monix_monix_execution_2_12//jar",
      "@io_monix_monix_java_2_12//jar",
      "@io_monix_monix_reactive_2_12//jar",
      "@io_monix_monix_tail_2_12//jar",
      "@io_monix_monix_2_12//jar",
      "@io_netty_netty_all//jar",
      "@io_spray_spray_json_2_12//jar",
      "@io_swagger_swagger_annotations//jar",
      "@io_swagger_swagger_core//jar",
      "@io_swagger_swagger_jaxrs//jar",
      "@io_swagger_swagger_models//jar",
      "@javax_validation_validation_api//jar",
      "@javax_ws_rs_jsr311_api//jar",
      "@joda_time_joda_time//jar",
      "@net_bytebuddy_byte_buddy//jar",
      "@net_bytebuddy_byte_buddy_agent//jar",
      "@org_apache_commons_commons_dbcp2//jar",
      "@org_apache_commons_commons_lang3//jar",
      "@org_apache_commons_commons_pool2//jar",
      "@org_bouncycastle_bcprov_jdk15on//jar",
      "@org_flywaydb_flyway_core//jar",
      "@org_javassist_javassist//jar",
      "@org_jctools_jctools_core//jar",
      "@org_mockito_mockito_core//jar",
      "@org_objenesis_objenesis//jar",
      "@org_reactivestreams_reactive_streams//jar",
      "@org_reflections_reflections//jar",
      "@org_scala_lang_scala_reflect//jar",
      "@org_scala_lang_modules_scala_java8_compat_2_12//jar",
      "@org_scala_lang_modules_scala_parser_combinators_2_12//jar",
      "@org_scala_lang_modules_scala_xml_2_12//jar",
      "@org_scala_sbt_test_interface//jar",
      "@org_scala_stm_scala_stm_2_12//jar",
      "@org_scalacheck_scalacheck_2_12//jar",
      "@org_scalactic_scalactic_2_12//jar",
      "@org_scalatest_scalatest_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_config_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_core_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_interpolation_macro_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_interpolation_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_test_2_12//jar",
      "@org_scalikejdbc_scalikejdbc_2_12//jar",
      "@org_scoverage_scalac_scoverage_runtime_2_12//jar",
      "@org_slf4j_slf4j_api//jar",
      "@org_typelevel_cats_core_2_12//jar",
      "@org_typelevel_cats_effect_2_12//jar",
      "@org_typelevel_cats_kernel_2_12//jar",
      "@org_typelevel_cats_macros_2_12//jar",
      "@org_typelevel_machinist_2_12//jar",
      "@org_typelevel_macro_compat_2_12//jar",
      "@org_yaml_snakeyaml//jar",
    ],