@import '../../../../../css/general_styling';

.QRModal {
  .ant-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em 0 2em;
    h2{
      @include secondary-text($h2, $black);
      font-feature-settings: normal;
      font-variant: normal;
      margin-bottom: 1em;
    }
    canvas {
      border: 2px solid $grey;
      padding: 0.5em;
      border-radius: 4px;
      margin: 1em 0 3em;
      width: 158px !important;
      height: 158px !important;
    }
    button {
      width: 150px;
    }
  }
}
