@import '../../../../css/general_styling';

.templateCreation {
  padding: 0 2em;
  display: flex;
  justify-content: flex-start;
  .categoryAssign {
    width: 50%;
  }
}

.selectCategory {
  margin-top: 1em;
  .selectCategoryHeader {
    p {
      @include primary-text($body, $black);
      margin: 0;
      font-variant: normal;
      font-weight: bold;
    }
    .greyText {
      @include primary-text($body, $grey);
      font-weight: normal;
    }
  }
  .ant-form-item .ant-select, .ant-form-item .ant-cascader-picker {
    width: 290px;
    margin: 1em 0 0 0;
  }
}

.TypeSelectionContainer .TypeSelection .flex label {
  margin: 0;
}

.templateName {
  display: flex;
  flex-direction: column;
  .ant-form-item-has-error.ant-form-item-has-feedback .ant-form-item-children-icon {
    margin-top: 0.3em;
  }
  .ant-row {
    margin: 0;
    .ant-col {
      width: 290px;
      line-height: 15px !important;
      label {
        margin: 0;
        @include primary-text($body, $black);
        font-weight: bold;
      }
      p {
        @include primary-text($body, $grey);
        font-variant: normal;
        margin-bottom: 1em;
      }
      .ant-form-item-control-input-content {
        .ant-input::placeholder {
          color: lightgray;
        }
        .ant-input,
        .ant-select-selection {
          border: 1px solid lightgray !important;
        }
        .ant-input:hover {
          border-color: $primary-color;
        }
      }
    }
  }
}

.templateFormContainer {
  height: calc(100vh - 40vh);
}

.CategoryIconOption {
  display: flex;
  border-radius: 6px;
  box-sizing: border-box;
  height: 7em;
  align-content: center;
}

.ant-upload-list {
  display: flex;
  flex-wrap: wrap;
}
