@import '../../../../css/general_styling';

.GetStartedContent {
  display: flex;
  padding: 8em;
  background: $primary-color;

  width: 100%;
  min-height: 650px;
  background-image: url('../../../../images/illustration-get-started.svg');
  background-position: bottom right;
  background-repeat: no-repeat;

  .TextContainer {
    width: 60%;

    .GetStartedDescription {
      width: 70%;
      h1 {
        @include secondary-text($h1, $white);
        line-height: 30px;
      }
      h3 {
        @include primary-text($h3, $white);
        margin-top: 3em;
        padding-left: 1em;
        border-left: 1px solid $black;
      }
      button {
        margin-top: 3em;
      }
    }
  }

  .ImageContainer {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .GetStartedContent {
    padding: 8em 4em 4em 4em;
    min-height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .GetStartedContent {
    .TextContainer {
      .GetStartedDescription {
        margin-left: 0;
        width: 90%;
        h1 {
          @include secondary-text($subtitle, $white);
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .GetStartedContent {
    padding: 8em 2em 4em 2em;
    min-height: 780px;
    .TextContainer {
      width: 100%;
      .GetStartedDescription {
        h1 {
          font-size: 22px;
        }
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
