@import '../../../../css/general_styling';

.Congratulations {
  display: flex;
  flex-flow: column;
  height: 85%;
  align-items: center;

  .CongratulationsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6em;

    h2 {
      @include primary-text($h1, $primary-color);
      @include letter-spacing();
      line-height: $h1;
      strong {
        @include secondary-text($h1, $primary-color);
      }
    }

    p {
      width: 35%;
      text-align: center;
      @include primary-text($body, $secondary-color);
      @include letter-spacing();
      margin: 1em 0 2em 0;
    }
  }
}
