@import '../../../../css/general_styling';

.NewCredentialValidationContainer {
    padding: 2em 0;
  h2 {
    @include primary-text($h2, $black);
    word-spacing: -4px;
    margin-bottom: 1em;
  }
  .NewCredentialValidation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $light-grey;
    border-radius: 4px;
    padding: 0.5em;

    img {
      margin-right: 2em;
    }

    h3 {
      @include body-text($h3, $black, 600);
    }

    .ant-row {
      margin: 0 2em;
    }
  }
}
