@import '../../../../css/_general_styling';

.CredentialListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-right: 3em;
  padding-top: 1.5em;

  button {
    margin-bottom: 1.5em;
  }
}
