@import '../../../../css/general_styling';

.StepsFooter {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 5%;
  top: 85vh;
  width: 150px;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);

  .ContinueButtons {
    position: relative;
    display: flex;
  }

  .ant-steps-item-process .ant-steps-item-icon,
  .ant-steps-item-finish .ant-steps-item-icon {
    background: $white;
    border: 2px solid $primary-color;
    line-height: 30px;
  }
  .ant-steps-item-wait .ant-steps-item-icon {
    border: transparent;
  }
  .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: $primary-color;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: $primary-color;
  }
}
