@import '../../../../../css/_general_styling';

.ContactFormButtonContainer {
  margin-top: 1.5em;

  .DisclaimerMessage {
    background: #d9fbfb;
    box-shadow: $shadow;
    border-radius: 8px;
    width: 95%;
    padding: 1em;
    margin-top: 50px;
    p {
      @include primary-text($label, $black);
    }
    .AlertIcon {
      width: 50px;
      margin-top: -50px;
      margin-bottom: 1em;
      z-index: 100;
    }
  }

  .ContactFormButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: $primary-color-lighter;
    box-shadow: $shadow;
    box-shadow: $shadow-primary;
    border-radius: 8px;
    padding: 0.5em 1em 0.5em 0;
    width: 95%;
    z-index: 2;
    text-align: left;

    img {
      width: 35%;
      margin-top: -2em;
      padding-left: 1em;
    }

    .TitleContainer {
      width: 65%;
      padding-left: 1.5em;
      padding-top: 0.5em;
      h4 {
        @include primary-text($h3, $primary-color);
      }
    }

    .ContactFormButtonContent {
      padding: 1em 0 0.5em 1.5em;

      h4 {
        @include primary-text($label, $primary-color);
        font-weight: 600;
      }

      p {
        @include primary-text($label, $black);
        margin-bottom: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ContactFormButtonContainer {
    .ContactFormButton {
      width: 100%;
    }
  }
}
