@import '../../../../css/general_styling';

.SideMenu {
  background-color: $white;
  box-shadow: $shadow;
  width: 5vw;
  z-index: 10;
  display: flex;
  flex-flow: column;
  padding: 30px 0;

  -webkit-border-top-left-radius: 16px;
  -moz-border-radius-topleft: 16px;
  border-top-left-radius: 16px;
}
