@import "../../../css/general_styling";

.ant-popover {
  &-inner-content {
    width: auto !important;
  }
}

.AddContactsModal {
  .ant-modal {
    &-title {
      font-family: "Circular-bold", sans-serif;
      font-size: 21px;
      color: $secondary-color;
    }
    &-body {
      .ModalContactsContainer {
        padding: 1em 0;
      }
    }
    &-content {
      min-height: 35em;
      padding: 0.5em 1em;
    }
    &-footer {
      display: none;
    }
    .ant-modal-header {
      @include primary-text($h2, $secondary-color);
      font-variant: normal;
    }
  }

  .modal-filter-container {
    display: flex;
    justify-content: space-between;
    .SelectAllCheckboxContainer {
      padding: 1em 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
    }
    .searchAndBtnContainer {
      display: flex;
      align-items: center;
      .FilterControls .searchBox {
        width: 200px;
      }
    }
    .ant-btn {
      margin: 0 0 0 1em;
    }
  }
}
