@import '../../css/general_styling';

.OptionCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ImportWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .ContentHeader {
    border-bottom: 1px solid $light-grey;
    padding: 3em;
    display: block!important;
    h2 {
      @include primary-text($h2, $black);
      font-weight: bold;
    }
    p {
      @include primary-text($h3, $dark-grey);
    }
  }
}

.EmbeddedImportWrapper {
  height: 90%;
}