@import '../../../../../css/_general_styling';

.ScanQRSteps {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;

  .secondStep {
    display: flex;
    flex-direction: column;
    .LineStep {
      display: flex;
      align-items: center;
      img {
        margin: 0 0.5em;
        width: 24px;
      }
      &:first-child {
        margin-bottom: 0.5em;
      }
    }
  }

  .thirdStep {
    display: flex;
    align-items: center;
    img {
      margin: 0 0.5em;
      width: 24px;
    }
  }

  p {
    @include primary-text($label, $black);
    margin-bottom: 0.25em;

    &.NumberText {
      color: $primary-color;
      margin-right: 0.5em;
    }
  }
}
