@import '../../../../css/general_styling';

.EmptyState {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; 
  img {
    margin-bottom: 0.5em;
    height: 70px;
  }
  .ActionButton {
    margin-top: 1em;
  }
  h3 {
    @include primary-text($h3, $primary-color);
    font-feature-settings: normal !important;
    font-variant: normal;
  }
  p {
    @include secondary-text($body, $dark-grey);
    line-height: 1.2em;
    text-align: center;
    width: 50%;
    font-feature-settings: normal !important;
    font-variant: normal;
  }
}
