@import '../../../../css/general_styling';

.EmptyState {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  img{
      margin-bottom: 0.5em;
      height: 70px;
  }

  .ActionButton {
    margin-top: 1em;
  }

  h3 {
    @include primary-text($h3, $primary-color);
  }

  p {
    @include secondary-text($body, $dark-grey);
    line-height: 1.2em;
    text-align: center;
    width: 50%;
  }
}
