@import "../../../../css/general_styling";

.ant-select {
  background: transparent;
  border: transparent;
}

.ant-select-selection-item {
  .LanguageOption {
    @include primary-text(11px, white);
  }
}

.LanguageOption {
  @include primary-text(11px, $secondary-color);
  img {
    width: 35px;
    margin-right: 0.75em;
  }
  margin-right: 1em;
}

.LanguageMenu {
  width: 11em;
  .ant-select{
    width: 100%;
  }
  .ant-select-arrow {
    color: white;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
  }
  .LanguageOption {
    img {
      height: 30px;
      width: 30px;
    }
  }
}
