@import '../../../../css/_general_styling';

.ScanQRInfo {
  margin-left: 2em;
  padding-right: 5em;

  h1 {
    @include secondary-text($h1, $secondary-color);
    margin-bottom: 0.25em;
  }

  h3 {
    @include primary-text($h3, $dark-grey);
  }

  .StepsContainer {
    margin: 4em 0;
  }

  .centeredButton {
    display: flex;
    justify-content: center;
  }
}
