@import '../../../../css/_general_styling';

.ScanQRInfo {
  margin-left: 2em;
  border-right: 1px solid $medium-grey;

  label {
    @include primary-text($h2, $dark-grey);
  }

  p {
    @include primary-text($h2, $primary-color);
  }

  .centeredButton {
    display: flex;
    justify-content: center;
  }
}
