[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_directory }}/consul.hcl

[Service]
Type={{ (consul_expected_servers == '1') | ternary('exec', 'notify') }}
User={{ consul_running_user }}
Group={{ consul_running_group }}
ExecStart={{ consul_installation_directory }}/consul agent -config-dir={{ consul_config_directory }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target