$header-height: 56px;
$description-height: 124px;

.Wrapper {
  .ant-btn.custom {
    float: right;
    width: 100%;
  }
  .GroupEditingContent {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$header-height});
    .filterContainer {
      display: flex;
      align-items: center;
      .groupsCheckbox {
        display: flex;
        align-items: flex-end;
        margin-right: 20px;
      }
      .connectionFilter {
        .FilterControls {
          margin: 0 !important;
          .ant-input-affix-wrapper {
            width: 200px;
            margin-right: 2em;
          }
        }
      }
    }
    .ContactsContainer {
      height: calc(100% - #{$description-height});
      padding: 1em 0;
      align-items: flex-start;
      & > div,
      .GroupContacts,
      .ConnectionsTable {
        width: 100%;
        margin: 0;
      }
      .SaveButtonContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    .GroupNameContainer {
      margin: 1em 0;
      .GroupName {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family: 'Circular-bold', sans-serif;
        .GroupNameForm {
          display: inline-flex;
          margin-bottom: 0px !important;
          .FormContainer {
            width: 84%;
          }
        }
      }
    }
  }
}
