<div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur, arcu vel luctus hendrerit, erat velit
      tincidunt turpis, ac dapibus turpis mauris sed eros. Curabitur facilisis dolor ante, ac dictum tortor tempus vel. Donec
      a egestas leo, id pretium lectus. Nulla facilisi. Nunc rutrum sit amet odio ac ultrices. Fusce vehicula condimentum
      euismod. Curabitur mattis ligula ut erat congue porttitor. Sed justo eros, tincidunt ac massa non, facilisis rutrum
      purus. Morbi quis feugiat mauris. Curabitur vel hendrerit sapien, sed hendrerit turpis. Nulla eleifend nisi mi, eu
      pellentesque lacus vestibulum nec. Fusce mi diam, laoreet at iaculis consectetur, semper nec augue. Quisque et aliquam
      nunc. Curabitur fermentum dapibus arcu, nec cursus orci sodales vel. Nullam pellentesque fringilla lectus, id
      sollicitudin felis dapibus varius.
    </div>
  </div>
</div>