@import "../../../../css/general_styling.scss";
.LayoutOption {
  display: flex;
  margin: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
  border-radius: 6px;
  padding: 1em;
  box-sizing: border-box;
  height: 7em;
  align-content: center;
  .layout-thumb {
    margin: auto;
  }
}

.layoutContainer {
  width: 100%;
  .ant-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .LayoutOption {
      margin: 0 1em;
    }
  }
  .ant-form-item-label label {
    @include primary-text($h3, $black);
  }
}

.customizeHeaderContainer {
  .ant-btn:hover,
  .ant-btn:focus {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.headerContainer {
  h3 {
    @include primary-text($h3, $black);
  }
  .inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    .input {
      width: 45% !important;
      label {
        @include primary-text($label, $grey);
      }
      input {
        border: 1px solid lightgray;
      }
      .ant-input:focus {
        border: 1px solid $primary-color;
      }
    }
    .input:nth-child(2) {
      margin-left: 2%;
    }
  }
}

.rowHeader {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    @include primary-text($h3, $black);
  }
}

.bodyItemContainer {
  .ant-space-item {
    width: 100%;
  }
  .firstGroupInputContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .ant-btn-icon-only {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }
}

.sortable {
  display: flex;
  width: 100%;
  .dragHandleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25em .5em;
    color: #99a2a9;
  }

  .rowHeader {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      @include primary-text($h3, $black);
    }
  }

  .ant-space {
    width: 100%;
  }
  .ant-space-item {
    width: 100%;
  }
  .ant-form-item {
    flex-direction: column;
  }

  .ant-form-item-label {
    display: flex;
    line-height: 23px;
    label {
      @include primary-text($label, $dark-grey);
      @include letter-spacing();
    }

    label::after {
      display: none;
    }
  }

  .firstGroupInputContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
  }
  .ant-btn-icon-only {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
  }
  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn:active {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  .dynamicAttributeInputContainer {
    width: 48%;
    margin: 0 1em 0 0;
    input {
      border: 1px solid lightgray;
    }
  }
  .fixedTextInputContainer {
    width: 100%;
    margin: 0 1em 0 0;
    input {
      border: 1px solid lightgray;
    }
  }
  .ant-form-item-required::before {
    display: none !important;
  }
  .ant-form-item-required::after {
    display: none !important;
  }
}
