@import '../../../../css/general_styling';

.ant-btn {
  @include primary-text($button, $dark-grey);
  height: 35px;
  padding: 0 20px;
  box-shadow: none;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;

  .anticon {
    font-size: 11px;
  }
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: transparent;
}

.theme-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  &:hover,
  &:focus {
    background-color: $primary-color-darker;
    color: $white;
    opacity: 0.7;
    transition: 0.7s;
  }
}

.theme-secondary {
  background-color: $black;
  border-color: $black;
  color: $white;
  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
    opacity: 0.8;
    transition: 0.7s;
  }
}

.theme-outline {
  background-color: $white;
  border-color: $secondary-color;
  color: $secondary-color;
  &:hover,
  &:focus {
    border-color: $secondary-color;
    color: $secondary-color;
    opacity: 0.7;
    transition: 0.7s;
  }
}

.theme-grey {
  background-color: $grey;
  border-color: $grey;
  color: $white;
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $white;
  }
}

.theme-link,
.theme-link:hover,
.theme-link:focus {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color;
  opacity: 0.7;
  transition: 0.7s;
}

.theme-text,
.theme-text:hover,
.theme-text:focus {
  background-color: transparent;
  border-color: transparent;
  color: $black;
  opacity: 0.7;
  transition: 0.7s;
}

.theme-filter {
  height: 32px;
  background-color: $grey;
  border-color: $grey;
  color: $white;
  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $white;
    opacity: 0.7;
    transition: 0.7s;
  }
}

.ButtonContent {
  display: flex;
  .TextContent,
  .ChildrenContent {
    margin: 0 0.5em;
  }
}
