@import '../../../css/general_styling';

.DashboardContactCardContainer {
  width: 30%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
  border-radius: 8px;
  border-left: 4px solid #ff6f6f;
  height: fit-content;
  padding: 16px 20px;
}

.HeaderCardContainer {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

.titleCardContainer {
  @include primary-text($button, #26385b);
  font-weight: 600;
}

.divider {
  .ant-divider {
    margin: 12px 0 !important;
  }
}

.beigeBullet{
  background-color: #FEAA91
}

.greenBullet{
  background-color: #00D793
}

.violetBullet{
  background-color: #AF2DFF
}