@import '../../css/general_styling';

.StudentCreationHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  h1 {
    @include secondary-text($h1, $secondary-color);
  }
}

.GroupSelection {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  
  div {
    width: 30em;
  }

  p {
    margin: 1em;
  }
}

.EditableTable {
  .ant-table-tbody {
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
  }
}
