@import '../../../../css/general_styling';

.CreatedCredential {
  margin: 0 4em;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h3 {
    @include primary-text($h3, $secondary-color);
    width: 250px;
    line-height: 2;
    position: relative;
    margin-bottom: 2em;

    /* bottom line */
    &.line-bottom::after {
      content: '';
      position: absolute;
      background-color: $primary-color;
      width: 10%;
      height: 3px;
      bottom: -5px;
      left: 0;
    }
  }

  .ContainerCredential {
    width: 100%;
    display: flex;
    justify-content: center;

    .CredentialTemplate {
      width: 100%;
    }
  }
}
