@import '../../../../../css/_general_styling';

.CongratsStep {
  padding: 0 2em;

  .LeftSideCongrats {
    width: 100%;
    h1 {
      @include primary-text($h2, $black);
      strong {
        font-weight: 600;
      }
    }

    .ContactFormButtonContainer {
      margin-top: 4em;
    }
  }
  .RightSideCongrats {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    img {
      width: 235px;
    }
  }
}
