@import '../../../../css/general_styling';

.ConnectionCredentials {
  display: flex;
  margin-bottom: 1em;

  .CredentialData {
    display: flex;
    img {
      width: 45px;
      height: 45px;
      border-radius: 4px;
      margin-right: 1em;
    }
    .CredentialDataText {
      h3 {
        @include primary-text($h3, $secondary-color);
      }
      p {
        @include primary-text($body, $secondary-color);
      }
    }
  }

  .CredentialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $light-grey;
  }
}
