@import '../../../css/general_styling.scss';

.tutorialOnboarding {
  position: relative;
  .slick-dots li.slick-active {
    opacity: 1;
    width: 10px;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    background: $primary-color;
    opacity: 0.5;
    border-radius: 50px;
  }
  .slick-dots li button {
    height: 100%;
    border-radius: 50px;
  }
}

.containerStyle {
  display: flex !important;
  align-items: center;
  justify-content: center;

  .contentStyle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    h2 {
      @include primary-text($h2, $primary-color);
      font-variant: normal;
      font-weight: bold;
      margin: 0.5em 0;
    }
    p {
      @include primary-text($body, $dark-grey);
      font-variant: normal;
      font-weight: bold;
    }
    img {
      margin: 0 auto;
    }

    button {
      width: fit-content;
      margin-top: 1em;
    }
  }
  .noButton,
  .navButton {
    width: 5%;
  }
}

.ant-carousel .tutorialOnboarding .slick-dots li button {
  background: $primary-color !important;
}

.tutorialOnboarding .slick-dots {
  bottom: -40px !important;
  position: absolute;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}
