@import '../../../../css/general_styling';

.Label {
  border-radius: 4px;
  text-align: center;
  padding: 3px 6px;
  width: max-content;
  p {
    @include secondary-text($label, $white);
  }

  &.invitationMissing {
    background: $grey;
  }

  &.created {
    background: $grey;
  }

  &.connectionMissing {
    background: $dark-grey;
  }

  &.connectionRevoked {
    background: $primary-color-darker;
  }

  &.connectionAccepted {
    background: $success-color;
  }

  &.connected {
    background: $success-color;
  }
}
