@import '../../../../css/general_styling';

.Summary {
  display: flex;
  background: $white;
  border-radius: 4px;
  box-shadow: $shadow;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;

  .SummaryCard {
    .CardType {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 0.5em;
      p {
        @include secondary-text($h3, $secondary-color);
      }
    }
    .CardInfo {
      @include primary-text($body, $dark-grey);
    }
  }
  .SummaryValue {
    h1 {
      @include secondary-text($title, $secondary-color);
    }
  }
}
