server {
    listen       80;

    location / {
        autoindex on;
        root   {{deploy_root}}/gatling/{{gatling_base}}/results;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

