@import '../../../../css/_general_styling';

.CredentialItemLanding {
  @include container();
  padding: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  margin-bottom: 1.5em;

  .CredentialItemLandingDetail {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    img {
      width: inherit;
      height: 30px;
    }

    .CredentialDescription {
      margin-left: 1em;
      span {
        @include primary-text($explain, $grey);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      h3 {
        @include primary-text($body, $black);
        font-weight: 600;
      }
      p {
        @include primary-text($label, $black);
        margin-bottom: 1em;
      }
    }
  }
}
